<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="../templates/template.xhtml">

    <ui:define name="title">#{msg['label.titulo']}</ui:define>

    <ui:define name="viewname">#{msg['label.vista.formulario']}</ui:define>
    <ui:define name="content">
        <h:form id="frmAdministradorEn">
            <p:growl id="growl" showDetail="true" sticky="true" showSummary="false" autoUpdate="true"/> 
            <div>
                <!--Panel de datos inciales de registro -->
                <ui:include src="./../secciones/formAdministradorEn.xhtml" />
            </div>
        </h:form>          
    </ui:define>      
</ui:composition>