<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <meta name="theme-color"  content="#57c279"/>
        </f:facet>
        <title><ui:insert name="title">#{msg['label.titulo']}</ui:insert></title>
        <h:outputScript name="js/nanoscroller.js" library="poseidon-layout" />
        <h:outputScript name="js/layout.js" library="poseidon-layout" />
        <h:outputScript name="js/swipe.js" library="poseidon-layout" />

        <h:outputStylesheet name="movilidad.css" library="css" />


        <link rel="shortcut icon" type="image/x-icon" href="#{resource['images/favicon.ico']}"/>     
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" /> 

        <ui:insert name="head"/>

        <script src='https://www.google.com/recaptcha/api.js'></script>

        <script>
            PrimeFaces.locales['es'] = {
                closeText: 'Cerrar',
                prevText: 'Anterior',
                nextText: 'Siguiente',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                weekHeader: 'Semana',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: '',
                timeOnlyTitle: 'Sólo hora',
                timeText: 'Tiempo',
                hourText: 'Hora',
                minuteText: 'Minuto',
                secondText: 'Segundo',
                currentText: 'Fecha actual',
                ampm: false,
                month: 'Mes',
                week: 'Semana',
                day: 'Día',
                allDayText: 'Todo el día'
            };

        </script>


        <script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq)
                    return;
                n = f.fbq = function () {
                    n.callMethod ?
                            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq)
                    f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window,
                    document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '1476305875998005'); // Insert your pixel ID here.
            fbq('track', 'PageView');
        </script>

        <script type="text/javascript">
            function start() {
                PF('statusDialog').show();
            }

            function stop() {
                PF('statusDialog').hide();
            }
        </script>

    </h:head>

    <style type="text/css">


        .ui-steps .ui-steps-item {
            width: 12%;
        }

        .ui-state-highlight {
            text-shadow: none !important;
            cursor:pointer;
        }

        .ui-steps.custom {
            margin-bottom: 30px;
        }

        .ui-steps.custom .ui-steps-item .ui-menuitem-link {
            height: 10px;
            padding: 0 1em;
        }

        .ui-steps.custom .ui-steps-item .ui-steps-number {
            background-color: #0081c2;
            color: #FFFFFF;
            display: inline-block;
            width: 30px;
            border-radius: 10px;
            margin-top: -10px;
            margin-bottom: 10px;
        }

        .ui-steps.custom .ui-steps-item.ui-state-highlight .ui-steps-title {
            color: #555;
        }

    </style>


    <h:body styleClass="main-body">

        <!-- WRAPPER -->
        <div id="wrapper">
            <!-- HEADER -->
            <div id="header">
                <!-- Logos -->
                <ui:include src="./../secciones/header.xhtml" />
                <!-- ENDS Logos -->
            </div>
            <!-- ENDS HEADER -->

            <!-- MAIN -->
            <div id="main">
                <!-- content -->    
                <div class="layout-main-content">
                    <ui:insert name="content">Content</ui:insert>
                </div>



                <!-- ENDS content -->

                <!-- time out -->
                <ui:include src="./../secciones/timeout.xhtml" />
                <!-- ENDS time out -->
            </div>
            <!-- ENDS MAIN -->

            <!-- FOOTER -->
            <div id="footer">
                <p>
                    <strong>Fundación Universitaria Konrad Lorenz</strong><br/>
                    <span>Cra. 9 bis # 62 - 43, Bogotá, Colombia</span><br/>
                    <span>PBX +57 1 3472311, Cancilleria opción 147</span><br/>
                    <i>Vigilada Mineducación</i>
                </p>
            </div>
            <!-- ENDS FOOTER -->
        </div>
        <!-- ENDS WRAPPER -->

    </h:body>

</html>