<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="ui-g">
        <div class="ui-g-10"></div>
        <div class="ui-g-2">
             <p:commandButton value="#{msg['label.salir']}" action="#{consultarAdmSolicitudSaliente.logout()}"   icon="fa fa-sign-out"  immediate="true" style="margin-left: 85%;"/>
        </div>
    </div>
    <br/>
    <div class="ui-g">
        <div class="ui-g-10">
        </div>
        <div class="ui-g-2">
            <p:commandLink  value="#{msg['label.general.volver']}" action="#{consultarAdmSolicitudSaliente.onVolver()}" style="color: #00acac;"  immediate="true" />
        </div>
    </div>
    <br/> <br/>

    <h:panelGrid id="panelCrearSolicitud" style="margin: 20px;">
        <p:tabView id="crearSolicitud" orientation="left" style="background:whitesmoke; border: white;" >   

            <!-- Inf Personal Estudiante-->
            <p:tab id="tabInfEstudiante" title="#{msg['label.infPersonal']}">  
                <p:panel id="panelInfPersonal" style="background: whitesmoke" >
                    <br/>
                    <div class="ui-g">
                        <div class="ui-g-1"></div>
                        <div class="ui-g-8">
                            <br/>
                            <p:outputLabel value="#{msg['label.obligatorio']}" 
                                           style="color: #e44d26;font-size: 13px;font-weight: bold"/>
                            <br/>
                            <br/>
                            <br/>
                            <p:outputLabel value="#{msg['label.apellido']} " style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:80%"
                                         value="#{consultarAdmSolicitudSaliente.metInfUsuarioEscolaris.apellidos}" readonly="true"/>
                            <br/>
                            <br/>
                            <br/>

                            <p:outputLabel value="#{msg['label.nombre']}" style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%"
                                         value="#{consultarAdmSolicitudSaliente.metInfUsuarioEscolaris.nombres}" readonly="true"/>
                            <br/>
                            <br/>
                            <br/>

                            <p:outputLabel value="#{msg['label.genero']} "  style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%"
                                         value="#{consultarAdmSolicitudSaliente.metInfUsuarioEscolaris.metGenero.nombreEspaniol}" readonly="true"/>
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.tipoDocumento']} "  style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%"
                                         value="#{consultarAdmSolicitudSaliente.metInfUsuarioEscolaris.metTipoIdentificacion.nombre}" readonly="true"/>
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.numDocumento']} "  style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%"
                                          value="#{consultarAdmSolicitudSaliente.metInfUsuarioEscolaris.numeroIdentificacion}" readonly="true"/> 
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.lugarExpedicion']} "  style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%"
                                          value="#{consultarAdmSolicitudSaliente.metInfUsuarioEscolaris.lugarExpedicion}" readonly="true"/>                      
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.fechaNacimiento']} "  style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:calendar inputStyle="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%;" 
                                        style="background: white;border-image: none" 
                                        yearRange="c-60:c" showOn="button" pattern="dd/MM/yyyy"
                                        value="#{consultarAdmSolicitudSaliente.metInfUsuarioEscolaris.fechaNacimiento}" locale="es" navigator="false"/>
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.lugarNacimiento']} " style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudSaliente.metInfUsuarioEscolaris.lugarNacimiento}"
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%;" readonly="true"/>
                            <br/><br/><br/>

                            <p:outputLabel  value="#{msg['label.nacionalidad']} "  style="font-size: 18px;"/>
                            <p:inputText value="#{consultarAdmSolicitudSaliente.metInfUsuario.nacionalidad}"
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%;" readonly="true"/>
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.codigoEstudiantil']} "  style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%"
                                          value="#{consultarAdmSolicitudSaliente.metInfUsuarioEscolaris.codigoEstudiantil}" readonly="true"/>                      
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.direccion']} "  style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudSaliente.metInfUsuarioEscolaris.direccionResidencia}"  
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%;" readonly="true"/>
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.telCasa']}"  style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText  value="#{consultarAdmSolicitudSaliente.metInfUsuarioEscolaris.telCasa}"
                                          style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%;" readonly="true"/>
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.celular']}"  style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudSaliente.metInfUsuarioEscolaris.celular}"
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%;" readonly="true"/>
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.emailInstitucional']}"  style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudSaliente.metInfUsuarioEscolaris.emailInstitucional}"
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%;" readonly="true"/>
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.emailAlternativo']}"  style="font-size: 18px;" />
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudSaliente.metInfUsuarioEscolaris.emailAlternativo}"
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%;" readonly="true"/>
                            <br/><br/><br/>
                        </div>
                    </div>
                </p:panel>         
            </p:tab>

            <!-- PROGRAMA ACADEMICO-->
            <p:tab  title="#{msg['label.infAcademico']}">
                <p:panel id="panelProgramaAcademico" style="background: whitesmoke" >
                    <br/>   
                    <div class="ui-g">
                        <div class="ui-g-1"></div>

                        <div class="ui-g-8">
                            <br/>
                            <p:outputLabel value="#{msg['label.obligatorio']}" 
                                           style="color: #e44d26;font-size: 13px;font-weight: bold"/>
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.nivelEducacion']} " style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudSaliente.nivelEducacion}" readonly="true" style="border-top: none; border-left: none; border-right: none; width: 80%;"/> 
                            <br/><br/><br/> 

                            <p:outputLabel value="#{msg['label.facultad']} " style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudSaliente.metInfUsuarioEscolaris.facultadEstSaliente}" 
                                         style="border-top: none; border-left: none; border-right: none; width: 80%;" readonly="true"/> 
                            <br/><br/><br/> 

                            <p:outputLabel value="#{msg['label.semestre']} " style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudSaliente.metInfUsuarioEscolaris.semestreEstSaliente}" readonly="true"
                                         style="border-top: none; border-left: none; border-right: none; width: 80%;"/> 
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.programa']} " style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudSaliente.metInfUsuarioEscolaris.programaEstSaliente}"
                                         style="border-top: none; border-left: none; border-right: none; width: 80%;" readonly="true"/>     
                            <br/><br/><br/> 

                            <p:outputLabel value="#{msg['label.promedio']} " style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudSaliente.metSolicitud.promedioAcumulado}"
                                         style="border-top: none; border-left: none; border-right: none; width: 80%;" readonly="true"/>
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.promedioUltSemestre']} " style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudSaliente.metSolicitud.promedioUltSemestre}"
                                         style="border-top: none; border-left: none; border-right: none; width: 80%;" readonly="true"/>
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.idiomas']} " style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                            <p:panelGrid id="pIdiomas" style="margin-top: 2%;margin-bottom:20px;margin-right: 50px;">
                                <f:facet name="header">
                                    <p:row>
                                        <p:column style="color: #444d56;background:#ccc;width: 30px;"></p:column>
                                        <p:column style="color: #444d56;background:#ccc;width: 30px;font-size: 18px;">#{msg['label.nativo']}</p:column>
                                        <p:column style="color: #444d56;background:#ccc;width: 30px;font-size: 18px;">#{msg['label.habla']}</p:column>
                                        <p:column style="color: #444d56;background:#ccc;width: 30px;font-size: 18px;">#{msg['label.escribe']}</p:column>
                                        <p:column style="color: #444d56;background:#ccc;width: 30px;font-size: 18px;">#{msg['label.lee']}</p:column>
                                    </p:row>
                                </f:facet>
                                <p:row>
                                    <p:column style="margin-top: 5px; width:50px;background:white;font-size: 18px;">#{msg['label.espaniol']}</p:column>
                                    <p:column>
                                        <p:selectBooleanCheckbox id="checkIdiomaNativo1" style="margin-left: 16px;" 
                                                                 value="#{consultarAdmSolicitudSaliente.idiomaEspanol.idiomaNativo}"
                                                                 disabled="true">
                                            <p:ajax listener="#{consultarAdmSolicitudSaliente.deshabilitarIdiomaEsp()}" update="pIdiomas" />
                                        </p:selectBooleanCheckbox>

                                    </p:column>
                                    <p:column >
                                        <p:inputText id="out" style="margin-top:5px;color:#5f666c;width:80px;" 
                                                     placeholder="#{msg['placeholder.general.clicAqui']}" 
                                                     value="#{consultarAdmSolicitudSaliente.idiomaEspanol.porcentajeHabla}" 
                                                     readonly="true">
                                            <p:ajax event="blur" update="out" listener="#{consultarAdmSolicitudSaliente.porcentajeIdioma}" />
                                        </p:inputText>
                                    </p:column>
                                    <p:column >
                                        <p:inputText style="margin-top:5px;color:#5f666c;width:80px;" 
                                                     placeholder="#{msg['placeholder.general.clicAqui']}" 
                                                     value="#{consultarAdmSolicitudSaliente.idiomaEspanol.porcentajeEscribe}"
                                                     readonly="true"/>
                                    </p:column>
                                    <p:column>
                                        <p:inputText style="margin-top:5px;color:#5f666c;width:80px;"  
                                                     placeholder="#{msg['placeholder.general.clicAqui']}" 
                                                     value="#{consultarAdmSolicitudSaliente.idiomaEspanol.porcentajeLee}"
                                                     readonly="true"/>
                                    </p:column>
                                </p:row>

                                <p:row>
                                    <p:column style="font-size: 18px;">#{msg['label.ingles']}</p:column>
                                    <p:column >
                                        <p:selectBooleanCheckbox id="checkIdiomaNativo2" style="margin-left: 16px;" 
                                                                 value="#{consultarAdmSolicitudSaliente.idiomaIngles.idiomaNativo}"
                                                                 disabled="true">
                                            <p:ajax listener="#{consultarAdmSolicitudSaliente.deshabilitarIdiomaIng()}" update="pIdiomas" />
                                        </p:selectBooleanCheckbox>
                                    </p:column>
                                    <p:column>
                                        <p:inputText style="margin-top:5px;width:80px;color:#5f666c;" 
                                                     placeholder="#{msg['placeholder.general.clicAqui']}"
                                                     value="#{consultarAdmSolicitudSaliente.idiomaIngles.porcentajeHabla}" 
                                                     readonly="true"/>
                                    </p:column>
                                    <p:column >
                                        <p:inputText style="margin-top:5px;width:80px;color:#5f666c;" 
                                                     placeholder="#{msg['placeholder.general.clicAqui']}"
                                                     value="#{consultarAdmSolicitudSaliente.idiomaIngles.porcentajeEscribe}"
                                                     readonly="true"/>
                                    </p:column>
                                    <p:column >
                                        <p:inputText style="margin-top:5px;width:80px;color:#5f666c;" 
                                                     placeholder="#{msg['placeholder.general.clicAqui']}"
                                                     value="#{consultarAdmSolicitudSaliente.idiomaIngles.porcentajeLee}"
                                                     readonly="true"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column style="font-size: 18px;">#{msg['label.otroCual']}
                                        <p:inputText style="margin-top:5px;width:80px;color:#5f666c;" 
                                                     value="#{consultarAdmSolicitudSaliente.idiomaOtro.namDescripcion}" readonly="true"/> 
                                    </p:column>
                                    <p:column>
                                        <p:selectBooleanCheckbox id="checkIdiomaNativo3" style="margin-left: 16px;" 
                                                                 value="#{consultarAdmSolicitudSaliente.idiomaOtro.idiomaNativo}"
                                                                 disabled="true">
                                            <p:ajax listener="#{consultarAdmSolicitudSaliente.deshabilitarIdiomaOtro()}" update="pIdiomas" />
                                        </p:selectBooleanCheckbox>
                                    </p:column>
                                    <p:column>
                                        <p:inputText style="margin-top:5px;width:80px;color:#5f666c;"  
                                                     placeholder="#{msg['placeholder.general.clicAqui']}"
                                                     value="#{consultarAdmSolicitudSaliente.idiomaOtro.porcentajeHabla}"
                                                     readonly="true"/>
                                    </p:column>
                                    <p:column>
                                        <p:inputText style="margin-top:5px;width:80px;color:#5f666c;"  
                                                     placeholder="#{msg['placeholder.general.clicAqui']}"
                                                     value="#{consultarAdmSolicitudSaliente.idiomaOtro.porcentajeEscribe}"
                                                     readonly="true"/>
                                    </p:column>
                                    <p:column>
                                        <p:inputText style="margin-top:5px;width:80px;color:#5f666c;"  
                                                     placeholder="#{msg['placeholder.general.clicAqui']}"
                                                     value="#{consultarAdmSolicitudSaliente.idiomaOtro.porcentajeLee}"
                                                     readonly="true"/>
                                    </p:column>
                                </p:row> 
                            </p:panelGrid> 
                            <br/>
                            <br/>

                            <p:outputLabel value="#{msg['label.distinciones']} " style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                            <br/>
                            <p:outputLabel value="#{msg['label.notaDistinciones']} " style="font-size: 15px;"/>
                            <br/><br/> 
                            <h:panelGrid id="pDistinciones" rendered="#{consultarAdmSolicitudSaliente.renderedDistinciones}">
                                <p:dataTable id="tableDisticiones" var="disbasicDTtincion" 
                                             value="#{consultarAdmSolicitudSaliente.listaDistinciones}" style="margin-top:2%;width:120%;">
                                    <f:facet name="header" >
                                        <p:outputPanel style="height: 25px;" >
                                            <h:outputText value="#{msg['label.form.distinciones']}" style="font-size:20px; font-weight: bold"/>
                                        </p:outputPanel>
                                    </f:facet>
                                    <p:column  style="width:40px;text-align: center" headerText="#{msg['label.form.anio']}">
                                        <h:outputText value="#{disbasicDTtincion.anio}" style="border: none"/>
                                    </p:column>
                                    <p:column style="width:80px;text-align: center" headerText="#{msg['label.form.logro']}">
                                        <h:outputText   value="#{disbasicDTtincion.descripcion}"/>
                                    </p:column>
                                    <p:column style="width:80px;text-align: center" headerText="#{msg['label.form.soporte']}">
                                        <p:outputLabel value="#{disbasicDTtincion.nombreArchivo}" style="color: #007979;" />
                                        <p:commandButton id="downloadDistincion" value="Download File" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-arrowthick-1-s">
                                            <f:setPropertyActionListener value="#{disbasicDTtincion}" target="#{consultarAdmSolicitudSaliente.selectedDistincion}" />
                                            <p:fileDownload value="#{consultarAdmSolicitudSaliente.archivoDistincion}" />
                                        </p:commandButton>
                                    </p:column>
                                </p:dataTable>
                            </h:panelGrid>

                            <br/><br/><br/> 
                        </div>
                    </div>

                </p:panel>
            </p:tab>

            <!--ACUERDO APRENDIZAJE -->
            <p:tab title="#{msg['label.infAcuerdoApren']}">
                <p:panel id="panelInfMovilidad" style="background: whitesmoke" >
                    <br/>
                    <br/>   
                    <div class="ui-g">
                        <div class="ui-g-1"></div>
                        <div class="ui-g-8">
                            <p:outputLabel value="#{msg['label.obligatorio']}" 
                                           style="color: #e44d26;font-size: 13px;font-weight: bold"/>
                            <br/><br/><br/>

                            <h:panelGrid columns="2">
                                <p:column>
                                    <p:outputLabel value="#{msg['label.institucionDestino']} " style="font-size: 18px;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                    <br/>
                                    <h:panelGrid id="seInstitucionOrigen" columns="1">
                                        <p:selectOneMenu id="listInstCovenio" value="#{consultarAdmSolicitudSaliente.metSolicitud.metInstitucionConvenio.pk}" 
                                                         disabled="true">
                                            <f:selectItem />
                                            <f:selectItems value="#{consultarAdmSolicitudSaliente.listaInstitucionesConvenio}" var="i" itemValue="#{i.pk}" itemLabel="#{i.nombre}" /> 
                                            <p:ajax  update="panelInfInstConvenio" listener="#{consultarAdmSolicitudSaliente.mostrarInstConvenio}"/>
                                        </p:selectOneMenu>
                                    </h:panelGrid>
                                </p:column>
                                <p:column>
                                    <h:panelGrid columns="2" style="margin-top:1%;" rendered="false">
                                        <p:selectBooleanCheckbox id="checkOtraInstitucion" 
                                                                 value="#{consultarAdmSolicitudSaliente.selectOtraInstitucion}"
                                                                 style="color:#5f666c;size: 16px; margin-top: 5%;" disabled="true">
                                            <p:ajax update="panelInfInstConvenio,seInstitucionOrigen,pOtraInstitucionOri"
                                                    listener="#{consultarAdmSolicitudSaliente.procOtraInstitucion}" />
                                        </p:selectBooleanCheckbox>
                                        <p:outputLabel value="#{msg['label.selecOtrInst']} " style="font-size: 16px;"/>
                                    </h:panelGrid>
                                </p:column>
                            </h:panelGrid>

                            <br/><br/>

                            <p:panel id="panelInfInstConvenio" style="border: none;background: whitesmoke">
                                <p:outputLabel for="selectConvenio" value="#{msg['label.form.existeConvenio']} " style="font-size: 18px;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                <p:selectOneRadio id="selectConvenio" value="#{consultarAdmSolicitudSaliente.convenioInstitucion}"  disabled="true">
                                    <f:selectItem itemLabel="#{msg['label.si']}" itemValue="S" />
                                    <f:selectItem itemLabel="No" itemValue="N" />
                                </p:selectOneRadio>
                                <br/><br/><br/>

                                <p:panelGrid id="pInstitucionOri" rendered="#{consultarAdmSolicitudSaliente.renderedInsitucionOrigen}"
                                             style="border: none;background: whitesmoke">

                                    <p:outputLabel value="#{msg['label.contactoInstitucion']} " style="font-size: 18px;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                    <br/>
                                    <p:inputText value="#{consultarAdmSolicitudSaliente.metSolicitud.nombreContactoEntrante}"
                                                 style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:90%" readonly="true"/>  
                                    <br/><br/><br/>

                                    <p:outputLabel value="#{msg['label.telefono']} " style="font-size: 18px;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                    <br/>
                                    <p:inputText value="#{consultarAdmSolicitudSaliente.metSolicitud.telContactoEntrante}"
                                                 style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:90%" readonly="true"/> 
                                    <br/><br/><br/>

                                    <p:outputLabel value="#{msg['label.email']} " style="font-size: 18px;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                    <br/>
                                    <p:inputText value="#{consultarAdmSolicitudSaliente.metSolicitud.emailContactoEntrante}"
                                                 style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:90%" readonly="true"/> 
                                    <br/><br/><br/> 
                                </p:panelGrid>

                                <p:panelGrid id="pOtraInstitucionOri" rendered="#{consultarAdmSolicitudSaliente.renderedPOtraInst}"
                                             style="border: none;background: whitesmoke">   

                                    <p:outputLabel value="#{msg['label.nombreInstitucion']} " style="font-size: 18px;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                    <br/>
                                    <p:inputText id="inptOtraCiudadInstitucion" 
                                                 style="border-top: none; border-left: none; border-right: none;width: 90%;"
                                                 disabled="#{consultarAdmSolicitudSaliente.disableOtrInstitucion}" readonly="true"
                                                 value="#{consultarAdmSolicitudSaliente.metOtraInstitucion.nombreInstitucion}"/> 
                                    <br/><br/><br/>

                                    <p:outputLabel value="#{msg['label.pais']} " style="font-size: 18px;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                    <br/>
                                    <p:selectOneMenu  id="listPaisUniversidad" value="#{consultarAdmSolicitudSaliente.metOtraInstitucion.metPais.pk}"
                                                      requiredMessage="#{msg['mensajerequerido.registro.pais']}" style="width: 85%;"  disabled="true">
                                        <f:selectItem/>
                                        <f:selectItems value="#{consultarAdmSolicitudSaliente.listaPais}" var="p" itemValue="#{p.pk}" itemLabel="#{p.nombre}"/>  
                                    </p:selectOneMenu>
                                    <br/><br/><br/>

                                    <p:outputLabel value="#{msg['label.ciudad']} " style="font-size: 18px;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                    <br/>
                                    <p:inputText value="#{consultarAdmSolicitudSaliente.metOtraInstitucion.ciudadInstitucion}"
                                                 style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:90%" readonly="true"/>  
                                    <br/><br/><br/>

                                    <p:outputLabel value="#{msg['label.contactoInstitucion']} " style="font-size: 18px;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                    <br/>
                                    <p:inputText value="#{consultarAdmSolicitudSaliente.metOtraInstitucion.nombreContacto}"
                                                 style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:90%" readonly="true"/>  
                                    <br/><br/><br/>

                                    <p:outputLabel value="#{msg['label.cargoContacto']} " style="font-size: 18px;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                    <br/>
                                    <p:inputText value="#{consultarAdmSolicitudSaliente.metOtraInstitucion.cargoContacto}"
                                                 style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:90%" readonly="true"/>  
                                    <br/><br/><br/>

                                    <p:outputLabel value="#{msg['label.telefono']} " style="font-size: 18px;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                    <br/>
                                    <p:inputText value="#{consultarAdmSolicitudSaliente.metOtraInstitucion.telContacto}"
                                                 style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:90%" readonly="true"/> 
                                    <br/><br/><br/>

                                    <p:outputLabel value="#{msg['label.email']} " style="font-size: 18px;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                    <br/>
                                    <p:inputText value="#{consultarAdmSolicitudSaliente.metOtraInstitucion.emailContacto}"
                                                 style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:90%" readonly="true"/> 
                                    <br/><br/><br/> 
                                </p:panelGrid>
                            </p:panel>
                        </div>
                    </div> 
                    <div class="ui-g">
                        <div class="ui-g-1"></div>
                        <div class="ui-g-8">
                            <p:outputLabel value="#{msg['label.formEntrante.tipoMovilidad']} " style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:selectOneRadio value="#{consultarAdmSolicitudSaliente.metSolicitud.metTipoMovilidad.pk}"
                                              layout="responsive" columns="1" style="font-size: 15px;" disabled="true">
                                <f:selectItems value="#{consultarAdmSolicitudSaliente.tiposMovilidad}" var="t" itemValue="#{t.pk}" itemLabel="#{t.nombreEspaniol} " />
                            </p:selectOneRadio>
                            <br/>
                            <br/>
                            <br/>

                            <h:outputLabel  value="#{msg['label.formEntrante.fecInicio']}" style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:calendar value="#{consultarAdmSolicitudSaliente.metSolicitud.fechaInicioMovilidad}" mode="inline" navigator="true" 
                                        locale="es" pattern="dd/MM/yyyy"  yearRange="c-60:c" readonly="true" />
                            <br/>
                            <br/>
                            <br/>

                            <h:outputLabel value="#{msg['label.formEntrante.fecFinalizacion']}" style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:calendar value="#{consultarAdmSolicitudSaliente.metSolicitud.fechaFinMovilidad}" mode="inline" navigator="true" 
                                        locale="es" pattern="dd/MM/yyyy"  yearRange="c-60:c"/>
                            <br/>
                            <br/>
                            <br/>
                        </div>
                    </div>
                </p:panel>
            </p:tab>

            <!-- PERFIL MEDICO-->     
            <p:tab title="#{msg['label.infMedicaContacto']}">                       
                <p:panel id="panelInfMedicaContacto" style="background: whitesmoke">
                    <br/>  
                    <div class="ui-g">

                        <div class="ui-g-1"></div>

                        <div class="ui-g-8">
                            <br/>
                            <p:outputLabel value="#{msg['label.obligatorio']}" 
                                           style="color: #e44d26;font-size: 13px;font-weight: bold"/>
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.tipoSangre']} " style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:selectOneMenu value="#{consultarAdmSolicitudSaliente.metInfUsuario.tipoSangre}" style="margin-top: 2%;" disabled="true">
                                <f:selectItem/>
                                <f:selectItems value="#{consultarAdmSolicitudSaliente.itemsTipoSangre}" />                    
                            </p:selectOneMenu> 
                            <p:outputLabel value="#{consultarAdmSolicitudSaliente.metInfUsuarioEscolaris.tipoSangre}" style="font-size: 18px;" />
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.alergias']} " style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <div class="ui-g">
                                <div class="ui-g-4">
                                    <p:selectOneRadio value="#{consultarAdmSolicitudSaliente.metSolicitud.tieneAlergia}" style="margin-top: 2%;" disabled="true">
                                        <f:selectItem itemLabel="#{msg['label.si']}" itemValue="#{msg['label.si']}" />
                                        <f:selectItem itemLabel="No" itemValue="No" />
                                    </p:selectOneRadio> 
                                </div>
                                <div class="ui-g-8">
                                    <p:inputTextarea rows="1"  cols="20" style="width:100%;" placeholder="#{msg['label.cuales']}"
                                                     value="#{consultarAdmSolicitudSaliente.metSolicitud.alergias}" readonly="true"/>
                                </div>
                            </div>
                            <br/><br/>

                            <p:outputLabel value="#{msg['label.enfCronicas']} "  style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <div class="ui-g">
                                <div class="ui-g-4">
                                    <p:selectOneRadio value="#{consultarAdmSolicitudSaliente.metSolicitud.tieneEnfermedades}" style="margin-top: 2%;" disabled="true">
                                        <f:selectItem itemLabel="#{msg['label.si']}" itemValue="#{msg['label.si']}" />
                                        <f:selectItem itemLabel="No" itemValue="No" />
                                    </p:selectOneRadio> 
                                </div>
                                <div class="ui-g-8">
                                    <p:inputTextarea rows="1"  cols="20" style="width:100%;" placeholder="#{msg['label.cuales']}"
                                                     value="#{consultarAdmSolicitudSaliente.metSolicitud.enfermedades}"/>
                                </div>
                            </div>
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.medicamento']} " style="font-size: 18px;"  />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>        
                            <div class="ui-g">
                                <div class="ui-g-4">
                                    <p:selectOneRadio value="#{consultarAdmSolicitudSaliente.metSolicitud.tieneMedicamento}" style="margin-top: 2%;" disabled="true">
                                        <f:selectItem itemLabel="#{msg['label.si']}" itemValue="#{msg['label.si']}" />
                                        <f:selectItem itemLabel="No" itemValue="No" />
                                    </p:selectOneRadio> 
                                </div>
                                <div class="ui-g-8">
                                    <p:inputTextarea rows="1"  cols="20" style="width:100%;" placeholder="#{msg['label.cuales']}"
                                                     value="#{consultarAdmSolicitudSaliente.metSolicitud.medicamentos}" readonly="true"/>
                                </div>
                            </div>
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.restriccion']} "  style="font-size: 18px;"  />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>     
                            <div class="ui-g">
                                <div class="ui-g-4">
                                    <p:selectOneRadio value="#{consultarAdmSolicitudSaliente.metSolicitud.tieneRestriccionAlm}" style="margin-top: 2%;" disabled="true">
                                        <f:selectItem itemLabel="#{msg['label.si']}" itemValue="#{msg['label.si']}" />
                                        <f:selectItem itemLabel="No" itemValue="No" />
                                    </p:selectOneRadio> 
                                </div>
                                <div class="ui-g-8">
                                    <p:inputTextarea rows="1" cols="20" style="width:100%;" placeholder="#{msg['label.cuales']}"
                                                     value="#{consultarAdmSolicitudSaliente.metSolicitud.restriccionAlimentaria}"/>
                                </div>
                            </div>
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.nameAcudiente']} "  style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudSaliente.metContactoEmergencia.nombres}"  readonly="true"
                                         style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:80%" />
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.parentesco']} "  style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <h:panelGrid id="panelParentesco" columns="2">
                                <p:column>
                                    <p:selectOneMenu  value="#{consultarAdmSolicitudSaliente.metContactoEmergencia.metParentesco.pk}" disabled="true">
                                        <f:selectItem />
                                        <f:selectItems value="#{consultarAdmSolicitudSaliente.tiposParentesco}" var="t" itemValue="#{t.pk}" itemLabel="#{t.nombreEspaniol}"/>    
                                        <p:ajax update="panelParentesco" listener="#{consultarAdmSolicitudSaliente.otroParentesco()}"/>
                                    </p:selectOneMenu>
                                </p:column>
                                <p:column>
                                    <p:inputText rendered="#{consultarAdmSolicitudSaliente.renderedOtroParentesco}"
                                                 value="#{consultarAdmSolicitudSaliente.metContactoEmergencia.otroParentesco}"
                                                 style="margin-left: 2%; margin-top: 1%;border-top:none;border-left:none;border-right: none;width:50%" />
                                </p:column>
                            </h:panelGrid>
                            <br/><br/>

                            <p:outputLabel value="#{msg['label.direccion']} "  style="font-size: 18px;"  />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudSaliente.metContactoEmergencia.direccion}"  readonly="true"
                                         style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:70%"/>
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.telCasa']} "  style="font-size: 18px;"  />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudSaliente.metContactoEmergencia.telefono}"  readonly="true"
                                         style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:70%"/>
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.celular']} "  style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudSaliente.metContactoEmergencia.celular}"  readonly="true"
                                         style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:70%"/>

                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.email']} " style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudSaliente.metContactoEmergencia.email}" readonly="true"
                                         style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:70%"/>
                            <br/><br/><br/>   
                        </div>
                    </div>
                </p:panel>
            </p:tab>

            <!-- DOCUMENTOS ADJUNTOS-->            
            <p:tab title="#{msg['label.archivosAdjuntos']}">
                <p:panel id="panelDocumentos" style="background: whitesmoke">
                    <br/>
                    <div class="ui-g">

                        <div class="ui-g-1"></div>

                        <div class="ui-g-8">
                            <br/>
                            <p:dataTable id="tableArchivos" var="listaArchivo" 
                                         value="#{consultarAdmSolicitudSaliente.listSoporteAdjunto}" style="margin-top:2%;width:120%;">
                                <f:facet name="header" >
                                    <p:outputPanel style="height: 25px;" >
                                        <h:outputText value="Archivos guardados" style="font-size:20px; font-weight: bold"/>
                                    </p:outputPanel>
                                </f:facet>
                                <p:column  style="width:40px;text-align: center" headerText="Nombre del Archivo">
                                    <h:outputText value="#{listaArchivo.nombre}" style="border: none"/>
                                </p:column>
                                <p:column style="width:80px;text-align: center" headerText="Descripción">
                                    <h:outputText   value="#{listaArchivo.descripcion}"/>
                                </p:column>
                                <p:column style="width:80px;text-align: center" headerText="Descargar">
                                    <p:commandButton id="download2" value="Download File" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-arrowthick-1-s">
                                        <f:setPropertyActionListener value="#{listaArchivo}" target="#{consultarAdmSolicitudSaliente.selectArchivo}"/>
                                        <p:fileDownload value="#{consultarAdmSolicitudSaliente.archivo}" />
                                    </p:commandButton>
                                </p:column>
                            </p:dataTable>
                            <br/><br/>
                        </div>
                        <div class="ui-g-1"></div>
                    </div>
                </p:panel>
            </p:tab>
        </p:tabView> 

        <h:panelGrid columns="2" style="margin-left: 500px;width:400px;margin-top: 20px;" >   
            <p:commandButton value="Aprobar Solicitud" action="#{consultarAdmSolicitudSaliente.aprobarSolicitud()}">
                <p:confirm header="#{msg['label.registro.confirmacion']}" message="¿Desea aprobar esta solicitud?" icon="ui-icon-alert" />
            </p:commandButton>   
        </h:panelGrid>

    </h:panelGrid> 


    <div>
        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
            <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
        </p:confirmDialog>
    </div>
    <div>
        <h:form id="frmMensajeCE">
            <p:dialog modal="true" widgetVar="dlgMensajeExitoSolicitudAp" resizable="false">
                <h:panelGrid>
                    <h:outputLabel  value="Solicitud aprobada con éxito" />
                    <f:facet name="footer">
                        <p:commandButton id="cbtlkCE" value="Aceptar" action="#{consultarAdmSolicitudSaliente.onVolver()}" />
                    </f:facet>  
                </h:panelGrid>
            </p:dialog>
        </h:form>
    </div>
</ui:composition>