<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <div class="ui-g">
        <div class="ui-g-10"></div>
        <div class="ui-g-2">
            <p:commandButton value="#{msg['label.salir']}" action="#{consultarAdmSolicitudEntrante.logout()}"   icon="fa fa-sign-out"  immediate="true" style="margin-left: 85%;"/>
        </div>
    </div>
    <br/>
    <div class="ui-g">
        <div class="ui-g-10">
        </div>
        <div class="ui-g-2">
            <p:commandLink  value="#{msg['label.general.volver']}" action="#{consultarAdmSolicitudEntrante.onVolver()}" style="color: #00acac;"  immediate="true" />
        </div>
    </div>
    <br/> <br/>
    <h:panelGrid id="panelListadoSolicitudes">

        <p:tabView id="crearSolicitud" orientation="left" style="background:whitesmoke; border: white;" >   
            <!-- Inf Personal Estudiante-->
            <p:tab id="tabInfEstudiante" title="#{msg['label.infPersonal']}">  
                <p:panel id="panelInfPersonal" style="background: whitesmoke" >
                    <br/>
                    <div class="ui-g">
                        <div class="ui-g-1"></div>
                        <div class="ui-g-1"></div>
                        <div class="ui-g-8"></div>              
                    </div>
                    <p:separator/>
                    <br/>    
                    <div class="ui-g">

                        <div class="ui-g-1"></div>

                        <div class="ui-g-8">
                            <br/>
                            <p:outputLabel value="#{msg['label.obligatorio']}" 
                                           style="color: #e44d26;font-size: 13px;font-weight: bold"/>
                            <br/>
                            <br/>
                            <br/>
                            <p:outputLabel value="#{msg['label.apellido']} " style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:80%"
                                         value="#{consultarAdmSolicitudEntrante.metInfUsuario.apellidos}" readonly="true"/>
                            <br/>
                            <br/>
                            <br/>

                            <p:outputLabel value="#{msg['label.nombre']}" style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%"
                                         value="#{consultarAdmSolicitudEntrante.metInfUsuario.nombres}" readonly="true"/>
                            <br/>
                            <br/>
                            <br/>

                            <p:outputLabel value="#{msg['label.genero']} "  style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:selectOneRadio value="#{consultarAdmSolicitudEntrante.metInfUsuario.metGenero.pk}" disabled="true"
                                              layout="responsive" columns="1" style="font-size: 15px;">
                                <f:selectItems value="#{consultarAdmSolicitudEntrante.tiposGenero}" var="g" itemValue="#{g.pk}" itemLabel="#{g.nombreEspaniol} (#{g.nombreIngles})" />
                            </p:selectOneRadio><br/>
                            <br/>

                            <p:outputLabel value="#{msg['label.tipoDocumento']} "  style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:selectOneRadio rendered="#{consultarAdmSolicitudEntrante.campoEspaniol}" value="#{consultarAdmSolicitudEntrante.metInfUsuario.metTipoIdentificacion.pk}"
                                              layout="responsive" columns="1" style="font-size: 15px;" disabled="true">
                                <f:selectItems value="#{consultarAdmSolicitudEntrante.tiposIdentificacion}" var="t" itemValue="#{t.pk}" itemLabel="#{t.nombre} (#{t.nombreIngles})" />
                            </p:selectOneRadio>
                            <br/>
                            <br/>

                            <p:outputLabel value="#{msg['label.numDocumento']} "  style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%"
                                          value="#{consultarAdmSolicitudEntrante.metInfUsuario.numeroIdentificacion}" readonly="true"/>                      
                            <br/>
                            <br/>
                            <br/>

                            <p:outputLabel value="#{msg['label.fechaNacimiento']} "  style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <br/>
                            <p:calendar value="#{consultarAdmSolicitudEntrante.metInfUsuario.fechaNacimiento}" mode="inline" navigator="true" 
                                        locale="es" pattern="dd/MM/yyyy"  yearRange="c-60:c"/>
                            <br/>
                            <br/>

                            <p:outputLabel value="#{msg['label.lugarNacimiento']} " style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <div class="ui-g">
                                <div class="ui-g-6">
                                    <p:inputText  id="inpCiudad" value="#{consultarAdmSolicitudEntrante.metInfUsuario.otraCiudad}" placeholder="#{msg['label.ciudad']}"
                                                  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:100%;" readonly="true"/> 
                                    <p:tooltip value="#{msg['label.ciudad']}" for="inpCiudad" position="left"/>
                                </div>
                                <div class="ui-g-6">
                                    <p:selectOneMenu  id="listPais"  style="margin-top:1%;width:90%;color:#5f666c;"   
                                                      value="#{consultarAdmSolicitudEntrante.metInfUsuario.metPais.pk}"
                                                      requiredMessage="#{msg['mensajerequerido.registro.pais']}" disabled="true">
                                        <f:selectItem  />
                                        <f:selectItems value="#{consultarAdmSolicitudEntrante.listaPais}" var="p" itemValue="#{p.pk}" itemLabel="#{p.nombre}" />  
                                    </p:selectOneMenu>
                                    <p:tooltip value="#{msg['label.pais']}" for="listPais" position="left"/>
                                </div>
                            </div>
                            <br/>

                            <p:outputLabel  value="#{msg['label.nacionalidad']} "  style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <p:inputText value="#{consultarAdmSolicitudEntrante.metInfUsuario.nacionalidad}"
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%;" readonly="true"/>
                            <br/>
                            <br/>
                            <br/>

                            <p:outputLabel value="#{msg['label.direccion']} "  style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudEntrante.metInfUsuario.direccionResidencia}"  
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%;" readonly="true"/>
                            <br/>
                            <br/>
                            <br/>

                            <p:outputLabel value="#{msg['label.telCasa']}"  style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText  value="#{consultarAdmSolicitudEntrante.metInfUsuario.telCasa}"
                                          style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%;" readonly="true"/>
                            <br/>
                            <br/>
                            <br/>

                            <p:outputLabel value="#{msg['label.celular']}"  style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudEntrante.metInfUsuario.celular}"
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%;" readonly="true"/>
                            <br/>
                            <br/>
                            <br/>

                            <p:outputLabel value="#{msg['label.email1']}"  style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudEntrante.metInfUsuario.emailInstitucional}"
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%;" readonly="true"/>
                            <br/>
                            <br/>
                            <br/>

                            <p:outputLabel value="#{msg['label.email2']}"  style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudEntrante.metInfUsuario.emailAlternativo}"
                                         style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%;" readonly="true"/>
                            <br/>
                            <br/>
                            <br/>
                        </div>
                    </div>               
                </p:panel>
            </p:tab>

            <!-- Información Institución origen-->
            <p:tab id="tabInstitucionOrigen" title="#{msg['label.infInstitucionOrigen']}" >
                <p:panel id="panelInfInstitucionOrigen" style="background: whitesmoke" >
                    <div class="ui-g">
                        <div class="ui-g-1"></div>

                        <div class="ui-g-8">
                            <br/>
                            <p:outputLabel value="#{msg['label.obligatorio']}" 
                                           style="color: #e44d26;font-size: 13px;font-weight: bold"/>
                            <br/><br/><br/>

                            <h:panelGrid columns="2">
                                <p:column>
                                    <p:outputLabel value="#{msg['label.institucionOrigen']} " style="font-size: 18px;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                    <br/>
                                    <h:panelGrid id="seInstitucionOrigen" columns="1">
                                        <p:selectOneMenu id="listInstCovenio" value="#{consultarAdmSolicitudEntrante.metSolicitud.metInstitucionConvenio.pk}" 
                                                         disabled="true">
                                            <f:selectItem />
                                            <f:selectItems value="#{consultarAdmSolicitudEntrante.listaInstitucionesConvenio}" var="i" itemValue="#{i.pk}" itemLabel="#{i.nombre}" /> 
                                            <p:ajax  update="panelInfInstConvenio" listener="#{consultarAdmSolicitudEntrante.mostrarInstConvenio}"/>
                                        </p:selectOneMenu>
                                    </h:panelGrid>
                                </p:column>
                                <p:column>
                                    <h:panelGrid columns="2" style="margin-top:1%;">
                                        <p:selectBooleanCheckbox id="checkOtraInstitucion" 
                                                                 value="#{consultarAdmSolicitudEntrante.selectOtraInstitucion}"
                                                                 style="color:#5f666c;size: 16px; margin-top: 5%;" disabled="true">
                                            <p:ajax update="panelInfInstConvenio,seInstitucionOrigen,pOtraInstitucionOri"
                                                    listener="#{consultarAdmSolicitudEntrante.procOtraInstitucion}" />
                                        </p:selectBooleanCheckbox>
                                        <p:outputLabel value="#{msg['label.selecOtrInst']} " style="font-size: 16px;"/>
                                    </h:panelGrid>
                                </p:column>
                            </h:panelGrid>

                            <br/><br/>

                            <p:panel id="panelInfInstConvenio" style="border: none;background: whitesmoke">
                                <p:outputLabel for="selectConvenio" value="#{msg['label.form.existeConvenio']} " style="font-size: 18px;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                <p:selectOneRadio id="selectConvenio" value="#{consultarAdmSolicitudEntrante.convenioInstitucion}" disabled="true">
                                    <f:selectItem itemLabel="#{msg['label.si']}" itemValue="S" />
                                    <f:selectItem itemLabel="No" itemValue="N" />
                                </p:selectOneRadio>
                                <br/><br/><br/>

                                <p:panelGrid id="pInstitucionOri" rendered="#{consultarAdmSolicitudEntrante.renderedInsitucionOrigen}"
                                             style="border: none;background: whitesmoke">

                                    <p:outputLabel value="#{msg['label.contactoInstitucion']} " style="font-size: 18px;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                    <br/>
                                    <p:inputText value="#{consultarAdmSolicitudEntrante.metSolicitud.nombreContactoEntrante}"
                                                 style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:90%" readonly="true"/>  
                                    <br/><br/><br/>

                                    <p:outputLabel value="#{msg['label.telefono']} " style="font-size: 18px;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                    <br/>
                                    <p:inputText value="#{consultarAdmSolicitudEntrante.metSolicitud.telContactoEntrante}"
                                                 style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:90%" readonly="true"/> 
                                    <br/><br/><br/>

                                    <p:outputLabel value="#{msg['label.email']} " style="font-size: 18px;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                    <br/>
                                    <p:inputText value="#{consultarAdmSolicitudEntrante.metSolicitud.emailContactoEntrante}"
                                                 style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:90%" readonly="true"/> 
                                    <br/><br/><br/> 
                                </p:panelGrid>

                                <p:panelGrid id="pOtraInstitucionOri" rendered="#{consultarAdmSolicitudEntrante.renderedPOtraInst}"
                                             style="border: none;background: whitesmoke">   

                                    <p:outputLabel value="#{msg['label.nombreInstitucion']} " style="font-size: 18px;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                    <br/>
                                    <p:inputText id="inptOtraCiudadInstitucion" 
                                                 style="border-top: none; border-left: none; border-right: none;width: 90%;"
                                                 disabled="#{consultarAdmSolicitudEntrante.disableOtrInstitucion}"
                                                 value="#{consultarAdmSolicitudEntrante.metOtraInstitucion.nombreInstitucion}" readonly="true"/> 
                                    <br/><br/><br/>

                                    <p:outputLabel value="#{msg['label.pais']} " style="font-size: 18px;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                    <br/>
                                    <p:selectOneMenu  id="listPaisUniversidad" value="#{consultarAdmSolicitudEntrante.metOtraInstitucion.metPais.pk}"
                                                      requiredMessage="#{msg['mensajerequerido.registro.pais']}" style="width: 85%;" disabled="true">
                                        <f:selectItem/>
                                        <f:selectItems value="#{consultarAdmSolicitudEntrante.listaPais}" var="p" itemValue="#{p.pk}" itemLabel="#{p.nombre}"/>  
                                    </p:selectOneMenu>
                                    <br/><br/><br/>

                                    <p:outputLabel value="#{msg['label.ciudad']} " style="font-size: 18px;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                    <br/>
                                    <p:inputText value="#{consultarAdmSolicitudEntrante.metOtraInstitucion.ciudadInstitucion}"
                                                 style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:90%" readonly="true"/>  
                                    <br/><br/><br/>

                                    <p:outputLabel value="#{msg['label.contactoInstitucion']} " style="font-size: 18px;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                    <br/>
                                    <p:inputText value="#{consultarAdmSolicitudEntrante.metOtraInstitucion.nombreContacto}"
                                                 style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:90%" readonly="true"/>  
                                    <br/><br/><br/>

                                    <p:outputLabel value="#{msg['label.cargoContacto']} " style="font-size: 18px;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                    <br/>
                                    <p:inputText value="#{consultarAdmSolicitudEntrante.metOtraInstitucion.cargoContacto}"
                                                 style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:90%" readonly="true"/>  
                                    <br/><br/><br/>

                                    <p:outputLabel value="#{msg['label.telefono']} " style="font-size: 18px;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                    <br/>
                                    <p:inputText value="#{consultarAdmSolicitudEntrante.metOtraInstitucion.telContacto}"
                                                 style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:90%" readonly="true"/> 
                                    <br/><br/><br/>

                                    <p:outputLabel value="#{msg['label.email']} " style="font-size: 18px;"/>
                                    <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                    <br/>
                                    <p:inputText value="#{consultarAdmSolicitudEntrante.metOtraInstitucion.emailContacto}"
                                                 style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:90%" readonly="true"/> 
                                    <br/><br/><br/> 
                                </p:panelGrid>
                            </p:panel>
                        </div>
                    </div>
                </p:panel>
            </p:tab>

            <!-- Información Académica-->
            <p:tab  title="#{msg['label.infAcademico']}">
                <p:panel id="panelProgramaAcademico" style="background: whitesmoke">
                    <div class="ui-g">
                        <div class="ui-g-1"></div>

                        <div class="ui-g-8">
                            <br/>
                            <p:outputLabel value="#{msg['label.obligatorio']}" 
                                           style="color: #e44d26;font-size: 13px;font-weight: bold"/>
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.nivelEducacion']} " style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                            <br/>
                            <p:selectOneRadio value="#{consultarAdmSolicitudEntrante.metSolicitud.metNivelEstEntrante.pk}" 
                                              layout="responsive" columns="1" style="font-size: 15px;" disabled="true">
                                <f:selectItems value="#{consultarAdmSolicitudEntrante.listaNivelEstudioEntrante}" var="n" itemValue="#{n.pk}" itemLabel="#{n.nombreEspaniol} (#{n.nombreIngles})" />
                            </p:selectOneRadio>
                            <br/><br/><br/> 

                            <p:outputLabel value="#{msg['label.facultad']} " style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudEntrante.metSolicitud.otraFacultadEntrante}" 
                                         style="border-top: none; border-left: none; border-right: none; width: 80%;" readonly="true" /> 
                            <br/><br/><br/> 

                            <p:outputLabel value="#{msg['label.semestre']} " style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                            <br/>
                            <p:selectOneMenu id="idSemestres" value="#{consultarAdmSolicitudEntrante.metSolicitud.semestreEntrante}" 
                                             style="margin-top:1%;" >
                                <f:selectItem/>
                                <f:selectItem itemLabel="#{msg['label.primero']}" itemValue="#{msg['label.primero']}"  /> 
                                <f:selectItem itemLabel="#{msg['label.segundo']}" itemValue="#{msg['label.segundo']}"  /> 
                                <f:selectItem itemLabel="#{msg['label.tercero']}" itemValue="#{msg['label.tercero']}"  /> 
                                <f:selectItem itemLabel="#{msg['label.cuarto']}" itemValue="#{msg['label.cuarto']}"  /> 
                                <f:selectItem itemLabel="#{msg['label.quinto']}" itemValue="#{msg['label.quinto']}"  /> 
                                <f:selectItem itemLabel="#{msg['label.sexto']}" itemValue="#{msg['label.sexto']}"  /> 
                                <f:selectItem itemLabel="#{msg['label.septimo']}" itemValue="#{msg['label.septimo']}"  /> 
                                <f:selectItem itemLabel="#{msg['label.octavo']}" itemValue="#{msg['label.octavo']}"  /> 
                                <f:selectItem itemLabel="#{msg['label.noveno']}" itemValue="#{msg['label.noveno']}"  /> 
                                <f:selectItem itemLabel="#{msg['label.decimo']}" itemValue="#{msg['label.decimo']}"  /> 
                            </p:selectOneMenu> 
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.programa']} " style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudEntrante.metSolicitud.otroProgramaInstConvenio}"
                                         style="border-top: none; border-left: none; border-right: none; width: 80%;" readonly="true"/>        
                            <br/><br/><br/> 

                            <p:outputLabel value="#{msg['label.promedio']} " style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudEntrante.metSolicitud.promedioAcumulado}"
                                         style="border-top: none; border-left: none; border-right: none; width: 80%;" readonly="true"/>
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.idiomas']} " style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                            <p:panelGrid id="pIdiomas" style="margin-top: 2%;margin-bottom:20px;margin-right: 50px;">
                                <f:facet name="header">
                                    <p:row>
                                        <p:column style="color: #444d56;background:#ccc;width: 30px;"></p:column>
                                        <p:column style="color: #444d56;background:#ccc;width: 30px;font-size: 18px;">#{msg['label.nativo']}</p:column>
                                        <p:column style="color: #444d56;background:#ccc;width: 30px;font-size: 18px;">#{msg['label.habla']}</p:column>
                                        <p:column style="color: #444d56;background:#ccc;width: 30px;font-size: 18px;">#{msg['label.escribe']}</p:column>
                                        <p:column style="color: #444d56;background:#ccc;width: 30px;font-size: 18px;">#{msg['label.lee']}</p:column>
                                    </p:row>
                                </f:facet>
                                <p:row>
                                    <p:column style="margin-top: 5px; width:50px;background:white;font-size: 18px;">#{msg['label.espaniol']}</p:column>
                                    <p:column>
                                        <p:selectBooleanCheckbox id="checkIdiomaNativo1" style="margin-left: 16px;" 
                                                                 value="#{consultarAdmSolicitudEntrante.idiomaEspanol.idiomaNativo}"
                                                                 disabled="true">
                                            <p:ajax listener="#{consultarAdmSolicitudEntrante.deshabilitarIdiomaEsp()}" update="pIdiomas" />
                                        </p:selectBooleanCheckbox>

                                    </p:column>
                                    <p:column >
                                        <p:inputText style="margin-top:5px;color:#5f666c;width:80px;"  
                                                     placeholder="#{msg['placeholder.general.clicAqui']}" 
                                                     value="#{consultarAdmSolicitudEntrante.idiomaEspanol.porcentajeHabla}" 
                                                     disabled="#{consultarAdmSolicitudEntrante.disabledIdiomaEsp}" readonly="true"/>
                                    </p:column>
                                    <p:column >
                                        <p:inputText style="margin-top:5px;color:#5f666c;width:80px;" 
                                                     placeholder="#{msg['placeholder.general.clicAqui']}" 
                                                     value="#{consultarAdmSolicitudEntrante.idiomaEspanol.porcentajeEscribe}"
                                                     disabled="#{consultarAdmSolicitudEntrante.disabledIdiomaEsp}" readonly="true"/>
                                    </p:column>
                                    <p:column>
                                        <p:inputText style="margin-top:5px;color:#5f666c;width:80px;"  
                                                     placeholder="#{msg['placeholder.general.clicAqui']}" 
                                                     value="#{consultarAdmSolicitudEntrante.idiomaEspanol.porcentajeLee}"
                                                     disabled="#{consultarAdmSolicitudEntrante.disabledIdiomaEsp}" readonly="true"/>
                                    </p:column>
                                </p:row>

                                <p:row>
                                    <p:column style="font-size: 18px;">#{msg['label.ingles']}</p:column>
                                    <p:column >
                                        <p:selectBooleanCheckbox id="checkIdiomaNativo2" style="margin-left: 16px;" 
                                                                 value="#{consultarAdmSolicitudEntrante.idiomaIngles.idiomaNativo}"
                                                                 disabled="true">
                                            <p:ajax listener="#{consultarAdmSolicitudEntrante.deshabilitarIdiomaIng()}" update="pIdiomas" />
                                        </p:selectBooleanCheckbox>
                                    </p:column>
                                    <p:column>
                                        <p:inputText style="margin-top:5px;width:80px;color:#5f666c;" 
                                                     placeholder="#{msg['placeholder.general.clicAqui']}"
                                                     value="#{consultarAdmSolicitudEntrante.idiomaIngles.porcentajeHabla}" 
                                                     disabled="#{consultarAdmSolicitudEntrante.disabledIdiomaIng}" readonly="true"/>
                                    </p:column>
                                    <p:column >
                                        <p:inputText style="margin-top:5px;width:80px;color:#5f666c;" 
                                                     placeholder="#{msg['placeholder.general.clicAqui']}"
                                                     value="#{consultarAdmSolicitudEntrante.idiomaIngles.porcentajeEscribe}"
                                                     disabled="#{consultarAdmSolicitudEntrante.disabledIdiomaIng}" readonly="true"/>
                                    </p:column>
                                    <p:column >
                                        <p:inputText style="margin-top:5px;width:80px;color:#5f666c;" 
                                                     placeholder="#{msg['placeholder.general.clicAqui']}"
                                                     value="#{consultarAdmSolicitudEntrante.idiomaIngles.porcentajeLee}"
                                                     disabled="#{consultarAdmSolicitudEntrante.disabledIdiomaIng}" readonly="true"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column style="font-size: 18px;">#{msg['label.otroCual']}
                                        <p:inputText style="margin-top:5px;width:80px;color:#5f666c;" 
                                                     value="#{consultarAdmSolicitudEntrante.idiomaOtro.namDescripcion}" readonly="true"/> 
                                    </p:column>
                                    <p:column>
                                        <p:selectBooleanCheckbox id="checkIdiomaNativo3" style="margin-left: 16px;" 
                                                                 value="#{consultarAdmSolicitudEntrante.idiomaOtro.idiomaNativo}"
                                                                 disabled="true">
                                            <p:ajax listener="#{consultarAdmSolicitudEntrante.deshabilitarIdiomaOtro()}" update="pIdiomas" />
                                        </p:selectBooleanCheckbox>
                                    </p:column>
                                    <p:column>
                                        <p:inputText style="margin-top:5px;width:80px;color:#5f666c;"  
                                                     placeholder="#{msg['placeholder.general.clicAqui']}"
                                                     value="#{consultarAdmSolicitudEntrante.idiomaOtro.porcentajeHabla}"
                                                     disabled="#{consultarAdmSolicitudEntrante.disabledIdiomaOtr}" readonly="true"/>
                                    </p:column>
                                    <p:column>
                                        <p:inputText style="margin-top:5px;width:80px;color:#5f666c;"  
                                                     placeholder="#{msg['placeholder.general.clicAqui']}"
                                                     value="#{consultarAdmSolicitudEntrante.idiomaOtro.porcentajeEscribe}"
                                                     disabled="#{consultarAdmSolicitudEntrante.disabledIdiomaOtr}" readonly="true"/>
                                    </p:column>
                                    <p:column>
                                        <p:inputText style="margin-top:5px;width:80px;color:#5f666c;"  
                                                     placeholder="#{msg['placeholder.general.clicAqui']}"
                                                     value="#{consultarAdmSolicitudEntrante.idiomaOtro.porcentajeLee}"
                                                     disabled="true" readonly="true"/>
                                    </p:column>
                                </p:row> 
                            </p:panelGrid> 
                            <br/>
                            <br/>

                            <h:panelGrid id="pDistinciones">
                                <p:dataTable id="tableDisticiones" var="disbasicDTtincion" 
                                             value="#{consultarAdmSolicitudEntrante.listaDistinciones}" style="margin-top:2%;width:120%;">
                                    <f:facet name="header" >
                                        <p:outputPanel style="height: 25px;" >
                                            <h:outputText value="#{msg['label.form.distinciones']}" style="font-size:20px; font-weight: bold"/>
                                        </p:outputPanel>
                                    </f:facet>
                                    <p:column  style="width:40px;text-align: center" headerText="#{msg['label.form.anio']}">
                                        <h:outputText value="#{disbasicDTtincion.anio}" style="border: none"/>
                                    </p:column>
                                    <p:column style="width:80px;text-align: center" headerText="#{msg['label.form.logro']}">
                                        <h:outputText   value="#{disbasicDTtincion.descripcion}"/>
                                    </p:column>
                                    <p:column style="width:80px;text-align: center" headerText="#{msg['label.form.soporte']}">
                                        <p:outputLabel value="#{disbasicDTtincion.nombreArchivo}" style="color: #007979;" />
                                        <p:commandButton id="download2" value="Download File" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-arrowthick-1-s">
                                            <p:fileDownload value="#{consultarAdmSolicitudEntrante.archivo}" />
                                        </p:commandButton>
                                    </p:column>
                                </p:dataTable>
                            </h:panelGrid>
                            <br/><br/><br/> 
                        </div>
                    </div>
                </p:panel>
            </p:tab>

            <!-- Información Movilidad-->
            <p:tab title="#{msg['label.infAcuerdoApren']}">
                <p:panel id="panelInfMovilidad" style="background: whitesmoke">
                    <div class="ui-g">
                        <div class="ui-g-1"></div>

                        <div class="ui-g-8">
                            <br/>
                            <p:outputLabel value="#{msg['label.obligatorio']}" 
                                           style="color: #e44d26;font-size: 13px;font-weight: bold"/>
                            <br/>
                            <br/>
                            <br/>


                            <p:outputLabel value="#{msg['label.form.progInteres']} " style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:selectOneMenu value="#{consultarAdmSolicitudEntrante.metSolicitud.metProgramaKl.pk}" disabled="true">
                                <f:selectItem />
                                <f:selectItems value="#{consultarAdmSolicitudEntrante.listaProgramasKL}" var="p" 
                                               itemValue="#{p.pk}" itemLabel="#{p.nombre}" />                        
                            </p:selectOneMenu>
                            <br/>
                            <br/>
                            <br/>

                            <p:outputLabel value="#{msg['label.formEntrante.tipoMovilidad']} " style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:selectOneRadio value="#{consultarAdmSolicitudEntrante.metSolicitud.metTipoMovilidad.pk}"
                                              layout="responsive" columns="1" style="font-size: 15px;" disabled="true">
                                <f:selectItems value="#{consultarAdmSolicitudEntrante.tiposMovilidad}" var="t" itemValue="#{t.pk}" itemLabel="#{t.nombreEspaniol} (#{t.nombreIngles})" />
                            </p:selectOneRadio>
                            <br/>
                            <br/>
                            <br/>

                            <h:outputLabel  value="#{msg['label.formEntrante.fecInicio']}" style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:calendar value="#{consultarAdmSolicitudEntrante.metSolicitud.fechaInicioMovilidad}" mode="inline" navigator="true" 
                                        locale="es" pattern="dd/MM/yyyy"  yearRange="c-60:c"/>
                            <br/>
                            <br/>
                            <br/>

                            <h:outputLabel value="#{msg['label.formEntrante.fecFinalizacion']}" style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:calendar value="#{consultarAdmSolicitudEntrante.metSolicitud.fechaFinMovilidad}" mode="inline" navigator="true" 
                                        locale="es" pattern="dd/MM/yyyy"  yearRange="c-60:c"/>
                            <br/>
                            <br/>
                            <br/>
                            <!-- <p:calendar inputStyle="width:420px;margin-bottom:20px" style="margin-top:1px;margin-bottom:20px;color:#5f666c;" 
                                         yearRange="c-60:c" showOn="button" 
                                         onclick="{consultarAdmSolicitudEntrante.calcularDuracionMovilidad()}"
                                         value="{consultarAdmSolicitudEntrante.metSolicitud.fechaFinMovilidad}" 
                                         pattern="dd/MM/yyyy" locale="es" navigator="true">
                                 <p:ajax event="change" update ="inputMovilidad" listener="{consultarAdmSolicitudEntrante.calcularDuracionMovilidad}"/>
                             </p:calendar>  
                             <br/>
                             <br/>
                             <br/>
                           <h:panelGrid id="inputMovilidad" rendered="{consultarAdmSolicitudEntrante.renderedDuracionMovilidad}" columns="1">
                                 <h:outputLabel style="margin-top:40px;" value="{msg['label.form.duracionTotalMov']}"/>
                                 <p:inputText style="width:450px;color:#5f666c;"  placeholder='( _ meses, _ días)' 
                                              value="{consultarAdmSolicitudEntrante.metSolicitud.duracionMovilidad}" readonly="true"/>
                             </h:panelGrid>-->
                            <p:outputLabel value="#{msg['label.notaCursos']}"  style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <h:panelGrid id="pCursos" >
                                <p:dataTable id="CursosDT" var="cursos" value="#{consultarAdmSolicitudEntrante.listaInfoCursoKL}" style="width: 120%;">
                                    <f:facet name="header">
                                        <p:outputPanel style="height: 25px;" >
                                            <h:outputText value="#{msg['label.curso']}" style="font-size:20px; font-weight: bold"/>
                                        </p:outputPanel>
                                    </f:facet>
                                    <p:column  style="width:40px;text-align: center" headerText="#{msg['label.codigoCurso']}">
                                        <h:outputText value="#{cursos.codigo}" style="border: none"/>
                                    </p:column>
                                    <p:column style="width:50px;text-align: center" headerText="#{msg['label.nombreCurso']}">
                                        <h:outputText   value="#{cursos.nombre}"/>
                                    </p:column>
                                    <p:column style="width:50px;text-align: center" headerText="#{msg['label.creditosCurso']}">
                                        <h:outputText  value="#{cursos.creditos}"/>
                                    </p:column>
                                </p:dataTable>
                            </h:panelGrid>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <p:outputLabel value="#{msg['label.notaCAlternativos']}" style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>

                            <!--DESDE ACA-->
                            <h:panelGrid id="pCursosAlt" rendered="#{consultarAdmSolicitudEntrante.renderedCursosKLAlt}">
                                <p:dataTable id="CursosDTAlt" var="cursosAlt" value="#{consultarAdmSolicitudEntrante.listaInfoCursoKLAlt}" style="width: 120%">
                                    <f:facet name="header">
                                        <p:outputPanel style="height: 25px;" >
                                            <h:outputText value="#{msg['label.cursoAlternativo']}" style="font-size:20px; font-weight: bold"/>
                                        </p:outputPanel>
                                    </f:facet>
                                    <p:column  style="width:40px;text-align: center" headerText="#{msg['label.codigoCurso']}">
                                        <h:outputText value="#{cursosAlt.codigo}" style="border: none"/>
                                    </p:column>
                                    <p:column style="width:50px;text-align: center" headerText="#{msg['label.nombreCurso']}">
                                        <h:outputText   value="#{cursosAlt.nombre}"/>
                                    </p:column>
                                    <p:column style="width:50px;text-align: center" headerText="#{msg['label.creditosCurso']}">
                                        <h:outputText  value="#{cursosAlt.creditos}"/>
                                    </p:column>
                                </p:dataTable>
                            </h:panelGrid>
                            <br/>
                            <br/>
                            <br/>
                            <br/>

                            <p:outputLabel value="#{msg['placeholder.formEntrante.motDescripcion']}" style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>       
                            <br/>
                            <p:inputTextarea rows="10" cols="90"  queryDelay="600" minQueryLength="4"
                                             value="#{consultarAdmSolicitudEntrante.metSolicitud.motivacionEstudiante}" 
                                             style="margin-top: 10px;" readonly="true"/>                                                       
                        </div> 
                    </div>
                </p:panel>
            </p:tab>

            <!-- PERFIL MEDICO-->     
            <p:tab title="#{msg['label.infMedicaContacto']}">                       
                <p:panel id="panelInfMedicaContacto" style="background: whitesmoke">
                    <div class="ui-g">
                        <div class="ui-g-1"></div>

                        <div class="ui-g-8">
                            <br/>
                            <p:outputLabel value="#{msg['label.obligatorio']}" 
                                           style="color: #e44d26;font-size: 13px;font-weight: bold"/>
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.tipoSangre']} " style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:selectOneMenu value="#{consultarAdmSolicitudEntrante.metInfUsuario.tipoSangre}" style="margin-top: 2%;" disabled="true">
                                <f:selectItem/>
                                <f:selectItems value="#{consultarAdmSolicitudEntrante.itemsTipoSangre}" />                    
                            </p:selectOneMenu> 
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.alergias']} " style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <div class="ui-g">
                                <div class="ui-g-4">
                                    <p:selectOneRadio value="#{consultarAdmSolicitudEntrante.metSolicitud.tieneAlergia}" style="margin-top: 2%;" disabled="true">
                                        <f:selectItem itemLabel="#{msg['label.si']}" itemValue="#{msg['label.si']}" />
                                    <f:selectItem itemLabel="No" itemValue="No" />
                                    </p:selectOneRadio> 
                                </div>
                                <div class="ui-g-8">
                                    <p:inputTextarea rows="1"  cols="20" style="width:100%;" placeholder="#{msg['label.cuales']}"
                                                     value="#{consultarAdmSolicitudEntrante.metSolicitud.alergias}" readonly="true"/>
                                </div>
                            </div>
                            <br/><br/>

                            <p:outputLabel value="#{msg['label.enfCronicas']} "  style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <div class="ui-g">
                                <div class="ui-g-4">
                                    <p:selectOneRadio value="#{consultarAdmSolicitudEntrante.metSolicitud.tieneEnfermedades}" style="margin-top: 2%;" disabled="true">
                                        <f:selectItem itemLabel="#{msg['label.si']}" itemValue="#{msg['label.si']}" />
                                    <f:selectItem itemLabel="No" itemValue="No" />
                                    </p:selectOneRadio> 
                                </div>
                                <div class="ui-g-8">
                                    <p:inputTextarea rows="1"  cols="20" style="width:100%;" placeholder="#{msg['label.cuales']}"
                                                     value="#{consultarAdmSolicitudEntrante.metSolicitud.enfermedades}" readonly="true"/>
                                </div>
                            </div>
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.medicamento']} " style="font-size: 18px;"  />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>        
                            <div class="ui-g">
                                <div class="ui-g-4">
                                    <p:selectOneRadio value="#{consultarAdmSolicitudEntrante.metSolicitud.tieneMedicamento}" style="margin-top: 2%;" disabled="true">
                                        <f:selectItem itemLabel="#{msg['label.si']}" itemValue="#{msg['label.si']}" />
                                    <f:selectItem itemLabel="No" itemValue="No" />
                                    </p:selectOneRadio> 
                                </div>
                                <div class="ui-g-8">
                                    <p:inputTextarea rows="1"  cols="20" style="width:100%;" placeholder="#{msg['label.cuales']}"
                                                     value="#{consultarAdmSolicitudEntrante.metSolicitud.medicamentos}" readonly="true"/>
                                </div>
                            </div>
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.restriccion']} "  style="font-size: 18px;"  />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>     
                            <div class="ui-g">
                                <div class="ui-g-4">
                                    <p:selectOneRadio value="#{consultarAdmSolicitudEntrante.metSolicitud.tieneRestriccionAlm}" style="margin-top: 2%;" disabled="true">
                                        <f:selectItem itemLabel="#{msg['label.si']}" itemValue="#{msg['label.si']}" />
                                    <f:selectItem itemLabel="No" itemValue="No" />
                                    </p:selectOneRadio> 
                                </div>
                                <div class="ui-g-8">
                                    <p:inputTextarea rows="1" cols="20" style="width:100%;" placeholder="#{msg['label.cuales']}"
                                                     value="#{consultarAdmSolicitudEntrante.metSolicitud.restriccionAlimentaria}" readonly="true"/>
                                </div>
                            </div>
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.nameAcudiente']} "  style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudEntrante.metContactoEmergencia.nombres}" 
                                         style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:80%" readonly="true"/>
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.parentesco']} "  style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <h:panelGrid id="panelParentesco" columns="2">
                                <p:column>
                                    <p:selectOneMenu  value="#{consultarAdmSolicitudEntrante.metContactoEmergencia.metParentesco.pk}" disabled="true">
                                        <f:selectItem />
                                        <f:selectItems value="#{consultarAdmSolicitudEntrante.tiposParentesco}" var="t" itemValue="#{t.pk}" itemLabel="#{t.nombreEspaniol}"/>    
                                        <p:ajax update="panelParentesco" listener="#{consultarAdmSolicitudEntrante.otroParentesco()}"/>
                                    </p:selectOneMenu>
                                </p:column>
                                <p:column>
                                    <p:inputText rendered="#{consultarAdmSolicitudEntrante.renderedOtroParentesco}"
                                                 value="#{consultarAdmSolicitudEntrante.metContactoEmergencia.otroParentesco}"
                                                 style="margin-left: 2%; margin-top: 1%;border-top:none;border-left:none;border-right: none;width:50%" readonly="true"/>
                                </p:column>
                            </h:panelGrid>
                            <br/><br/>

                            <p:outputLabel value="#{msg['label.direccion']} "  style="font-size: 18px;"  />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudEntrante.metContactoEmergencia.direccion}"
                                         style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:70%" readonly="true"/>
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.telCasa']} "  style="font-size: 18px;"  />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudEntrante.metContactoEmergencia.telefono}"
                                         style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:70%" readonly="true"/>
                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.celular']} "  style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudEntrante.metContactoEmergencia.celular}"
                                         style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:70%" readonly="true"/>

                            <br/><br/><br/>

                            <p:outputLabel value="#{msg['label.email']} " style="font-size: 18px;" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <br/>
                            <p:inputText value="#{consultarAdmSolicitudEntrante.metContactoEmergencia.email}"
                                         style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:70%" readonly="true"/>
                            <br/><br/><br/>   
                        </div>
                    </div>
                </p:panel>
            </p:tab>

            <!-- DOCUMENTOS ADJUNTOS -->            
            <p:tab title="#{msg['label.archivosAdjuntos']}">
                <p:panel id="panelDocumentos" style="background: whitesmoke">
                    <div class="ui-g">
                        <div class="ui-g-1"></div>
                        <div class="ui-g-8">
                            <br/>
                            <p:dataTable id="tableArchivos" var="listaArchivo" 
                                         value="#{consultarAdmSolicitudEntrante.listSoporteAdjunto}" style="margin-top:2%;width:120%;">
                                <f:facet name="header" >
                                    <p:outputPanel style="height: 25px;" >
                                        <h:outputText value="Archivos guardados" style="font-size:20px; font-weight: bold"/>
                                    </p:outputPanel>
                                </f:facet>
                                <p:column  style="width:40px;text-align: center" headerText="Nombre del Archivo">
                                    <h:outputText value="#{listaArchivo.nombre}" style="border: none"/>
                                </p:column>
                                <p:column style="width:80px;text-align: center" headerText="Descripción">
                                    <h:outputText   value="#{listaArchivo.descripcion}"/>
                                </p:column>
                                <p:column style="width:80px;text-align: center" headerText="Descargar">
                                    <p:commandButton id="download2" value="Download File" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-arrowthick-1-s">
                                        <f:setPropertyActionListener value="#{listaArchivo}" target="#{consultarAdmSolicitudEntrante.selectArchivo}"/>
                                        <p:fileDownload value="#{consultarAdmSolicitudEntrante.archivo}" />
                                    </p:commandButton>
                                </p:column>
                            </p:dataTable>
                            <br/><br/>
                        </div>
                        <div class="ui-g-1"></div>
                    </div>
                </p:panel>
            </p:tab>

        </p:tabView>

        <h:panelGrid columns="2" style="margin-left: 500px;width:400px;margin-top: 20px;" >   
            <p:commandButton value="Aprobar Solicitud" action="#{consultarAdmSolicitudEntrante.aprobarSolicitud()}">
                <p:confirm header="#{msg['label.registro.confirmacion']}" message="¿Desea aprobar esta solicitud?" icon="ui-icon-alert" />
            </p:commandButton>   
        </h:panelGrid>


    </h:panelGrid>

    <div>
        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
            <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
        </p:confirmDialog>
    </div>
    <div>
        <h:form id="frmMensajeCE">
            <p:dialog modal="true" widgetVar="dlgMensajeExitoSolicitudAp" resizable="false">
                <h:panelGrid>
                    <h:outputLabel  value="Solicitud aprobada con éxito" />
                    <f:facet name="footer">
                        <p:commandButton id="cbtlkCE" value="Aceptar" action="#{consultarAdmSolicitudEntrante.onVolver()}" update="formAdmConsSolicitudEntrante" />
                    </f:facet>  
                </h:panelGrid>
            </p:dialog>
        </h:form>
    </div>
</ui:composition>
