<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <div>
        <p:commandButton value="#{msg['label.salir']}" action="#{formularioAdministradorMB.logout()}"   icon="fa fa-sign-out"  immediate="true" style="margin-left: 85%;"/>
    </div>
    <br/>
    <br/>
    <h:panelGrid style="width:90%;margin-right:5%; margin-left:5%;">
        <p:row>
            <p:column style="margin-bottom: 10px;margin-top: 30px;background: #f7f7f7;">
                <p:outputLabel value=" Bienvenido(a) Administrador(a) #{formularioAdministradorMB.metInfUsuario.nombres}  #{formularioAdministradorMB.metInfUsuario.apellidos}"/>                  
            </p:column>                            
        </p:row>
    </h:panelGrid> 
    <br/>

    <p:tabView id="tabInicialAdministrador" style="border-color: white; margin-top: 40px;">

        <p:tab   id="tabSSinRevisar" title="Solicitudes Sin Revisar (#{formularioAdministradorMB.contSolicitudEnviadas})">

            <p:panel style="margin-top: 10px;">
                <p:dataTable id="SolicitudSRevisarDT" var="solicitudSR" style="margin:15px;"  class="s01s:background: #f7f7f7;"
                             value="#{formularioAdministradorMB.listarSolicitudSR}" widgetVar="solicitudSRTable"
                             emptyMessage="No se han encontrado coincidencias" filteredValue="#{formularioAdministradorMB.filtrarSolicitud}"
                             paginator="true"  rows="20" paginatorPosition="bottom"

                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                    <p:column  filterBy=""  filterStyle="width:180px;margin-top:10px;margin-bottom:10px;" 
                               headerText="Consecutivo" filterMatchMode="contains">
                        <h:outputText value="#{solicitudSR.metsolicitud.consecutivo}" />
                    </p:column>

                    <p:column  filterBy="#{solicitudSR.metsolicitud.fechaSolicitud}"  filterStyle="width:180px;margin-top:10px;margin-bottom:10px;" 
                               headerText="Fecha de enviada" filterMatchMode="contains">
                        <h:outputText value="#{solicitudSR.metsolicitud.varFechaSolicitud}" />
                    </p:column>

                    <p:column filterBy="#{solicitudSR.nombres}" filterStyle="width:180px;margin-top:10px;margin-bottom:10px;" 
                              headerText="Estudiante" filterMatchMode="contains">
                        <h:outputText value="#{solicitudSR.nombres} #{solicitudSR.apellidos}"/>
                    </p:column>

                    <p:column  filterBy="#{solicitudSR.metPais.nombreEspaniol}" filterStyle="width:180px;margin-top:10px;margin-bottom:10px;"
                               headerText="Pais Destino" filterMatchMode="contains">
                        <h:outputText value="#{solicitudSR.metPais.nombreEspaniol}" />
                    </p:column>

                    <p:column style="width:32px;text-align: center" headerText="Ver">
                        <p:commandButton action="#{formularioAdministradorMB.pruebaq()}"  icon="ui-icon-search">
                            <f:setPropertyActionListener value="#{solicitudSR}" target="#{formularioAdministradorMB.selectedInfEstudiante}" />
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
            </p:panel>
        </p:tab>

        <p:tab  id="tabSAprobadas" title="Solicitudes Aprobadas">
            <p:panel style="margin-top: 10px;">
                <p:growl id="msgs" showDetail="true" />
                <p:dataTable id="SolicitudAprobadaDT" var="solicitudAP" style="margin:15px;" 
                             value="#{formularioAdministradorMB.listarSolicitudAp}" widgetVar="solicitudApTable"
                             emptyMessage="No se han encontrado coincidencias" filteredValue="#{formularioAdministradorMB.filtrarSolicitud1}"
                             paginator="true"  rows="20" paginatorPosition="bottom"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                     <p:column  filterBy=""  filterStyle="width:180px;margin-top:10px;margin-bottom:10px;" 
                               headerText="Consecutivo" filterMatchMode="contains">
                        <h:outputText value="#{solicitudAP.metsolicitud.consecutivo}" />
                    </p:column>
                                       
                    <p:column  filterBy="#{solicitudAP.metsolicitud.fechaSolicitud}"  filterStyle="width:180px;margin-top:10px;margin-bottom:10px;" headerText="Fecha de enviada" filterMatchMode="contains">
                        <h:outputText value="#{solicitudAP.metsolicitud.varFechaSolicitud}" />
                    </p:column>

                    <p:column filterBy="#{solicitudAP.nombres} #{solicitudAP.apellidos}" headerText="Estudiante">
                        <h:outputText value="#{solicitudAP.nombres} #{solicitudAP.apellidos}"/>
                    </p:column>

                    <p:column filterBy="#{solicitudAP.metTipoSolicitud.nombreEspaniol}" headerText="Tipo de Solicitud" filterMatchMode="exact">
                        <h:outputText value="#{solicitudAP.metTipoSolicitud.nombreEspaniol}" />
                    </p:column>

                    <p:column style="width:32px;text-align: center" headerText="Ver">
                        <p:commandButton action="#{formularioAdministradorMB.pruebaq()}"  icon="ui-icon-search">
                            <f:setPropertyActionListener value="#{solicitudAP}" target="#{formularioAdministradorMB.selectedInfEstudiante}" />
                        </p:commandButton>
                    </p:column> 
                </p:dataTable>
            </p:panel>      
        </p:tab>

    </p:tabView>

</ui:composition>