<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">


    <div class="encabezado">
        <div>
            <h:graphicImage style="padding:20px 20px 20px 20px;" id="logo" library="images" name="logo.png" /> 
            <h1>#{msg['label.titulo']}</h1>
        </div>
    </div>
</ui:composition>