<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <h:form id="frmInicio">

        
        <div class="ui-g">
            <div class="ui-g-6"></div>
            <div class="ui-g-2">
                <p:outputLabel value="#{msg['label.usuario']}"/>
                <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                <p:inputText id="itxUsuario" style="margin-top:2%;width: 90%" value="#{inicioMB.usuarioSesion.namUsuario}"  
                             required="false" requiredMessage="#{msg['mensajerequerido.inicio.usuario']}"  />
            </div>
            <div class="ui-g-2">
                <p:outputLabel value="#{msg['label.contrasenia']}" />
                <span class="ui-inputgroup-addon"><i class="fa fa-unlock-alt"></i></span> <br/>
                <p:password id="psUsuario" value="#{inicioMB.usuarioSesion.namContrasenia}"  style="margin-top:1%;width: 90%"   
                            required="false" requiredMessage="#{msg['mensajerequerido.inicio.contrasenia']}" maxlength="12"/>
                <br/>
                <h:commandLink  value="#{msg['label.olvidoClave']}" style="font-size: 12px;color: #007979" action="#{inicioMB.onCambiarContrasenia()}">
                </h:commandLink>
            </div>
            <div class="ui-g-2">
                <br/>
                <p:commandButton action="#{inicioMB.onIngresar}" id="btEntrar"  style="margin-top: 1%;width: 50%"
                                 value="#{msg['boton.ingresar']}" icon="fa fa-hand-o-right"/>
            </div>
        </div>
         <br/>
        <br/>
        <p:separator style="height:20%; background: #007979"/>
        <br/>
        <br/>
        <div class="ui-g">
            <div class="ui-g-7"></div>
            <div class="ui-g-5">  
                <p:panel>
                    <p:outputLabel value="Idioma/Language" style="margin-left: 20px;"/>               
                    <h:commandLink value="Español (España)"  style="margin-left: 20px;color: #007979" action="#{idiomaBean.doCambioIdiomaLink('es')}" 
                                   actionListener="#{inicioMB.setVarIdioma('es')}"/>
                    <h:commandLink value="English (US)" style="margin-left: 20px; color: #007979" action="#{idiomaBean.doCambioIdiomaLink('en')}"
                                   actionListener="#{inicioMB.setVarIdioma('en')}"/>    
                </p:panel>
            </div>
        </div>

    </h:form>
</ui:composition>