<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <h:form id="frmRegistro">
        <div class="ui-g">
            <div class="ui-g-12">
                <p:panel >
                    <div class="ui-g">
                        <div class="ui-g-4">  
                            <p:panel style="border: none" id="panelMensaje">
                                <p:panelGrid rendered="#{inicioMB.renderEstudiantExterno}">
                                    <p:outputLabel value="#{msg['label.msjLine1']}" style="font-weight: bold;text-align-last: justify"/>
                                    <br/><br/>
                                    <p:outputLabel value="#{msg['label.msjLine2']}"/><br/><br/>
                                    <p:outputLabel value="#{msg['label.msjLine3']}"/><br/>
                                    <p:outputLabel value="#{msg['label.msjLine4']}"/><br/>
                                    <p:outputLabel value="#{msg['label.msjLine5']}"/><br/>
                                </p:panelGrid>

                                <p:panelGrid rendered="#{inicioMB.renderEstudiantSaliente}">
                                    <p:outputLabel value="#{msg['label.msj2Line1']}" style="font-weight: bold;text-align-last: justify"/>
                                    <br/><br/>
                                    <p:outputLabel value="#{msg['label.msj2Line2']}"/><br/><br/>
                                    <p:outputLabel value="#{msg['label.msj2Line3']}"/><br/>
                                    <p:outputLabel value="#{msg['label.msj2Line4']}"/><br/>
                                    <p:outputLabel value="#{msg['label.msj2Line5']}"/><br/>
                                </p:panelGrid>

                                <h:graphicImage style="width: 420px;height: 370px;margin-top: 10%;margin-left: 3%;" library="images" 
                                                name="internacionalizacion.jpg" rendered="#{inicioMB.renderImagen}"/>  
                            </p:panel>

                        </div>
                        <div class="ui-g-1"></div>
                        <div class="ui-g-7">
                            <p:panel style="background: whitesmoke;height: 550px;" id="panRegistro" >
                                <p:outputLabel value="#{msg['boton.registrate']}" style="font-size:30px;margin-left: 5%"/>
                                <br/><br/>
                                <p:selectOneRadio value="#{inicioMB.user.metTipoSolicitud.pk}" style="margin-top: 2%;" required="false"  
                                                  requiredMessage="#{msg['label.required.tipoEstudiante']}">
                                    <f:selectItem itemLabel="#{msg['label.estudianteExterno']}" itemValue="1" />
                                    <f:selectItem itemLabel="#{msg['label.konradistas']}" itemValue="2" />
                                    <p:ajax listener="#{inicioMB.definirTipoEstudiante()}" update="panRegistro,panelMensaje" />
                                </p:selectOneRadio> 
                                <br/> <br/> 
                                <div class="ui-g">
                                    <div class="ui-g-6">
                                        <p:inputText id="iptNombre" style="width: 90%;"
                                                     value="#{inicioMB.user.nombres}"  placeholder="#{msg['label.nombre']} *"  
                                                     required="false"
                                                     validatorMessage="#{msg['label.required.nombreValidatorMessage']}"
                                                     requiredMessage="#{msg['mensajerequerido.registro.nombre']}"
                                                     rendered="#{inicioMB.renderEstEntrante}">                                        
                                            <f:validateRegex pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,30}"/>                                                                         
                                        </p:inputText>
                                    </div>
                                    <div class="ui-g-6">
                                        <p:inputText id="iptApellido"  style="width: 90%;" placeholder="#{msg['label.apellido']} *"
                                                     required="false" rendered="#{inicioMB.renderEstEntrante}"
                                                     value="#{inicioMB.user.apellidos}"  
                                                     requiredMessage="#{msg['mensajerequerido.registro.apellido']}" 
                                                     validatorMessage="#{msg['label.registro.apellidoValidatorMessage']}">                                                                           
                                            <f:validateRegex pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,30}"/>                                                                         
                                        </p:inputText>
                                    </div>
                                </div>

                                <div class="ui-g">
                                    <p:panelGrid rendered="#{inicioMB.renderEstEntrante}">
                                        <div class="ui-g-12">
                                            <p:inputText id="iptEmailInst" label="#{msg['label.email1']} *" placeholder="#{msg['label.email1']} *" style="width: 95%;"
                                                         value="#{inicioMB.user.emailInstitucional}"
                                                         validatorMessage="#{msg['label.registro.emailValidatorMsg']}"
                                                         requiredMessage="#{msg['mensajerequerido.registro.emailInstitucional']}">
                                                <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                                            </p:inputText>
                                            <br/>
                                            <br/>

                                            <p:inputText id="iptEmailInst2" label="#{msg['label.email2']}" placeholder="#{msg['label.email2']}" style="width: 95%;"
                                                         value="#{inicioMB.user.emailAlternativo}"
                                                         validatorMessage="#{msg['label.registro.emailValidatorMsg']}">
                                                <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                                            </p:inputText>
                                            <br/>         
                                        </div> 
                                    </p:panelGrid>
                                    <div class="ui-g-12">
                                        <p:inputText id="iptUsuarioEntr" onclick="#{inicioMB.onValidarUsuario()}" placeholder="#{msg['label.usuario']}" 
                                                     rendered="#{inicioMB.renderEstEntrante}" style="width: 95%;"
                                                     value="#{inicioMB.user.usuario}"
                                                     requiredMessage="#{msg['mensajerequerido.registro.usuario']}">
                                            <p:ajax event="change" listener="#{inicioMB.onValidarUsuario}"  />
                                        </p:inputText>
                                        <p:tooltip position="left" for="iptUsuarioEntr">#{msg['tooltip.registro.usuario']}</p:tooltip> 

                                        <p:inputText id="iptUsuarioSal" placeholder="#{msg['label.codigoEstudiantil']}" 
                                                     rendered="#{inicioMB.renderEstSaliente}" style="width: 95%;"
                                                     value="#{inicioMB.user.usuario}" 
                                                     required="false"
                                                     requiredMessage="#{msg['label.required.codigoEstudiantil']}">
                                            <p:ajax event="change" listener="#{inicioMB.onValidarCodigoEstudiantil()}" update="iptUsuarioSal"/>
                                        </p:inputText>
                                        <p:tooltip position="left" for="iptUsuarioSal">#{msg['label.codigoEstudiantil']}</p:tooltip> 
                                    </div>
                                </div>

                                <div class="ui-g">
                                    <div class="ui-g-6">
                                        <p:password id="pwd1" match="pwd2" placeholder="#{msg['label.contrasenia']}"  style="width: 90%;"                            
                                                    value="#{inicioMB.user.contrasenia}"
                                                    requiredMessage="#{msg['label.required.contrasenia']}"
                                                    validatorMessage="#{msg['label.registro.contraseniaValidatorMessage']}" maxlength="12">                                        
                                        </p:password>
                                    </div>
                                    <div class="ui-g-6">
                                        <p:password id="pwd2" placeholder="#{msg['label.confirmeContrasenia']}" style="width: 90%;"
                                                    value="#{inicioMB.confContrasenia}"
                                                    requiredMessage="#{msg['label.required.confContrasenia']}"
                                                    validatorMessage="#{msg['label.registro.contraseniaRestriccion']}" maxlength="12">                                          
                                            <f:validateRegex pattern="[A-Za-z0-9]{5,30}" for="pwd1"/>
                                        </p:password>
                                    </div>
                                </div>
                                <br/>                               
                                <h:panelGrid columns="2" style="border: none">
                                    <h:column>
                                        <h:selectBooleanCheckbox value="#{inicioMB.aceptoTerminos}"/>
                                    </h:column>
                                    <h:column>
                                        <h:outputLabel  value="#{msg['label.textoAcptarCondiciones']} "
                                                        style="font-weight: bold;text-align: justify; font-size:12px;border-left:12px;"/>
                                        <br/>
                                        <a href= "http://www.konradlorenz.edu.co/es/informacion-institucional/nueva-imagen-institucional-2politicas-para-el-tratamiento-de-datos-personales.html" 
                                           target="_blank" style="color: #007979;font-size: 12px; font-weight: bold;"><link> #{msg['label.verPolitica']}</link></a>
                 
                                          </h:column>
                                </h:panelGrid>
                                <br/>
                                <div class="ui-g">
                                    <div class="ui-g-2"> 
                                        <p:commandButton value="#{msg['boton.registrate']}" action="#{inicioMB.guardarRegistro()}" style="width: 150%;" icon="fa fa-check-square"/>       
                                    </div>
                                    <div class="ui-g-10"></div>
                                </div>
                            </p:panel>
                        </div>
                    </div>
                </p:panel>
            </div>
        </div>
        <div>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>
        </div>
        <div>
            <p:dialog modal="true" widgetVar="dlgMensajeExito" resizable="false">
                <h:panelGrid>
                    <h:outputLabel  value="#{msg['label.registroExitoso']}" />
                    <f:facet name="footer">
                        <p:commandButton id="cbtlk" value="#{msg['label.aceptar']}" update="frmRegistro" actionListener="#{inicioMB.limpiarCampos()}"/>
                    </f:facet>  
                </h:panelGrid>
            </p:dialog>
        </div>
        <br/><br/>

        <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />

        <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage name="/images/ajaxloadingbar.gif" />
        </p:dialog>

    </h:form>
</ui:composition>