<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"                
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <!-- Seccion que visualiza de recibo de inscripcion mediante servlet -->
    <form id="forReporte">
        <p:dialog id="pdReporte" header="REPORTE" widgetVar="pdReporte" modal="false" width="800" height="500" resizable="false">  
            <p:panelGrid id="panelGridReporteEntr1" columns="1">
                <p:media value="/Reporte"  player="pdf" width="750" height="480"/>
            </p:panelGrid>
        </p:dialog>
    </form>
</ui:composition>    
