<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <div class="ui-g">
        <div class="ui-g-3"></div>
        <div class="ui-g-6">
            <p:panel  style="background: whitesmoke;">                 
                <div class="ui-g" style="text-align: center">

                    <p:outputLabel value="#{msg['label.restablecerContrasenia.titulo']}" style="color: firebrick;margin-left: 35%;margin-top: 2%;font-size: 20px;" />  
                    <p:outputLabel value="#{msg['label.restablecerContrasenia.texto']}" style="margin: 10px;" />  
                    <br/>
                    <p:panel id="panSolicitudInfo" style="background: whitesmoke;border: none;width: 100%;" >
                        <p:inputText id="itextDocIdentidad" value="#{inicioMB.usuarioXemail.numeroIdentificacion}" style="width: 80%;margin-bottom: 2%;"/> 
                        <p:tooltip id="toolTipDocumento" for="itextDocIdentidad" value="Documento de Identidad" position="top"/>
                        <p:inputText id="itextCorreoInst" value="#{inicioMB.usuarioXemail.emailInstitucional}" style="width: 80%; margin-bottom: 2%;"/>
                        <p:tooltip id="toolTipCorreoInst" for="itextCorreoInst" value="Correo eléctronico institucional o Alternativo" position="top"/>                            
                        <br/><br/>
                        <p:commandButton value="Enviar" style="margin-bottom: 3%;" action="#{inicioMB.restablecerContra()}" icon="fa fa-send"
                                         update="frmRestablecerContrasenia,panSolicitudInfo"/>
                        <p:commandButton value="Regresar" style="margin-bottom: 3%;" action="#{inicioMB.onVolverInicio()}" icon="fa fa-rotate-left"/>
                    </p:panel>
                    <br/>                       
                </div>
            </p:panel>
        </div>
        <div class="ui-g-3"></div>
    </div>
    <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />

    <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
        <p:graphicImage name="/images/ajaxloadingbar.gif" />
    </p:dialog>

    <!--  <p:panelGrid rendered="{inicioMB.renderPnlRestablecer}">
          <p:panelGrid rendered="false">
              <p:panel style="background: whitesmoke;">  
                  <div class="ui-g">
                      <div class="ui-g-1"></div>
                      <div class="ui-g-5">
                          <p:outputLabel value="Ingrese contraseña anterior" />                     
                      </div>
                      <div class="ui-g-5">
                          <p:password style="width: 70%;" value="{inicioMB.existeUsuario.contrasenia}"/> 
                      </div>
                      <br/>
                  </div>

                  <div class="ui-g">
                      <div class="ui-g-1"></div>
                      <div class="ui-g-5">
                          <p:outputLabel value="Ingrese nueva contraseña" />                     
                      </div>
                      <div class="ui-g-5">
                          <p:password style="width: 70%;"/> 
                      </div>
                      <br/>
                  </div>   

                  <div class="ui-g">
                      <div class="ui-g-1"></div>
                      <div class="ui-g-5">
                          <p:outputLabel value="verifique nueva contraseña" />                     
                      </div>
                      <div class="ui-g-5">
                          <p:password style="width: 70%;"/> 
                          <br/>
                          <br/>
                          <p:commandButton value="Cambiar contraseña"  update="frmRestablecerContrasenia" action="{inicioMB.consultarContrasenia()}"/>
                      </div>
                      <br/>
                  </div>
              </p:panel>
          </p:panelGrid>-->

</ui:composition>