<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <div class="ui-g">
        <div class="ui-g-7"></div>
        <div class="ui-g-5">    
            <p:outputLabel value="Idioma/Language" style="margin-left: 20px;"/>               
            <h:commandLink value="Español (España)"  style="margin-left: 20px;color: #007979" action="#{idiomaBean.doCambioIdiomaLink('es')}" 
                           actionListener="#{inicioMB.setVarIdioma('es')}"/>
            <h:commandLink value="English (US)" style="margin-left: 20px; color: #007979" action="#{idiomaBean.doCambioIdiomaLink('en')}"
                           actionListener="#{inicioMB.setVarIdioma('en')}"/>           
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-11"></div>
        <div class="ui-g-12">
            <p:commandButton value="#{msg['label.salir']}" action="#{solicitudEntranteMB_Consultar.logout()}"   icon="fa fa-sign-out"  immediate="true" style="margin-left: 85%;"/>
        </div>
    </div>
    <br/>  
    <br/>  
    <div class="ui-g">
        <div class="ui-g-12">

            <p:outputLabel style="font-size: 32px;"  value="#{solicitudEntranteMB_Consultar.metInfUsuario.nombres} #{solicitudEntranteMB_Consultar.metInfUsuario.apellidos}" />


            <br/>  
            <p:separator style="background: #a8acb1;height:5px;margin-top:30px;margin-bottom:60px;margin-left:20px; margin-right:20px" />  
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-3">
            <p:panel style="background: #00acac">
                <p:outputLabel style="color: white;font-size: 20px;"  value="#{msg['label.infPersonal']}" rendered="#{solicitudEntranteMB_Consultar.renderedPersonal}"/>
                <p:outputLabel style="color: white;font-size: 20px;"  value="#{msg['label.infInstitucionOrigen']}" rendered="#{solicitudEntranteMB_Consultar.renderedInstOrigen}"/>              
                <p:outputLabel style="color: white;font-size: 20px;"  value="#{msg['label.infAcademico']}" rendered="#{solicitudEntranteMB_Consultar.renderedAcademica}"/>         
                <p:outputLabel style="color: white;font-size: 20px;"  value="#{msg['label.infAcuerdoApren']}" rendered="#{solicitudEntranteMB_Consultar.renderedMovilidad}"/>
                <p:outputLabel style="color: white;font-size: 20px;"  value="#{msg['label.archivosAdjuntos']}" rendered="#{solicitudEntranteMB_Consultar.renderedDocAdjuntos}"/>
                <p:outputLabel style="color: white;font-size: 20px;"  value="#{msg['label.infMedicaContacto']}" rendered="#{solicitudEntranteMB_Consultar.renderedPrfilMedico}"/>
            </p:panel>
        </div>
        <div class="ui-g-8">

            <!--INFORMACION PERSONAL DEL ESTUDIANTE -->
            <p:panel id="panelInfPersonalEntrante" style="background: whitesmoke" rendered="#{solicitudEntranteMB_Consultar.renderedPersonal}">
                <br/>
                <div class="ui-g">
                    <div class="ui-g-1"></div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-8"></div>              
                    <div class="ui-g-2">
                        <p:commandLink value="#{msg['label.siguiente']}" style="color: #007979;text-decoration: underline" 
                                       action="#{solicitudEntranteMB_Consultar.btnSiguiente(1)}"   update="solicitudEntranteF"/>
                    </div>
                </div>
                <p:separator/>
                <br/>    
                <div class="ui-g">

                    <div class="ui-g-1"></div>

                    <div class="ui-g-8">
                        <br/>
                        <p:outputLabel value="#{msg['label.obligatorio']}" 
                                       style="color: #e44d26;font-size: 13px;font-weight: bold"/>
                        <br/>
                        <br/>
                        <br/>
                        <p:outputLabel value="#{msg['label.apellido']} " style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:80%"
                                     value="#{solicitudEntranteMB_Consultar.metInfUsuario.apellidos}" readonly="true"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.nombre']}" style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%"
                                     value="#{solicitudEntranteMB_Consultar.metInfUsuario.nombres}" readonly="true"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.genero']} "  style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:selectOneRadio value="#{solicitudEntranteMB_Consultar.metInfUsuario.metGenero.pk}" disabled="true" 
                                          layout="responsive" columns="1" style="font-size: 15px;">
                            <f:selectItem itemLabel="#{msg['label.femenino']}" itemValue="1"  noSelectionOption="false"/>
                            <f:selectItem itemLabel="#{msg['label.masculino']}" itemValue="2" itemDisabled="true"/>
                        </p:selectOneRadio><br/>
                        <br/>

                        <p:outputLabel value="#{msg['label.tipoDocumento']} "  style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:selectOneRadio value="#{solicitudEntranteMB_Consultar.metInfUsuario.metTipoIdentificacion.pk}" disabled="true"
                                          layout="responsive" columns="1" style="font-size: 15px;">
                            <f:selectItem itemLabel="#{msg['label.pasaporte']}" itemValue="3"/>
                        </p:selectOneRadio>
                        <br/>
                        <br/>

                        <p:outputLabel value="#{msg['label.numDocumento']} "  style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%"
                                      value="#{solicitudEntranteMB_Consultar.metInfUsuario.numeroIdentificacion}" readonly="true"/>                      
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.fechaNacimiento']} "  style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <br/>
                        <p:calendar value="#{solicitudEntranteMB_Consultar.metInfUsuario.fechaNacimiento}" mode="inline" navigator="true" 
                                    locale="es" pattern="dd/MM/yyyy"  yearRange="c-60:c" disabled="true"/>
                        <br/>
                        <br/>

                        <p:outputLabel value="#{msg['label.lugarNacimiento']} " style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <div class="ui-g">
                            <div class="ui-g-6">
                                <p:inputText  id="inpCiudad" value="#{solicitudEntranteMB_Consultar.metInfUsuario.otraCiudad}" placeholder="#{msg['label.ciudad']}"
                                              style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:100%;" readonly="true"/> 
                                <p:tooltip value="#{msg['label.ciudad']}" for="inpCiudad" position="left"/>
                            </div>
                            <div class="ui-g-6">
                                <p:selectOneMenu  id="listPais"  style="margin-top:1%;width:90%;color:#5f666c;"   
                                                  value="#{solicitudEntranteMB_Consultar.metInfUsuario.metPais.pk}"
                                                  requiredMessage="#{msg['mensajerequerido.registro.pais']}" disabled="true" >
                                    <f:selectItem  />
                                    <f:selectItems value="#{solicitudEntranteMB_Consultar.listaPais}" var="p" itemValue="#{p.pk}" itemLabel="#{p.nombre}" />  
                                </p:selectOneMenu>
                                <p:tooltip value="#{msg['label.pais']}" for="listPais" position="left"/>
                            </div>
                        </div>
                        <br/>

                        <p:outputLabel  value="#{msg['label.nacionalidad']} "  style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <p:inputText value="#{solicitudEntranteMB_Consultar.metInfUsuario.nacionalidad}"
                                     style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%;" readonly="true"/>
                        <br/>
                        <br/>
                        <br/>

                        <p:outputLabel value="#{msg['label.direccion']} "  style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudEntranteMB_Consultar.metInfUsuario.direccionResidencia}"  
                                     style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%;" readonly="true"/>
                        <br/>
                        <br/>
                        <br/>

                        <p:outputLabel value="#{msg['label.telCasa']}"  style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText  value="#{solicitudEntranteMB_Consultar.metInfUsuario.telCasa}"
                                      style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%;" readonly="true"/>
                        <br/>
                        <br/>
                        <br/>

                        <p:outputLabel value="#{msg['label.celular']}"  style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudEntranteMB_Consultar.metInfUsuario.celular}"
                                     style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%;" readonly="true"/>
                        <br/>
                        <br/>
                        <br/>

                        <p:outputLabel value="#{msg['label.email1']}"  style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudEntranteMB_Consultar.metInfUsuario.emailInstitucional}"
                                     style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%;" readonly="true"/>
                        <br/>
                        <br/>
                        <br/>

                        <p:outputLabel value="#{msg['label.email2']}"  style="font-size: 18px;" />
                        <br/>
                        <p:inputText value="#{solicitudEntranteMB_Consultar.metInfUsuario.emailAlternativo}"
                                     style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%;" readonly="true"/>
                        <br/>
                        <br/>
                        <br/>
                    </div>
                </div>               
            </p:panel>


            <!--INFORMACION INSTITUCIÓN DE ORIGEN-->
            <p:panel id="panelInfInstitucionOrigen" style="background: whitesmoke" rendered="#{solicitudEntranteMB_Consultar.renderedInstOrigen}">
                <br/>
                <div class="ui-g">
                    <div class="ui-g-1"></div>
                    <div class="ui-g-1">
                        <p:commandLink value="#{msg['label.atras']}" style="color: #007979;text-decoration: underline"
                                       action="#{solicitudEntranteMB_Consultar.btnAtras(2)}" update="solicitudEntranteF" />
                    </div>
                    <div class="ui-g-8"></div>              
                    <div class="ui-g-2">
                        <p:commandLink value="#{msg['label.siguiente']}" style="color: #007979;text-decoration: underline" 
                                       action="#{solicitudEntranteMB_Consultar.btnSiguiente(2)}" update="solicitudEntranteF" />
                    </div>
                </div>
                <p:separator/>
                <br/>   
                <div class="ui-g">
                    <div class="ui-g-1"></div>

                    <div class="ui-g-8">
                        <br/>
                        <p:outputLabel value="#{msg['label.obligatorio']}" 
                                       style="color: #e44d26;font-size: 13px;font-weight: bold"/>
                        <br/><br/><br/>

                        <h:panelGrid columns="2">
                            <p:column>
                                <p:outputLabel value="#{msg['label.institucionOrigen']} " style="font-size: 18px;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                <br/>
                                <h:panelGrid id="seInstitucionOrigen" columns="1">
                                    <p:selectOneMenu id="listInstCovenio" value="#{solicitudEntranteMB_Consultar.metSolicitud.metInstitucionConvenio.pk}" 
                                                     disabled="true">
                                        <f:selectItem />
                                        <f:selectItems value="#{solicitudEntranteMB_Consultar.listaInstitucionesConvenio}" var="i" itemValue="#{i.pk}" itemLabel="#{i.nombre}" /> 
                                        <p:ajax  update="panelInfInstConvenio" listener="#{solicitudEntranteMB_Consultar.mostrarInstConvenio}"/>
                                    </p:selectOneMenu>
                                </h:panelGrid>
                            </p:column>
                            <p:column>
                                <h:panelGrid columns="2" style="margin-top:1%;">
                                    <p:selectBooleanCheckbox id="checkOtraInstitucion" 
                                                             value="#{solicitudEntranteMB_Consultar.selectOtraInstitucion}"
                                                             style="color:#5f666c;size: 16px; margin-top: 5%;"
                                                             disabled="true">
                                        <p:ajax update="panelInfInstConvenio,seInstitucionOrigen,pOtraInstitucionOri"
                                                listener="#{solicitudEntranteMB_Consultar.procOtraInstitucion}" />
                                    </p:selectBooleanCheckbox>
                                    <p:outputLabel value="#{msg['label.selecOtrInst']} " style="font-size: 16px;"/>
                                </h:panelGrid>
                            </p:column>
                        </h:panelGrid>

                        <br/><br/>

                        <p:panel id="panelInfInstConvenio" style="border: none;background: whitesmoke">
                            <p:outputLabel for="selectConvenio" value="#{msg['label.form.existeConvenio']} " style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                            <p:selectOneRadio id="selectConvenio" value="#{solicitudEntranteMB_Consultar.convenioInstitucion}" disabled="true">
                                <f:selectItem itemLabel="#{msg['label.si']}" itemValue="Si" />
                                <f:selectItem itemLabel="No" itemValue="No" />
                            </p:selectOneRadio>
                            <br/><br/><br/>

                            <p:panelGrid id="pInstitucionOri" rendered="#{solicitudEntranteMB_Consultar.renderedInsitucionOrigen}"
                                         style="border: none;background: whitesmoke">

                                <p:outputLabel value="#{msg['label.contactoInstitucion']} " style="font-size: 18px;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                <br/>
                                <p:inputText value="#{solicitudEntranteMB_Consultar.metSolicitud.nombreContactoEntrante}"
                                             style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:90%" readonly="true"/>  
                                <br/><br/><br/>

                                <p:outputLabel value="#{msg['label.telefono']} " style="font-size: 18px;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;" />
                                <br/>
                                <p:inputText value="#{solicitudEntranteMB_Consultar.metSolicitud.telContactoEntrante}"
                                             style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:90%" readonly="true"/> 
                                <br/><br/><br/>

                                <p:outputLabel value="#{msg['label.email']} " style="font-size: 18px;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                <br/>
                                <p:inputText value="#{solicitudEntranteMB_Consultar.metSolicitud.emailContactoEntrante}"
                                             style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:90%" readonly="true"/> 
                                <br/><br/><br/> 
                            </p:panelGrid>

                            <p:panelGrid id="pOtraInstitucionOri" rendered="#{solicitudEntranteMB_Consultar.renderedPOtraInst}"
                                         style="border: none;background: whitesmoke">   

                                <p:outputLabel value="#{msg['label.nombreInstitucion']} " style="font-size: 18px;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                <br/>
                                <p:inputText id="inptOtraCiudadInstitucion" 
                                             style="border-top: none; border-left: none; border-right: none;width: 90%;"
                                             disabled="#{solicitudEntranteMB_Consultar.disableOtrInstitucion}"
                                             value="#{solicitudEntranteMB_Consultar.metOtraInstitucion.nombreInstitucion}" readonly="true"/> 
                                <br/><br/><br/>

                                <p:outputLabel value="#{msg['label.pais']} " style="font-size: 18px;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                <br/>
                                <p:selectOneMenu  id="listPaisUniversidad" value="#{solicitudEntranteMB_Consultar.metOtraInstitucion.metPais.pk}"
                                                  requiredMessage="#{msg['mensajerequerido.registro.pais']}" style="width: 85%;" disabled="true">
                                    <f:selectItem/>
                                    <f:selectItems value="#{solicitudEntranteMB_Consultar.listaPais}" var="p" itemValue="#{p.pk}" itemLabel="#{p.nombre}"/>  
                                </p:selectOneMenu>
                                <br/><br/><br/>

                                <p:outputLabel value="#{msg['label.ciudad']} " style="font-size: 18px;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                <br/>
                                <p:inputText value="#{solicitudEntranteMB_Consultar.metOtraInstitucion.ciudadInstitucion}"
                                             style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:90%" readonly="true"/>  
                                <br/><br/><br/>

                                <p:outputLabel value="#{msg['label.contactoInstitucion']} " style="font-size: 18px;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                <br/>
                                <p:inputText value="#{solicitudEntranteMB_Consultar.metOtraInstitucion.nombreContacto}"
                                             style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:90%" readonly="true"/>  
                                <br/><br/><br/>

                                <p:outputLabel value="#{msg['label.cargoContacto']} " style="font-size: 18px;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                <br/>
                                <p:inputText value="#{solicitudEntranteMB_Consultar.metOtraInstitucion.cargoContacto}"
                                             style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:90%" readonly="true"/>  
                                <br/><br/><br/>

                                <p:outputLabel value="#{msg['label.telefono']} " style="font-size: 18px;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                <br/>
                                <p:inputText value="#{solicitudEntranteMB_Consultar.metOtraInstitucion.telContacto}"
                                             style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:90%" readonly="true"/> 
                                <br/><br/><br/>

                                <p:outputLabel value="#{msg['label.email']} " style="font-size: 18px;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                <br/>
                                <p:inputText value="#{solicitudEntranteMB_Consultar.metOtraInstitucion.emailContacto}"
                                             style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:90%" readonly="true"/> 
                                <br/><br/><br/> 
                            </p:panelGrid>
                        </p:panel>
                    </div>
                </div>
            </p:panel>


            <!--INF PROGRAMA ACADÉMICO-->
            <p:panel id="panelProgramaAcademico" style="background: whitesmoke" rendered="#{solicitudEntranteMB_Consultar.renderedAcademica}">
                <br/>
                <div class="ui-g">
                    <div class="ui-g-1"></div>
                    <div class="ui-g-1">
                        <p:commandLink value="#{msg['label.atras']}" style="color: #007979;text-decoration: underline"
                                       action="#{solicitudEntranteMB_Consultar.btnAtras(3)}" update="solicitudEntranteF" />
                    </div>
                    <div class="ui-g-8"></div>              
                    <div class="ui-g-2">
                        <p:commandLink value="#{msg['label.siguiente']}" style="color: #007979;text-decoration: underline" 
                                       action="#{solicitudEntranteMB_Consultar.btnSiguiente(3)}" update="solicitudEntranteF" />
                    </div>
                </div>
                <p:separator/>
                <br/>   
                <div class="ui-g">
                    <div class="ui-g-1"></div>

                    <div class="ui-g-8">
                        <br/>
                        <p:outputLabel value="#{msg['label.obligatorio']}" 
                                       style="color: #e44d26;font-size: 13px;font-weight: bold"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.nivelEducacion']} " style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <br/>
                        <p:selectOneRadio value="#{solicitudEntranteMB_Consultar.metSolicitud.metNivelEstEntrante.pk}" 
                                          layout="responsive" columns="1" style="font-size: 15px;" disabled="true">
                            <f:selectItem itemLabel="#{msg['label.doctorado']}" itemValue="3"  />
                            <f:selectItem itemLabel="#{msg['label.especializacion']}" itemValue="5"  />
                            <f:selectItem itemLabel="#{msg['label.maestria']}" itemValue="2"  />
                            <f:selectItem itemLabel="#{msg['label.pregrado']}" itemValue="1"  />
                        </p:selectOneRadio>
                        <br/><br/><br/> 

                        <p:outputLabel value="#{msg['label.facultad']} " style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <br/>
                        <p:inputText value="#{solicitudEntranteMB_Consultar.metSolicitud.otraFacultadEntrante}" 
                                     style="border-top: none; border-left: none; border-right: none; width: 80%;" readonly="true"/> 
                        <br/><br/><br/> 

                        <p:outputLabel value="#{msg['label.semestre']} " style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <br/>
                        <p:selectOneMenu id="idSemestres" value="#{solicitudEntranteMB_Consultar.metSolicitud.semestreEntrante}" 
                                         style="margin-top:1%;" disabled="true">
                            <f:selectItem/>
                            <f:selectItem itemLabel="#{msg['label.primero']}" itemValue="#{msg['label.primero']}"  /> 
                            <f:selectItem itemLabel="#{msg['label.segundo']}" itemValue="#{msg['label.segundo']}"  /> 
                            <f:selectItem itemLabel="#{msg['label.tercero']}" itemValue="#{msg['label.tercero']}"  /> 
                            <f:selectItem itemLabel="#{msg['label.cuarto']}" itemValue="#{msg['label.cuarto']}"  /> 
                            <f:selectItem itemLabel="#{msg['label.quinto']}" itemValue="#{msg['label.quinto']}"  /> 
                            <f:selectItem itemLabel="#{msg['label.sexto']}" itemValue="#{msg['label.sexto']}"  /> 
                            <f:selectItem itemLabel="#{msg['label.septimo']}" itemValue="#{msg['label.septimo']}"  /> 
                            <f:selectItem itemLabel="#{msg['label.octavo']}" itemValue="#{msg['label.octavo']}"  /> 
                            <f:selectItem itemLabel="#{msg['label.noveno']}" itemValue="#{msg['label.noveno']}"  /> 
                            <f:selectItem itemLabel="#{msg['label.decimo']}" itemValue="#{msg['label.decimo']}"  /> 
                        </p:selectOneMenu> 
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.programa']} " style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <br/>
                        <p:inputText value="#{solicitudEntranteMB_Consultar.metSolicitud.otroProgramaInstConvenio}"
                                     style="border-top: none; border-left: none; border-right: none; width: 80%;" readonly="true"/>        
                        <br/><br/><br/> 

                        <p:outputLabel value="#{msg['label.promedio']} " style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <br/>
                        <p:inputText value="#{solicitudEntranteMB_Consultar.metSolicitud.promedioAcumulado}"
                                     style="border-top: none; border-left: none; border-right: none; width: 80%;" readonly="true"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.idiomas']} " style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <p:panelGrid id="pIdiomas" style="margin-top: 2%;margin-bottom:20px;margin-right: 50px;">
                            <f:facet name="header">
                                <p:row>
                                    <p:column style="color: #444d56;background:#ccc;width: 30px;"></p:column>
                                    <p:column style="color: #444d56;background:#ccc;width: 30px;font-size: 18px;">#{msg['label.nativo']}</p:column>
                                    <p:column style="color: #444d56;background:#ccc;width: 30px;font-size: 18px;">#{msg['label.habla']}</p:column>
                                    <p:column style="color: #444d56;background:#ccc;width: 30px;font-size: 18px;">#{msg['label.escribe']}</p:column>
                                    <p:column style="color: #444d56;background:#ccc;width: 30px;font-size: 18px;">#{msg['label.lee']}</p:column>
                                </p:row>
                            </f:facet>
                            <p:row>
                                <p:column style="margin-top: 5px; width:50px;background:white;font-size: 18px;">#{msg['label.espaniol']}</p:column>
                                <p:column>
                                    <p:selectBooleanCheckbox id="checkIdiomaNativo1" style="margin-left: 16px;" 
                                                             value="#{solicitudEntranteMB_Consultar.idiomaEspanol.idiomaNativo}"
                                                             disabled="true">
                                        <p:ajax listener="#{solicitudEntranteMB_Consultar.deshabilitarIdiomaEsp()}" update="pIdiomas" />
                                    </p:selectBooleanCheckbox>

                                </p:column>
                                <p:column >
                                    <p:inputText style="margin-top:5px;color:#5f666c;width:80px;"  
                                                 placeholder="#{msg['placeholder.general.clicAqui']}" 
                                                 value="#{solicitudEntranteMB_Consultar.idiomaEspanol.porcentajeHabla}" 
                                                 readonly="true"/>
                                </p:column>
                                <p:column >
                                    <p:inputText style="margin-top:5px;color:#5f666c;width:80px;" 
                                                 placeholder="#{msg['placeholder.general.clicAqui']}" 
                                                 value="#{solicitudEntranteMB_Consultar.idiomaEspanol.porcentajeEscribe}"
                                                 readonly="true"/>
                                </p:column>
                                <p:column>
                                    <p:inputText style="margin-top:5px;color:#5f666c;width:80px;"  
                                                 placeholder="#{msg['placeholder.general.clicAqui']}" 
                                                 value="#{solicitudEntranteMB_Consultar.idiomaEspanol.porcentajeLee}"
                                                 readonly="true"/>
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column style="font-size: 18px;">#{msg['label.ingles']}</p:column>
                                <p:column >
                                    <p:selectBooleanCheckbox id="checkIdiomaNativo2" style="margin-left: 16px;" 
                                                             value="#{solicitudEntranteMB_Consultar.idiomaIngles.idiomaNativo}"
                                                             disabled="true">
                                        <p:ajax listener="#{solicitudEntranteMB_Consultar.deshabilitarIdiomaIng()}" update="pIdiomas" />
                                    </p:selectBooleanCheckbox>
                                </p:column>
                                <p:column>
                                    <p:inputText style="margin-top:5px;width:80px;color:#5f666c;" 
                                                 placeholder="#{msg['placeholder.general.clicAqui']}"
                                                 value="#{solicitudEntranteMB_Consultar.idiomaIngles.porcentajeHabla}" 
                                                 readonly="true"/>
                                </p:column>
                                <p:column >
                                    <p:inputText style="margin-top:5px;width:80px;color:#5f666c;" 
                                                 placeholder="#{msg['placeholder.general.clicAqui']}"
                                                 value="#{solicitudEntranteMB_Consultar.idiomaIngles.porcentajeEscribe}"
                                                 readonly="true"/>
                                </p:column>
                                <p:column >
                                    <p:inputText style="margin-top:5px;width:80px;color:#5f666c;" 
                                                 placeholder="#{msg['placeholder.general.clicAqui']}"
                                                 value="#{solicitudEntranteMB_Consultar.idiomaIngles.porcentajeLee}"
                                                 readonly="true"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column style="font-size: 18px;">#{msg['label.otroCual']}
                                    <p:inputText style="margin-top:5px;width:80px;color:#5f666c;" 
                                                 value="#{solicitudEntranteMB_Consultar.idiomaOtro.namDescripcion}" readonly="true"/> 
                                </p:column>
                                <p:column>
                                    <p:selectBooleanCheckbox id="checkIdiomaNativo3" style="margin-left: 16px;" 
                                                             value="#{solicitudEntranteMB_Consultar.idiomaOtro.idiomaNativo}"
                                                             disabled="true">
                                        <p:ajax listener="#{solicitudEntranteMB_Consultar.deshabilitarIdiomaOtro()}" update="pIdiomas" />
                                    </p:selectBooleanCheckbox>
                                </p:column>
                                <p:column>
                                    <p:inputText style="margin-top:5px;width:80px;color:#5f666c;"  
                                                 placeholder="#{msg['placeholder.general.clicAqui']}"
                                                 value="#{solicitudEntranteMB_Consultar.idiomaOtro.porcentajeHabla}"
                                                 readonly="true"/>
                                </p:column>
                                <p:column>
                                    <p:inputText style="margin-top:5px;width:80px;color:#5f666c;"  
                                                 placeholder="#{msg['placeholder.general.clicAqui']}"
                                                 value="#{solicitudEntranteMB_Consultar.idiomaOtro.porcentajeEscribe}"
                                                 readonly="true"/>
                                </p:column>
                                <p:column>
                                    <p:inputText style="margin-top:5px;width:80px;color:#5f666c;"  
                                                 placeholder="#{msg['placeholder.general.clicAqui']}"
                                                 value="#{solicitudEntranteMB_Consultar.idiomaOtro.porcentajeLee}"
                                                 readonly="true"/>
                                </p:column>
                            </p:row> 
                        </p:panelGrid> 
                        <br/>
                        <br/>

                        <p:outputLabel value="#{msg['label.distinciones']} " style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <br/>
                        <p:outputLabel value="#{msg['label.notaDistinciones']} " style="font-size: 15px;"/>
                        <h:panelGrid id="pDistinciones" rendered="#{solicitudEntranteMB_Consultar.renderedDistinciones}">
                            <p:dataTable id="tableDisticiones" var="disbasicDTtincion" 
                                         value="#{solicitudEntranteMB_Consultar.listaDistinciones}" style="margin-top:2%;width:120%;">
                                <f:facet name="header" >
                                    <p:outputPanel style="height: 25px;" >
                                        <h:outputText value="#{msg['label.form.distinciones']}" style="font-size:20px; font-weight: bold"/>
                                    </p:outputPanel>
                                </f:facet>
                                <p:column  style="width:40px;text-align: center" headerText="#{msg['label.form.anio']}">
                                    <h:outputText value="#{disbasicDTtincion.anio}" style="border: none"/>
                                </p:column>
                                <p:column style="width:80px;text-align: center" headerText="#{msg['label.form.logro']}">
                                    <h:outputText   value="#{disbasicDTtincion.descripcion}"/>
                                </p:column>
                                <p:column style="width:80px;text-align: center" headerText="#{msg['label.form.soporte']}">
                                    <p:commandLink id="downloadDistincionlink" style="color: #007979;text-decoration: underline;" value="#{disbasicDTtincion.nombreArchivo}"  ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);">
                                        <f:setPropertyActionListener value="#{disbasicDTtincion}" target="#{solicitudEntranteMB_Consultar.selectedDistincion}" />
                                        <p:fileDownload value="#{solicitudEntranteMB_Consultar.archivoDistincion}" />
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </h:panelGrid>

                        <script type="text/javascript">
                            function start() {
                                PF('statusDialog').show();
                            }
                            function stop() {
                                PF('statusDialog').hide();
                            }
                        </script>
                        <br/><br/><br/> 
                    </div>
                </div>
            </p:panel>

            <!--ACUERDO DE APRENDIZAJE-->
            <p:panel id="panelInfMovilidad" style="background: whitesmoke" rendered="#{solicitudEntranteMB_Consultar.renderedMovilidad}">
                <br/>
                <div class="ui-g">
                    <div class="ui-g-1"></div>
                    <div class="ui-g-1">
                        <p:commandLink value="#{msg['label.atras']}" style="color: #007979;text-decoration: underline"
                                       action="#{solicitudEntranteMB_Consultar.btnAtras(4)}" update="solicitudEntranteF" />
                    </div>
                    <div class="ui-g-8"></div>              
                    <div class="ui-g-2">
                        <p:commandLink value="#{msg['label.siguiente']}" style="color: #007979;text-decoration: underline" 
                                       action="#{solicitudEntranteMB_Consultar.btnSiguiente(4)}" update="solicitudEntranteF" />
                    </div>
                </div>
                <p:separator/>
                <br/>   
                <div class="ui-g">
                    <div class="ui-g-1"></div>

                    <div class="ui-g-8">
                        <br/>
                        <p:outputLabel value="#{msg['label.obligatorio']}" 
                                       style="color: #e44d26;font-size: 13px;font-weight: bold"/>
                        <br/>
                        <br/>
                        <br/>


                        <p:outputLabel value="#{msg['label.form.progInteres']} " style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:selectOneMenu value="#{solicitudEntranteMB_Consultar.metSolicitud.metProgramaKl.pk}" disabled="true">
                            <f:selectItem />
                            <f:selectItems value="#{solicitudEntranteMB_Consultar.listaProgramasKL}" var="p" 
                                           itemValue="#{p.pk}" itemLabel="#{p.nombre}" />                        
                        </p:selectOneMenu>
                        <br/>
                        <br/>
                        <br/>

                        <p:outputLabel value="#{msg['label.formEntrante.tipoMovilidad']} " style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:selectOneRadio value="#{solicitudEntranteMB_Consultar.metSolicitud.metTipoMovilidad.pk}"
                                          layout="responsive" columns="1" style="font-size: 15px;" disabled="true">
                            <f:selectItem itemLabel="#{msg['label.intercambioAcademico']}" itemValue="1" />
                            <f:selectItem itemLabel="#{msg['label.intercambioAsignaturas']}" itemValue="5" />
                            <f:selectItem itemLabel="#{msg['label.dobleTitulacion']}" itemValue="6" />
                            <f:selectItem itemLabel="#{msg['labe.practicaInternacional']}" itemValue="3" />
                            <f:selectItem itemLabel="#{msg['label.estanciaInvestigacion']}" itemValue="2" />
                            <f:selectItem itemLabel="#{msg['label.cursoCorto']}" itemValue="4" />
                        </p:selectOneRadio>
                        <br/><br/> <br/>

                        <h:outputLabel  value="#{msg['label.formEntrante.fecInicio']}" style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%"
                                      value="#{solicitudEntranteMB_Consultar.metSolicitud.fechaInicioMovilidad}" readonly="true"/>  
                        <br/><br/><br/>

                        <h:outputLabel value="#{msg['label.formEntrante.fecFinalizacion']}" style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%"
                                      value="#{solicitudEntranteMB_Consultar.metSolicitud.fechaFinMovilidad}" readonly="true"/>  
                        <br/><br/><br/>

                        <h:outputLabel value="#{msg['label.form.duracionTotalMov']}" style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%"
                                      value="#{solicitudEntranteMB_Consultar.metSolicitud.duracionMovilidad}" readonly="true"/>  
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.notaCursos']}"  style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>              
                        <h:panelGrid id="pCursos" rendered="#{solicitudEntranteMB_Consultar.renderedCursosKL}">
                            <p:dataTable id="CursosDT" var="cursos" value="#{solicitudEntranteMB_Consultar.listaInfoCursoKL}" style="width: 120%;">
                                <f:facet name="header">
                                    <p:outputPanel style="height: 25px;" >
                                        <h:outputText value="#{msg['label.curso']}" style="font-size:20px; font-weight: bold"/>
                                    </p:outputPanel>
                                </f:facet>
                                <p:column  style="width:40px;text-align: center" headerText="#{msg['label.codigoCurso']}">
                                    <h:outputText value="#{cursos.codigo}" style="border: none"/>
                                </p:column>
                                <p:column style="width:50px;text-align: center" headerText="#{msg['label.nombreCurso']}">
                                    <h:outputText   value="#{cursos.nombre}"/>
                                </p:column>
                                <p:column style="width:50px;text-align: center" headerText="#{msg['label.creditosCurso']}">
                                    <h:outputText  value="#{cursos.creditos}"/>
                                </p:column>
                            </p:dataTable>
                        </h:panelGrid>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <p:outputLabel value="#{msg['label.notaCAlternativos']}" style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <h:panelGrid id="pCursosAlt" rendered="#{solicitudEntranteMB_Consultar.renderedCursosKLAlt}">
                            <p:dataTable id="CursosDTAlt" var="cursosAlt" value="#{solicitudEntranteMB_Consultar.listaInfoCursoKLAlt}" style="width: 120%">
                                <f:facet name="header">
                                    <p:outputPanel style="height: 25px;" >
                                        <h:outputText value="#{msg['label.cursoAlternativo']}" style="font-size:20px; font-weight: bold"/>
                                    </p:outputPanel>
                                </f:facet>
                                <p:column  style="width:40px;text-align: center" headerText="#{msg['label.codigoCurso']}">
                                    <h:outputText value="#{cursosAlt.codigo}" style="border: none"/>
                                </p:column>
                                <p:column style="width:50px;text-align: center" headerText="#{msg['label.nombreCurso']}">
                                    <h:outputText   value="#{cursosAlt.nombre}"/>
                                </p:column>
                                <p:column style="width:50px;text-align: center" headerText="#{msg['label.creditosCurso']}">
                                    <h:outputText  value="#{cursosAlt.creditos}"/>
                                </p:column>
                            </p:dataTable>
                        </h:panelGrid>
                        <br/>
                        <br/>
                        <br/>
                        <br/>

                        <p:outputLabel value="#{msg['placeholder.formEntrante.motDescripcion']}" style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>       
                        <br/>
                        <p:inputTextarea rows="10" cols="90"  queryDelay="600" minQueryLength="4"
                                         value="#{solicitudEntranteMB_Consultar.metSolicitud.motivacionEstudiante}" 
                                         style="margin-top: 10px;" readonly="true"/>                                                       
                    </div> 
                </div>
            </p:panel>

            <!--INFORMACION MEDICA Y DE CONTACTO DEL ESTUDIANTE -->
            <p:panel id="panelInfMedicaContacto" style="background: whitesmoke" rendered="#{solicitudEntranteMB_Consultar.renderedPrfilMedico}">
                <br/>
                <div class="ui-g">
                    <div class="ui-g-1"></div>
                    <div class="ui-g-1">
                        <p:commandLink value="#{msg['label.atras']}" style="color: #007979;text-decoration: underline"
                                       action="#{solicitudEntranteMB_Consultar.btnAtras(5)}" update="solicitudEntranteF" />
                    </div>
                    <div class="ui-g-8"></div>              
                    <div class="ui-g-2">
                        <p:commandLink value="#{msg['label.siguiente']}" style="color: #007979;text-decoration: underline" 
                                       action="#{solicitudEntranteMB_Consultar.btnSiguiente(5)}" update="solicitudEntranteF" />
                    </div>
                </div>
                <p:separator/>
                <br/>   
                <div class="ui-g">
                    <div class="ui-g-1"></div>

                    <div class="ui-g-8">
                        <br/>
                        <p:outputLabel value="#{msg['label.obligatorio']}" 
                                       style="color: #e44d26;font-size: 13px;font-weight: bold"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.tipoSangre']} " style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:selectOneMenu value="#{solicitudEntranteMB_Consultar.metInfUsuario.tipoSangre}" style="margin-top: 2%;" disabled="true">
                            <f:selectItem/>
                            <f:selectItems value="#{solicitudEntranteMB_Consultar.itemsTipoSangre}" />                    
                        </p:selectOneMenu> 
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.alergias']} " style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <div class="ui-g">
                            <div class="ui-g-4">
                                <p:selectOneRadio value="#{solicitudEntranteMB_Consultar.metSolicitud.tieneAlergia}" style="margin-top: 2%;" disabled="true">
                                    <f:selectItem itemLabel="#{msg['label.si']}" itemValue="#{msg['label.si']}" />
                                    <f:selectItem itemLabel="No" itemValue="No" />
                                </p:selectOneRadio> 
                            </div>
                            <div class="ui-g-8">
                                <p:inputTextarea rows="1"  cols="20" style="width:100%;" placeholder="#{msg['label.cuales']}"
                                                 value="#{solicitudEntranteMB_Consultar.metSolicitud.alergias}" readonly="true"/>
                            </div>
                        </div>
                        <br/><br/>

                        <p:outputLabel value="#{msg['label.enfCronicas']} "  style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <div class="ui-g">
                            <div class="ui-g-4">
                                <p:selectOneRadio value="#{solicitudEntranteMB_Consultar.metSolicitud.tieneEnfermedades}" style="margin-top: 2%;" disabled="true">
                                    <f:selectItem itemLabel="#{msg['label.si']}" itemValue="#{msg['label.si']}" />
                                    <f:selectItem itemLabel="No" itemValue="No" />
                                </p:selectOneRadio> 
                            </div>
                            <div class="ui-g-8">
                                <p:inputTextarea rows="1"  cols="20" style="width:100%;" placeholder="#{msg['label.cuales']}"
                                                 value="#{solicitudEntranteMB_Consultar.metSolicitud.enfermedades}" readonly="true"/>
                            </div>
                        </div>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.medicamento']} " style="font-size: 18px;"  />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>        
                        <div class="ui-g">
                            <div class="ui-g-4">
                                <p:selectOneRadio value="#{solicitudEntranteMB_Consultar.metSolicitud.tieneMedicamento}" style="margin-top: 2%;" disabled="true">
                                    <f:selectItem itemLabel="#{msg['label.si']}" itemValue="#{msg['label.si']}" />
                                    <f:selectItem itemLabel="No" itemValue="No" />
                                </p:selectOneRadio> 
                            </div>
                            <div class="ui-g-8">
                                <p:inputTextarea rows="1"  cols="20" style="width:100%;" placeholder="#{msg['label.cuales']}"
                                                 value="#{solicitudEntranteMB_Consultar.metSolicitud.medicamentos}" readonly="true"/>
                            </div>
                        </div>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.restriccion']} "  style="font-size: 18px;"  />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>     
                        <div class="ui-g">
                            <div class="ui-g-4">
                                <p:selectOneRadio value="#{solicitudEntranteMB_Consultar.metSolicitud.tieneRestriccionAlm}" style="margin-top: 2%;" disabled="true">
                                    <f:selectItem itemLabel="#{msg['label.si']}" itemValue="#{msg['label.si']}" />
                                    <f:selectItem itemLabel="No" itemValue="No" />
                                </p:selectOneRadio> 
                            </div>
                            <div class="ui-g-8">
                                <p:inputTextarea rows="1" cols="20" style="width:100%;" placeholder="#{msg['label.cuales']}"
                                                 value="#{solicitudEntranteMB_Consultar.metSolicitud.restriccionAlimentaria}" readonly="true"/>
                            </div>
                        </div>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.nameAcudiente']} "  style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudEntranteMB_Consultar.metContactoEmergencia.nombres}" 
                                     style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:80%" readonly="true"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.parentesco']} "  style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <h:panelGrid id="panelParentesco" columns="2">
                            <p:column>
                                <p:selectOneMenu  value="#{solicitudEntranteMB_Consultar.metContactoEmergencia.metParentesco.pk}" disabled="true">
                                    <f:selectItem />
                                    <f:selectItems value="#{solicitudEntranteMB_Consultar.tiposParentesco}" var="t" itemValue="#{t.pk}" itemLabel="#{t.nombreEspaniol}"/>    
                                    <p:ajax update="panelParentesco" listener="#{solicitudEntranteMB_Consultar.otroParentesco()}"/>
                                </p:selectOneMenu>
                            </p:column>
                            <p:column>
                                <p:inputText rendered="#{solicitudEntranteMB_Consultar.renderedOtroParentesco}"
                                             value="#{solicitudEntranteMB_Consultar.metContactoEmergencia.otroParentesco}"
                                             style="margin-left: 2%; margin-top: 1%;border-top:none;border-left:none;border-right: none;width:50%" readonly="true"/>
                            </p:column>
                        </h:panelGrid>
                        <br/><br/>

                        <p:outputLabel value="#{msg['label.direccion']} "  style="font-size: 18px;"  />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudEntranteMB_Consultar.metContactoEmergencia.direccion}"
                                     style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:70%" readonly="true"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.telCasa']} "  style="font-size: 18px;"  />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudEntranteMB_Consultar.metContactoEmergencia.telefono}"
                                     style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:70%" readonly="true"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.celular']} "  style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudEntranteMB_Consultar.metContactoEmergencia.celular}"
                                     style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:70%" readonly="true"/>

                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.email']} " style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudEntranteMB_Consultar.metContactoEmergencia.email}"
                                     style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:70%" readonly="true"/>
                        <br/><br/><br/>   
                    </div>
                </div>
            </p:panel>

            <!--ADJUNTAR ARCHIVOS-->
            <p:panel id="panelDocumentos" style="background: whitesmoke" rendered="#{solicitudEntranteMB_Consultar.renderedDocAdjuntos}">
                <br/>
                <div class="ui-g">
                    <div class="ui-g-1"></div>
                    <div class="ui-g-1">
                        <p:commandLink value="#{msg['label.atras']}" style="color: #007979;text-decoration: underline"
                                       action="#{solicitudEntranteMB_Consultar.btnAtras(6)}" update="solicitudEntranteF" />
                    </div>
                    <div class="ui-g-8"></div>              
                    <div class="ui-g-2"></div>
                </div>
                <p:separator/>
                <br/>   
                <div class="ui-g">

                    <div class="ui-g-1"></div>

                    <div class="ui-g-8">
                    <p:dataTable id="tableArchivos" var="listaArchivo" 
                                     value="#{solicitudEntranteMB_Consultar.listSoporteAdjunto}" style="margin-top:2%;width:120%;">
                            <f:facet name="header" >
                                <p:outputPanel style="height: 25px;" >
                                    <h:outputText value="#{msg['label.archivos']}" style="font-size:20px; font-weight: bold"/>
                                </p:outputPanel>
                            </f:facet>
                            <p:column style="width:80px;text-align: center" headerText="#{msg['label.archivoDescripcion']}">
                                <h:outputText   value="#{listaArchivo.descripcion}"/>
                            </p:column>
                            <p:column style="width:80px;text-align: center" headerText="#{msg['label.archivoDescargar']}">
                                <p:commandLink id="downloadFileLink" style="color: #007979;text-decoration: underline;" 
                                               value="#{listaArchivo.nombre}"  ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);">
                                    <f:setPropertyActionListener value="#{listaArchivo}" target="#{solicitudEntranteMB_Consultar.selectArchivo}" />
                                    <p:fileDownload value="#{solicitudEntranteMB_Consultar.archivo}" />
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                        <br/><br/>
                    </div>
                    <div class="ui-g-1"></div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-5"></div>
                    <div class="ui-g-2">      
                        <p:commandButton icon="fa fa-file-pdf-o"  value="#{msg['label.generarReporte']}" 
                                         action="#{solicitudEntranteMB_Consultar.ConsultarSolicitud()}" style="font-size: 16px;"  update="pdReporteEntrante" />
                    </div>
                    <div class="ui-g-5"></div>
                </div>
            </p:panel>

        </div>
        <div class="ui-g-1"></div>
    </div>
    <p:separator style="background: #00acac;height:5px;margin-top:50px;margin-bottom:60px;margin-left:20px; margin-right:20px" />

    <p:dialog id="pdReporteEntrante" header="Reporte" widgetVar="pdReporteEntrante" modal="false" width="800" height="500" resizable="false">  
        <p:panelGrid id="panelGridReporteEnt" columns="1">
            <p:media value="/Reporte"  player="pdf" width="750" height="480"/>
        </p:panelGrid>
    </p:dialog>

    <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />

    <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
        <p:graphicImage name="/images/ajaxloadingbar.gif" />
    </p:dialog>


</ui:composition>