<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <div class="ui-g">
        <div class="ui-g-11"></div>
        <div class="ui-g-12">
            <p:commandButton value="#{msg['label.salir']}" action="#{solicitudSalienteMB_Consultar.logout()}"   icon="fa fa-sign-out"  immediate="true" style="margin-left: 85%;"/>
        </div>
    </div>

    <br/>
    <br/>  
    <br/>  
    <div class="ui-g">
        <div class="ui-g-12">
            <p:panel style="border: none;">
                <p:outputLabel style="font-size: 32px;"  
                               value="#{msg['label.bienvenido']} #{solicitudSalienteMB_Consultar.metInfUsuarioEscolaris.nombres} #{solicitudSalienteMB_Consultar.metInfUsuarioEscolaris.apellidos}" />
            </p:panel>
            <br/>  
            <p:separator style="background: #a8acb1;height:5px;margin-top:30px;margin-bottom:60px;margin-left:20px; margin-right:20px" />   
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-3">
            <p:panel style="background: #00acac">
                <p:outputLabel style="color: white;font-size: 20px;"  value="#{msg['label.infPersonal']}" rendered="#{solicitudSalienteMB_Consultar.renderedPersonal}"/>
                <p:outputLabel style="color: white;font-size: 20px;"  value="#{msg['label.infInstitucionOrigen']}" rendered="#{solicitudSalienteMB_Consultar.renderedInstOrigen}"/>              
                <p:outputLabel style="color: white;font-size: 20px;"  value="#{msg['label.infAcademico']}" rendered="#{solicitudSalienteMB_Consultar.renderedAcademica}"/>         
                <p:outputLabel style="color: white;font-size: 20px;"  value="#{msg['label.infAcuerdoApren']}" rendered="#{solicitudSalienteMB_Consultar.renderedMovilidad}"/>
                <p:outputLabel style="color: white;font-size: 20px;"  value="#{msg['label.infMedicaContacto']}" rendered="#{solicitudSalienteMB_Consultar.renderedPrfilMedico}"/>
                <p:outputLabel style="color: white;font-size: 20px;"  value="#{msg['label.archivosAdjuntos']}" rendered="#{solicitudSalienteMB_Consultar.renderedDocAdjuntos}"/>
            </p:panel>
        </div>
        <div class="ui-g-8">

            <!--INFORMACION PERSONAL DEL ESTUDIANTE -->
            <p:panel id="panelInfPersonal" style="background: whitesmoke" rendered="#{solicitudSalienteMB_Consultar.renderedPersonal}">
                <br/>
                <div class="ui-g">
                    <div class="ui-g-1"></div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-8"></div>              
                    <div class="ui-g-2">
                        <p:commandLink value="#{msg['label.siguiente']}" style="color: #007979;text-decoration: underline" 
                                       action="#{solicitudSalienteMB_Consultar.btnSiguiente(1)}" update="solicitudSalienteF" />
                    </div>
                </div>
                <p:separator/>
                <br/>    
                <div class="ui-g">

                    <div class="ui-g-1"></div>

                    <div class="ui-g-8">
                        <br/>
                        <p:outputLabel value="#{msg['label.obligatorio']}" 
                                       style="color: #e44d26;font-size: 13px;font-weight: bold"/>
                        <br/>
                        <br/>
                        <br/>
                        <p:outputLabel value="#{msg['label.apellido']} " style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:80%"
                                     value="#{solicitudSalienteMB_Consultar.metInfUsuarioEscolaris.apellidos}" readonly="true"/>
                        <br/>
                        <br/>
                        <br/>

                        <p:outputLabel value="#{msg['label.nombre']}" style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%"
                                     value="#{solicitudSalienteMB_Consultar.metInfUsuarioEscolaris.nombres}" readonly="true"/>
                        <br/>
                        <br/>
                        <br/>

                        <p:outputLabel value="#{msg['label.genero']} "  style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%"
                                     value="#{solicitudSalienteMB_Consultar.metInfUsuarioEscolaris.metGenero.nombreEspaniol}" readonly="true"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.tipoDocumento']} "  style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%"
                                     value="#{solicitudSalienteMB_Consultar.metInfUsuarioEscolaris.metTipoIdentificacion.nombre}" readonly="true"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.numDocumento']} "  style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%"
                                      value="#{solicitudSalienteMB_Consultar.metInfUsuarioEscolaris.numeroIdentificacion}" readonly="true"/> 
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.lugarExpedicion']} "  style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%"
                                      value="#{solicitudSalienteMB_Consultar.metInfUsuarioEscolaris.lugarExpedicion}" readonly="true"/>                      
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.fechaNacimiento']} "  style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%"
                                      value="#{solicitudSalienteMB_Consultar.metInfUsuarioEscolaris.fechaNacimiento}" readonly="true"/>  
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.lugarNacimiento']} " style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB_Consultar.metInfUsuarioEscolaris.lugarNacimiento}"
                                     style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%;" readonly="true"/>
                        <br/><br/><br/>

                        <p:outputLabel  value="#{msg['label.nacionalidad']} "  style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB_Consultar.metInfUsuario.nacionalidad}"
                                     style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%;" readonly="true"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.codigoEstudiantil']} "  style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%"
                                      value="#{solicitudSalienteMB_Consultar.metInfUsuarioEscolaris.codigoEstudiantil}" readonly="true"/>                      
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.direccion']} "  style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB_Consultar.metInfUsuarioEscolaris.direccionResidencia}"  
                                     style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%;" readonly="true"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.telCasa']}"  style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText  value="#{solicitudSalienteMB_Consultar.metInfUsuarioEscolaris.telCasa}"
                                      style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%;" readonly="true"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.celular']}"  style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB_Consultar.metInfUsuarioEscolaris.celular}"
                                     style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%;" readonly="true"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.emailInstitucional']}"  style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB_Consultar.metInfUsuarioEscolaris.emailInstitucional}"
                                     style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%;" readonly="true"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.emailAlternativo']}"  style="font-size: 18px;" />
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB_Consultar.metInfUsuarioEscolaris.emailAlternativo}"
                                     style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%;" readonly="true"/>
                        <br/><br/><br/>
                    </div>
                </div>
            </p:panel>

            <!--INF PROGRAMA ACADÉMICO-->
            <p:panel id="panelProgramaAcademico" style="background: whitesmoke" rendered="#{solicitudSalienteMB_Consultar.renderedAcademica}">
                <br/>
                <div class="ui-g">
                    <div class="ui-g-1"></div>
                    <div class="ui-g-1">
                        <p:commandLink value="#{msg['label.atras']}" style="color: #007979;text-decoration: underline"
                                       action="#{solicitudSalienteMB_Consultar.btnAtras(2) }" update="solicitudSalienteF" />
                    </div>
                    <div class="ui-g-8"></div>              
                    <div class="ui-g-2">
                        <p:commandLink value="#{msg['label.siguiente']}" style="color: #007979;text-decoration: underline" 
                                       action="#{solicitudSalienteMB_Consultar.btnSiguiente(2)}" update="solicitudSalienteF" />
                    </div>
                </div>
                <p:separator/>
                <br/>   
                <div class="ui-g">
                    <div class="ui-g-1"></div>

                    <div class="ui-g-8">
                        <br/>
                        <p:outputLabel value="#{msg['label.obligatorio']}" 
                                       style="color: #e44d26;font-size: 13px;font-weight: bold"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.nivelEducacion']} " style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB_Consultar.nivelEducacion}" readonly="true" style="border-top: none; border-left: none; border-right: none; width: 80%;" /> 
                        <br/><br/><br/> 

                        <p:outputLabel value="#{msg['label.facultad']} " style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB_Consultar.metInfUsuarioEscolaris.facultadEstSaliente}" 
                                     style="border-top: none; border-left: none; border-right: none; width: 80%;" readonly="true"/> 
                        <br/><br/><br/> 

                        <p:outputLabel value="#{msg['label.semestre']} " style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB_Consultar.metInfUsuarioEscolaris.semestreEstSaliente}" readonly="true"
                                     style="border-top: none; border-left: none; border-right: none; width: 80%;"/> 
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.programa']} " style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB_Consultar.metInfUsuarioEscolaris.programaEstSaliente}"
                                     style="border-top: none; border-left: none; border-right: none; width: 80%;" readonly="true"/>     
                        <br/><br/><br/> 

                        <p:outputLabel value="#{msg['label.promedio']} " style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB_Consultar.metSolicitud.promedioAcumulado}"
                                     style="border-top: none; border-left: none; border-right: none; width: 80%;" readonly="true"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.promedioUltSemestre']} " style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB_Consultar.metSolicitud.promedioUltSemestre}"
                                     style="border-top: none; border-left: none; border-right: none; width: 80%;" readonly="true"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.idiomas']} " style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <p:panelGrid id="pIdiomas" style="margin-top: 2%;margin-bottom:20px;margin-right: 50px;">
                            <f:facet name="header">
                                <p:row>
                                    <p:column style="color: #444d56;background:#ccc;width: 30px;"></p:column>
                                    <p:column style="color: #444d56;background:#ccc;width: 30px;font-size: 18px;">#{msg['label.nativo']}</p:column>
                                    <p:column style="color: #444d56;background:#ccc;width: 30px;font-size: 18px;">#{msg['label.habla']}</p:column>
                                    <p:column style="color: #444d56;background:#ccc;width: 30px;font-size: 18px;">#{msg['label.escribe']}</p:column>
                                    <p:column style="color: #444d56;background:#ccc;width: 30px;font-size: 18px;">#{msg['label.lee']}</p:column>
                                </p:row>
                            </f:facet>
                            <p:row>
                                <p:column style="margin-top: 5px; width:50px;background:white;font-size: 18px;">#{msg['label.espaniol']}</p:column>
                                <p:column>
                                    <p:selectBooleanCheckbox id="checkIdiomaNativo1" style="margin-left: 16px;" 
                                                             value="#{solicitudSalienteMB_Consultar.idiomaEspanol.idiomaNativo}"
                                                             disabled="true">
                                        <p:ajax listener="#{solicitudSalienteMB_Consultar.deshabilitarIdiomaEsp()}" update="pIdiomas" />
                                    </p:selectBooleanCheckbox>

                                </p:column>
                                <p:column >
                                    <p:inputText id="out" style="margin-top:5px;color:#5f666c;width:80px;" 
                                                 placeholder="#{msg['placeholder.general.clicAqui']}" 
                                                 value="#{solicitudSalienteMB_Consultar.idiomaEspanol.porcentajeHabla}" 
                                                 readonly="true">
                                        <p:ajax event="blur" update="out" listener="#{solicitudSalienteMB_Consultar.porcentajeIdioma}" />
                                    </p:inputText>
                                </p:column>
                                <p:column >
                                    <p:inputText style="margin-top:5px;color:#5f666c;width:80px;" 
                                                 placeholder="#{msg['placeholder.general.clicAqui']}" 
                                                 value="#{solicitudSalienteMB_Consultar.idiomaEspanol.porcentajeEscribe}"
                                                 readonly="true"/>
                                </p:column>
                                <p:column>
                                    <p:inputText style="margin-top:5px;color:#5f666c;width:80px;"  
                                                 placeholder="#{msg['placeholder.general.clicAqui']}" 
                                                 value="#{solicitudSalienteMB_Consultar.idiomaEspanol.porcentajeLee}"
                                                 readonly="true"/>
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column style="font-size: 18px;">#{msg['label.ingles']}</p:column>
                                <p:column >
                                    <p:selectBooleanCheckbox id="checkIdiomaNativo2" style="margin-left: 16px;" 
                                                             value="#{solicitudSalienteMB_Consultar.idiomaIngles.idiomaNativo}"
                                                             disabled="true">
                                        <p:ajax listener="#{solicitudSalienteMB_Consultar.deshabilitarIdiomaIng()}" update="pIdiomas" />
                                    </p:selectBooleanCheckbox>
                                </p:column>
                                <p:column>
                                    <p:inputText style="margin-top:5px;width:80px;color:#5f666c;" 
                                                 placeholder="#{msg['placeholder.general.clicAqui']}"
                                                 value="#{solicitudSalienteMB_Consultar.idiomaIngles.porcentajeHabla}" 
                                                 readonly="true"/>
                                </p:column>
                                <p:column >
                                    <p:inputText style="margin-top:5px;width:80px;color:#5f666c;" 
                                                 placeholder="#{msg['placeholder.general.clicAqui']}"
                                                 value="#{solicitudSalienteMB_Consultar.idiomaIngles.porcentajeEscribe}"
                                                 readonly="true"/>
                                </p:column>
                                <p:column >
                                    <p:inputText style="margin-top:5px;width:80px;color:#5f666c;" 
                                                 placeholder="#{msg['placeholder.general.clicAqui']}"
                                                 value="#{solicitudSalienteMB_Consultar.idiomaIngles.porcentajeLee}"
                                                 readonly="true"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column style="font-size: 18px;">#{msg['label.otroCual']}
                                    <p:inputText style="margin-top:5px;width:80px;color:#5f666c;" 
                                                 value="#{solicitudSalienteMB_Consultar.idiomaOtro.namDescripcion}"
                                                 readonly="true"/> 
                                </p:column>
                                <p:column>
                                    <p:selectBooleanCheckbox id="checkIdiomaNativo3" style="margin-left: 16px;" 
                                                             value="#{solicitudSalienteMB_Consultar.idiomaOtro.idiomaNativo}"
                                                             disabled="true">
                                        <p:ajax listener="#{solicitudSalienteMB_Consultar.deshabilitarIdiomaOtro()}" update="pIdiomas" />
                                    </p:selectBooleanCheckbox>
                                </p:column>
                                <p:column>
                                    <p:inputText style="margin-top:5px;width:80px;color:#5f666c;"  
                                                 placeholder="#{msg['placeholder.general.clicAqui']}"
                                                 value="#{solicitudSalienteMB_Consultar.idiomaOtro.porcentajeHabla}"
                                                 readonly="true"/>
                                </p:column>
                                <p:column>
                                    <p:inputText style="margin-top:5px;width:80px;color:#5f666c;"  
                                                 placeholder="#{msg['placeholder.general.clicAqui']}"
                                                 value="#{solicitudSalienteMB_Consultar.idiomaOtro.porcentajeEscribe}"
                                                 readonly="true"/>
                                </p:column>
                                <p:column>
                                    <p:inputText style="margin-top:5px;width:80px;color:#5f666c;"  
                                                 placeholder="#{msg['placeholder.general.clicAqui']}"
                                                 value="#{solicitudSalienteMB_Consultar.idiomaOtro.porcentajeLee}"
                                                 readonly="true"/>
                                </p:column>
                            </p:row> 
                        </p:panelGrid> 
                        <br/>
                        <br/>
                        <p:outputLabel value="#{msg['label.distinciones']} " style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <br/>
                        <p:outputLabel value="#{msg['label.notaDistinciones']} " style="font-size: 15px;"/>
                        <br/><br/> 
                        <h:panelGrid id="pDistinciones" rendered="#{solicitudSalienteMB_Consultar.renderedDistinciones}">
                            <p:dataTable id="tableDisticiones" var="disbasicDTtincion" 
                                         value="#{solicitudSalienteMB_Consultar.listaDistinciones}" style="margin-top:2%;width:120%;">
                                <f:facet name="header" >
                                    <p:outputPanel style="height: 25px;" >
                                        <h:outputText value="#{msg['label.form.distinciones']}" style="font-size:20px; font-weight: bold"/>
                                    </p:outputPanel>
                                </f:facet>
                                <p:column  style="width:40px;text-align: center" headerText="#{msg['label.form.anio']}">
                                    <h:outputText value="#{disbasicDTtincion.anio}" style="border: none"/>
                                </p:column>
                                <p:column style="width:80px;text-align: center" headerText="#{msg['label.form.logro']}">
                                    <h:outputText   value="#{disbasicDTtincion.descripcion}"/>
                                </p:column>
                                <p:column style="width:80px;text-align: center" headerText="#{msg['label.form.soporte']}">
                                    <p:commandLink id="downloadDistincionlink" style="color: #007979;text-decoration: underline;" 
                                                   value="#{disbasicDTtincion.nombreArchivo}"  ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);">
                                        <f:setPropertyActionListener value="#{disbasicDTtincion}" target="#{solicitudSalienteMB_Consultar.selectedDistincion}" />
                                        <p:fileDownload value="#{solicitudSalienteMB_Consultar.archivoDistincion}" />
                                    </p:commandLink>
                                </p:column>
                            </p:dataTable>
                        </h:panelGrid>

                        <script type="text/javascript">
                            function start() {
                                PF('statusDialog').show();
                            }
                            function stop() {
                                PF('statusDialog').hide();
                            }
                        </script>
                        <br/><br/><br/> 
                    </div>
                </div>
            </p:panel>

            <!--ACUERDO DE APRENDIZAJE-->
            <p:panel id="panelInfMovilidad" style="background: whitesmoke" rendered="#{solicitudSalienteMB_Consultar.renderedMovilidad}">
                <br/>
                <div class="ui-g">
                    <div class="ui-g-1"></div>
                    <div class="ui-g-1">
                        <p:commandLink value="#{msg['label.atras']}" style="color: #007979;text-decoration: underline"
                                       action="#{solicitudSalienteMB_Consultar.btnAtras(3) }" update="solicitudSalienteF" />
                    </div>
                    <div class="ui-g-8"></div>              
                    <div class="ui-g-2">
                        <p:commandLink value="#{msg['label.siguiente']}" style="color: #007979;text-decoration: underline" 
                                       action="#{solicitudSalienteMB_Consultar.btnSiguiente(3)}" update="solicitudSalienteF" />
                    </div>
                </div>
                <p:separator/>
                <br/>   
                <div class="ui-g">
                    <div class="ui-g-1"></div>
                    <div class="ui-g-8">
                        <p:outputLabel value="#{msg['label.obligatorio']}" 
                                       style="color: #e44d26;font-size: 13px;font-weight: bold"/>
                        <br/><br/><br/>

                        <h:panelGrid columns="2">
                            <p:column>
                                <p:outputLabel value="#{msg['label.institucionDestino']} " style="font-size: 18px;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                <br/>
                                <h:panelGrid id="seInstitucionOrigen" columns="1">
                                    <p:selectOneMenu id="listInstCovenio" value="#{solicitudSalienteMB.metSolicitud.metInstitucionConvenio.pk}" 
                                                     disabled="true">
                                        <f:selectItem />
                                        <f:selectItems value="#{solicitudSalienteMB.listaInstitucionesConvenio}" var="i" itemValue="#{i.pk}" itemLabel="#{i.nombre}" /> 
                                        <p:ajax  update="panelInfInstConvenio" listener="#{solicitudSalienteMB.mostrarInstConvenio}"/>
                                    </p:selectOneMenu>
                                </h:panelGrid>
                            </p:column>
                            <p:column>
                                <h:panelGrid columns="2" style="margin-top:1%;" rendered="true">
                                    <p:selectBooleanCheckbox id="checkOtraInstitucion" 
                                                             value="#{solicitudSalienteMB_Consultar.selectOtraInstitucion}"
                                                             style="color:#5f666c;size: 16px; margin-top: 5%;" disabled="true">
                                        <p:ajax update="panelInfInstConvenio,seInstitucionOrigen,pOtraInstitucionOri"
                                                listener="#{solicitudSalienteMB_Consultar.procOtraInstitucion}" />
                                    </p:selectBooleanCheckbox>
                                    <p:outputLabel value="#{msg['label.selecOtrInst']}" style="font-size: 16px;"/>
                                </h:panelGrid>
                            </p:column>
                        </h:panelGrid>

                        <br/><br/>

                        <p:panel id="panelInfInstConvenio" style="border: none;background: whitesmoke">
                            <p:outputLabel for="selectConvenio" value="#{msg['label.form.existeConvenio']} " style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                            <p:selectOneRadio id="selectConvenio" value="#{solicitudSalienteMB_Consultar.metSolicitud.existeConvenio}" disabled="true">
                                <f:selectItem itemLabel="#{msg['label.si']}" itemValue="Si" />
                                <f:selectItem itemLabel="No" itemValue="No" />
                            </p:selectOneRadio>
                            <br/><br/><br/>

                            <p:panelGrid id="pOtraInstitucionOri" rendered="#{solicitudSalienteMB_Consultar.renderedPOtraInst}"
                                         style="border: none;background: whitesmoke">   

                                <p:outputLabel value="#{msg['label.nombreInstitucion']} " style="font-size: 18px;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                <br/>
                                <p:inputText id="inptOtraCiudadInstitucion" 
                                             style="border-top: none; border-left: none; border-right: none;width: 90%;"
                                             disabled="#{solicitudSalienteMB_Consultar.disableOtrInstitucion}"
                                             value="#{solicitudSalienteMB_Consultar.metOtraInstitucion.nombreInstitucion}" readonly="true"/> 
                                <br/><br/><br/>
                            </p:panelGrid>
                        </p:panel>
                    </div>
                </div> 
                <div class="ui-g">
                    <div class="ui-g-1"></div>
                    <div class="ui-g-8">
                        <p:outputLabel value="#{msg['label.formEntrante.tipoMovilidad']} " style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:selectOneRadio value="#{solicitudSalienteMB_Consultar.metSolicitud.metTipoMovilidad.pk}" disabled="true"
                                          layout="responsive" columns="1" style="font-size: 15px;">
                            <f:selectItems value="#{solicitudSalienteMB_Consultar.tiposMovilidad}" var="t" itemValue="#{t.pk}" itemLabel="#{t.nombreEspaniol}"/>
                        </p:selectOneRadio>
                        <br/>
                        <br/>
                        <br/>

                        <h:outputLabel  value="#{msg['label.formEntrante.fecInicio']}" style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%"
                                      value="#{solicitudSalienteMB_Consultar.metSolicitud.fechaInicioMovilidad}" readonly="true"/>  
                        <br/><br/><br/>

                        <h:outputLabel value="#{msg['label.formEntrante.fecFinalizacion']}" style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%"
                                      value="#{solicitudSalienteMB_Consultar.metSolicitud.fechaFinMovilidad}" readonly="true"/>  
                        <br/><br/><br/>
                        
                        <h:outputLabel value="#{msg['label.form.duracionTotalMov']}" style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                       <p:inputText  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%"
                                     value="#{solicitudSalienteMB_Consultar.metSolicitud.duracionMovilidad}" readonly="true"/>  
                        <br/><br/><br/>
                        
                    </div>
                </div>
            </p:panel>

            <!--INFORMACION MEDICA Y DE CONTACTO DEL ESTUDIANTE -->
            <p:panel id="panelInfMedicaContacto" style="background: whitesmoke" rendered="#{solicitudSalienteMB_Consultar.renderedPrfilMedico}">
                <br/>
                <div class="ui-g">
                    <div class="ui-g-1"></div>
                    <div class="ui-g-1">
                        <p:commandLink value="#{msg['label.atras']}" style="color: #007979;text-decoration: underline"
                                       action="#{solicitudSalienteMB_Consultar.btnAtras(4) }" update="solicitudSalienteF" />
                    </div>
                    <div class="ui-g-8"></div>              
                    <div class="ui-g-2">
                        <p:commandLink value="#{msg['label.siguiente']}" style="color: #007979;text-decoration: underline" 
                                       action="#{solicitudSalienteMB_Consultar.btnSiguiente(4)}" update="solicitudSalienteF" />
                    </div>
                </div>
                <p:separator/>
                <br/>   
                <div class="ui-g">

                    <div class="ui-g-1"></div>

                    <div class="ui-g-8">
                        <br/>
                        <p:outputLabel value="#{msg['label.obligatorio']}" 
                                       style="color: #e44d26;font-size: 13px;font-weight: bold"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.tipoSangre']} " style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>  
                        <p:inputText  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:80%"
                                      value="#{solicitudSalienteMB_Consultar.metInfUsuario.tipoSangre}" readonly="true"/>  
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.alergias']} " style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <div class="ui-g">
                            <div class="ui-g-4">
                                <p:selectOneRadio value="#{solicitudSalienteMB_Consultar.metSolicitud.tieneAlergia}" style="margin-top: 2%;" disabled="true">
                                    <f:selectItem itemLabel="#{msg['label.si']}" itemValue="#{msg['label.si']}" />
                                    <f:selectItem itemLabel="No" itemValue="No" />
                                </p:selectOneRadio> 
                            </div>
                            <div class="ui-g-8">
                                <p:inputTextarea rows="1"  cols="20" style="width:100%;" placeholder="#{msg['label.cuales']}"
                                                 value="#{solicitudSalienteMB_Consultar.metSolicitud.alergias}" readonly="true"/>
                            </div>
                        </div>
                        <br/><br/>

                        <p:outputLabel value="#{msg['label.enfCronicas']} "  style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <div class="ui-g">
                            <div class="ui-g-4">
                                <p:selectOneRadio value="#{solicitudSalienteMB_Consultar.metSolicitud.tieneEnfermedades}" style="margin-top: 2%;" disabled="true">
                                    <f:selectItem itemLabel="#{msg['label.si']}" itemValue="#{msg['label.si']}" />
                                    <f:selectItem itemLabel="No" itemValue="No" />
                                </p:selectOneRadio> 
                            </div>
                            <div class="ui-g-8">
                                <p:inputTextarea rows="1"  cols="20" style="width:100%;" placeholder="#{msg['label.cuales']}"
                                                 value="#{solicitudSalienteMB_Consultar.metSolicitud.enfermedades}" readonly="true"/>
                            </div>
                        </div>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.medicamento']} " style="font-size: 18px;"  />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>        
                        <div class="ui-g">
                            <div class="ui-g-4">
                                <p:selectOneRadio value="#{solicitudSalienteMB_Consultar.metSolicitud.tieneMedicamento}" style="margin-top: 2%;" disabled="true">
                                    <f:selectItem itemLabel="#{msg['label.si']}" itemValue="#{msg['label.si']}" />
                                    <f:selectItem itemLabel="No" itemValue="No" />
                                </p:selectOneRadio> 
                            </div>
                            <div class="ui-g-8">
                                <p:inputTextarea rows="1"  cols="20" style="width:100%;" placeholder="#{msg['label.cuales']}"
                                                 value="#{solicitudSalienteMB_Consultar.metSolicitud.medicamentos}" readonly="true"/>
                            </div>
                        </div>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.restriccion']} "  style="font-size: 18px;"  />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>     
                        <div class="ui-g">
                            <div class="ui-g-4">
                                <p:selectOneRadio value="#{solicitudSalienteMB_Consultar.metSolicitud.tieneRestriccionAlm}" style="margin-top: 2%;" disabled="true">
                                    <f:selectItem itemLabel="#{msg['label.si']}" itemValue="#{msg['label.si']}" />
                                    <f:selectItem itemLabel="No" itemValue="No" />
                                </p:selectOneRadio> 
                            </div>
                            <div class="ui-g-8">
                                <p:inputTextarea rows="1" cols="20" style="width:100%;" placeholder="#{msg['label.cuales']}"
                                                 value="#{solicitudSalienteMB_Consultar.metSolicitud.restriccionAlimentaria}" readonly="true"/>
                            </div>
                        </div>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.nameAcudiente']} "  style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB_Consultar.metContactoEmergencia.nombres}" 
                                     style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:80%" readonly="true"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.parentesco']} "  style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <h:panelGrid id="panelParentesco" columns="2">
                            <p:column>
                                <p:selectOneMenu  value="#{solicitudSalienteMB_Consultar.metContactoEmergencia.metParentesco.pk}" disabled="true">
                                    <f:selectItem />
                                    <f:selectItems value="#{solicitudSalienteMB_Consultar.tiposParentesco}" var="t" itemValue="#{t.pk}" itemLabel="#{t.nombreEspaniol}"/>    
                                    <p:ajax update="panelParentesco" listener="#{solicitudSalienteMB_Consultar.otroParentesco()}"/>
                                </p:selectOneMenu>
                            </p:column>
                            <p:column>
                                <p:inputText rendered="#{solicitudSalienteMB_Consultar.renderedOtroParentesco}"
                                             value="#{solicitudSalienteMB_Consultar.metContactoEmergencia.otroParentesco}"
                                             style="margin-left: 2%; margin-top: 1%;border-top:none;border-left:none;border-right: none;width:50%" readonly="true"/>
                            </p:column>
                        </h:panelGrid>
                        <br/><br/>

                        <p:outputLabel value="#{msg['label.direccion']} "  style="font-size: 18px;"  />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB_Consultar.metContactoEmergencia.direccion}"
                                     style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:70%" readonly="true"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.telCasa']} "  style="font-size: 18px;"  />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB_Consultar.metContactoEmergencia.telefono}"
                                     style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:70%" readonly="true"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.celular']} "  style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB_Consultar.metContactoEmergencia.celular}"
                                     style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:70%" readonly="true"/>

                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.email']} " style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB_Consultar.metContactoEmergencia.email}"
                                     style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:70%" readonly="true"/>
                        <br/><br/><br/>   
                    </div>
                </div>
            </p:panel>

            <!--ADJUNTAR ARCHIVOS-->
            <p:panel id="panelDocumentos" style="background: whitesmoke" rendered="#{solicitudSalienteMB_Consultar.renderedDocAdjuntos}">
                <br/>
                <div class="ui-g">
                    <div class="ui-g-1"></div>
                    <div class="ui-g-1">
                        <p:commandLink value="#{msg['label.atras']}" style="color: #007979;text-decoration: underline"
                                       action="#{solicitudSalienteMB_Consultar.btnAtras(5)}" update="solicitudSalienteF" />
                    </div>
                    <div class="ui-g-8"></div>              
                    <div class="ui-g-2"></div>
                </div>
                <p:separator/>
                <br/>   
                <div class="ui-g">

                    <div class="ui-g-1"></div>

                    <div class="ui-g-8">                     
                        <p:dataTable id="tableArchivos" var="listaArchivo" 
                                     value="#{solicitudSalienteMB_Consultar.listSoporteAdjunto}" style="margin-top:2%;width:120%;">
                            <f:facet name="header" >
                                <p:outputPanel style="height: 25px;" >
                                    <h:outputText value="Archivos guardados" style="font-size:20px; font-weight: bold"/>
                                </p:outputPanel>
                            </f:facet>
                            <p:column  style="width:40px;text-align: center" headerText="Nombre del Archivo">
                                <h:outputText value="#{listaArchivo.nombre}" style="border: none"/>
                            </p:column>
                            <p:column style="width:80px;text-align: center" headerText="Descripción">
                                <h:outputText   value="#{listaArchivo.descripcion}"/>
                            </p:column>
                            <p:column style="width:80px;text-align: center" headerText="Descargar">
                                <p:commandLink id="downloadFileLink" style="color: #007979;text-decoration: underline;" 
                                                   value="#{listaArchivo.nombre}"  ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);">
                                        <f:setPropertyActionListener value="#{listaArchivo}" target="#{solicitudSalienteMB_Consultar.selectArchivo}" />
                                        <p:fileDownload value="#{solicitudSalienteMB_Consultar.archivo}" />
                                    </p:commandLink>
                            </p:column>
                        </p:dataTable>
                        <br/><br/>
                    </div>
                    <div class="ui-g-1"></div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-5"></div>
                    <div class="ui-g-2">      
                        <p:commandButton icon="fa fa-file-pdf-o"  value="Generar Solicitud" 
                                         action="#{solicitudSalienteMB_Consultar.enviarSolicitud}" style="font-size: 16px;"  update="pdReporte" />

                    </div>
                    <div class="ui-g-5"></div>
                </div>
            </p:panel>
        </div>
        <div class="ui-g-1"></div>
    </div>

    <p:dialog id="pdReporte" header="REPORTE" widgetVar="pdReporte" modal="false" width="800" height="500" resizable="false">  
        <p:panelGrid id="panelGridReporteEntr1" columns="1">
            <p:media value="/Reporte"  player="pdf" width="750" height="480"/>
        </p:panelGrid>
    </p:dialog>

    <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />

    <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
        <p:graphicImage name="/images/ajaxloadingbar.gif" />
    </p:dialog>

    <p:separator style="background: #00acac;height:5px;margin-top:50px;margin-bottom:60px;margin-left:20px; margin-right:20px" />
</ui:composition>
