<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <div class="ui-g">
        <div class="ui-g-7"></div>
        <div class="ui-g-5">    
            <p:outputLabel value="Idioma/Language" style="margin-left: 20px;"/>               
            <h:commandLink value="Español (España)"  style="margin-left: 20px;color: #007979" action="#{idiomaBean.doCambioIdiomaLink('es')}" 
                           actionListener="#{inicioMB.setVarIdioma('es')}"/>
            <h:commandLink value="English (US)" style="margin-left: 20px; color: #007979" action="#{idiomaBean.doCambioIdiomaLink('en')}"
                           actionListener="#{inicioMB.setVarIdioma('en')}"/>           
        </div>
    </div>
    <br/>
    <div>
        <p:commandButton value="#{msg['label.salir']}" action="#{solicitudEntranteMB.logout()}"   icon="fa fa-sign-out"  immediate="true" style="margin-left: 86%;"/>
    </div>


    <br/><br/>  

    <div class="ui-g">
        <div class="ui-g-12">

            <p:outputLabel style="font-size: 32px;"  value="#{solicitudEntranteMB.metInfUsuario.nombres} #{solicitudEntranteMB.metInfUsuario.apellidos}" />
            <br/>

            <p:separator style="background: #a8acb1;height:5px;margin-top:30px;margin-bottom:60px;margin-left:20px; margin-right:20px" />  
        </div>
    </div>

    <div class="ui-g">
        <div class="ui-g-3">
            <p:panel style="background: #00acac">
                <p:outputLabel style="color: white;font-size: 20px;"  value="#{msg['label.infPersonal']}" rendered="#{solicitudEntranteMB.renderedPersonal}"/>
                <p:outputLabel style="color: white;font-size: 20px;"  value="#{msg['label.infInstitucionOrigen']}" rendered="#{solicitudEntranteMB.renderedInstOrigen}"/>              
                <p:outputLabel style="color: white;font-size: 20px;"  value="#{msg['label.infAcademico']}" rendered="#{solicitudEntranteMB.renderedAcademica}"/>         
                <p:outputLabel style="color: white;font-size: 20px;"  value="#{msg['label.infAcuerdoApren']}" rendered="#{solicitudEntranteMB.renderedMovilidad}"/>
                <p:outputLabel style="color: white;font-size: 20px;"  value="#{msg['label.archivosAdjuntos']}" rendered="#{solicitudEntranteMB.renderedDocAdjuntos}"/>
                <p:outputLabel style="color: white;font-size: 20px;"  value="#{msg['label.infMedicaContacto']}" rendered="#{solicitudEntranteMB.renderedPrfilMedico}"/>
            </p:panel>
        </div>

        <div class="ui-g-8">

            <!--INFORMACION PERSONAL DEL ESTUDIANTE -->
            <p:panel id="panelInfPersonalEntrante" style="background: whitesmoke" rendered="#{solicitudEntranteMB.renderedPersonal}">
                <br/>
                <div>
                    <p:commandLink value="#{msg['label.siguiente']}" style="color: #007979;text-decoration: underline;margin-left: 90%;font-size: 16px;" 
                                   action="#{solicitudEntranteMB.btnSiguiente(1)}" update="solicitudEntranteF"/>
                </div>
                <br/>
                <p:separator/>
                <br/> 
                <p:panel style="background: whitesmoke; margin-left: 10%;margin-right: 10%;width: 80%;border: none">

                    <div>
                        <br/>
                        <p:outputLabel value="#{msg['label.obligatorio']}" 
                                       style="color: #e44d26;font-size: 13px;font-weight: bold"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.apellido']} " style="font-size: 17px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudEntranteMB.metInfUsuario.apellidos}" 
                                     style="margin-top:1%;border-top:none;border-left:none;border-right:none;width: 100%;" 
                                     required="true"
                                     validatorMessage="#{msg['label.msgValidacion1']} #{msg['label.apellido']} #{msg['label.msgValidacion2']}" 
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.apellido']} #{msg['label.msgRequerido2']}"
                                     >
                            <f:validateRegex pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" />
                        </p:inputText>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.nombre']}" style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudEntranteMB.metInfUsuario.nombres}" 
                                     required="true" 
                                     style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:100%;" 
                                     validatorMessage="#{msg['label.msgValidacion1']} #{msg['label.nombre']} #{msg['label.msgValidacion2']}" 
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.nombre']} #{msg['label.msgRequerido2']}"
                                     >
                            <f:validateRegex pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" />
                        </p:inputText>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.genero']} "  style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:selectOneRadio value="#{solicitudEntranteMB.metInfUsuario.metGenero.pk}" 
                                          layout="responsive" columns="1" style="font-size: 15px;"
                                          required="true"
                                          requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.genero']} #{msg['label.msgRequerido2']}">
                            <f:selectItem itemLabel="#{msg['label.femenino']}" itemValue="1"/>
                            <f:selectItem itemLabel="#{msg['label.masculino']}" itemValue="2"/>
                        </p:selectOneRadio><br/>
                        <br/>

                        <p:outputLabel value="#{msg['label.tipoDocumento']} "  style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:selectOneRadio value="#{solicitudEntranteMB.metInfUsuario.metTipoIdentificacion.pk}"
                                          layout="responsive"
                                          required="true"
                                          requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.tipoDocumento']} #{msg['label.msgRequerido2']}" 
                                          columns="1" style="font-size: 15px;">
                            <f:selectItem itemLabel="#{msg['label.pasaporte']}" itemValue="3"/>
                        </p:selectOneRadio>
                        <br/>
                        <br/>

                        <p:outputLabel value="#{msg['label.numDocumento']} "  style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudEntranteMB.metInfUsuario.numeroIdentificacion}" 
                                     style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:100%;" 
                                     required="true" 
                                     validatorMessage="#{msg['label.msgValidacion1']} #{msg['label.numDocumento']} #{msg['label.msgValidacion2']}" 
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.numDocumento']} #{msg['label.msgRequerido2']}">
                            <f:validateRegex pattern="^[0-9a-zA-Z- Ññ]+$" />
                        </p:inputText>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.fechaNacimiento']} "  style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:calendar value="#{solicitudEntranteMB.metInfUsuario.fechaNacimiento}" pattern="dd-MM-yyyy" mask="true" 
                                    locale="es" yearRange="c-60:c+60" navigator="true" required="true" showOn="button" 
                                    requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.fechaNacimiento']} #{msg['label.msgRequerido2']}"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.lugarNacimiento']} " style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <h:panelGrid columns="2" style="width: 100%;">
                            <p:column>
                                <p:selectOneMenu  id="listPais"  style="margin-top:1%;width:90%;color:#5f666c;"   
                                                  value="#{solicitudEntranteMB.metInfUsuario.metPais.pk}"
                                                  required="true" 
                                                  requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.pais']} #{msg['label.msgRequerido2']}"> 
                                    <f:selectItem  />
                                    <f:selectItems value="#{solicitudEntranteMB.listaPais}" var="p" itemValue="#{p.pk}" itemLabel="#{p.nombre}" />  
                                </p:selectOneMenu>
                                <p:tooltip value="#{msg['label.pais']}" for="listPais" position="left"/>
                            </p:column>

                            <p:column>
                                <p:inputText  id="inpCiudad" value="#{solicitudEntranteMB.metInfUsuario.otraCiudad}" placeholder="#{msg['label.ciudad']}"
                                              style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:90%;margin-left:10%;"
                                              required="true" 
                                              validatorMessage="#{msg['label.msgValidacion1']} #{msg['label.ciudad']} #{msg['label.msgValidacion2']}" 
                                              requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.ciudad']} #{msg['label.msgRequerido2']}"> 
                                    <f:validateRegex pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" />
                                </p:inputText>   
                                <p:tooltip value="#{msg['label.ciudad']}" for="inpCiudad" position="left"/>
                            </p:column>

                        </h:panelGrid>
                        <br/>

                        <p:outputLabel  value="#{msg['label.nacionalidad']} "  style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <p:inputText value="#{solicitudEntranteMB.metInfUsuario.nacionalidad}"
                                     style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:100%;"
                                     required="true"
                                     validatorMessage="#{msg['label.msgValidacion1']} #{msg['label.nacionalidad']} #{msg['label.msgValidacion2']}" 
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.nacionalidad']} #{msg['label.msgRequerido2']}">
                            <f:validateRegex pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" />
                        </p:inputText>
                        <br/>
                        <br/>
                        <br/>

                        <p:outputLabel value="#{msg['label.direccion']} "  style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudEntranteMB.metInfUsuario.direccionResidencia}"  
                                     style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:100%;"
                                     required="true"
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.direccion']} #{msg['label.msgRequerido2']}"/>

                        <br/>
                        <br/>
                        <br/>

                        <p:outputLabel value="#{msg['label.telCasa']}"  style="font-size: 17px;"/>
                        <br/>
                        <p:inputText  value="#{solicitudEntranteMB.metInfUsuario.telCasa}"
                                      style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:100%;"
                                      validatorMessage="#{msg['label.msgValidacion1']} #{msg['label.telCasa']} #{msg['label.msgValidacion2']}">                                     
                            <f:validateRegex pattern="^[0-9- +]+$" />
                        </p:inputText>
                        <br/>
                        <br/>
                        <br/>

                        <p:outputLabel value="#{msg['label.celular']}"  style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudEntranteMB.metInfUsuario.celular}"
                                     style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:100%;"
                                     required="true"
                                     validatorMessage="#{msg['label.msgValidacion1']} #{msg['label.celular']} #{msg['label.msgValidacion2']}" 
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.celular']} #{msg['label.msgRequerido2']}">
                            <f:validateRegex pattern="^[0-9- #+]+$" />
                        </p:inputText>
                        <br/>
                        <br/>
                        <br/>

                        <p:outputLabel value="#{msg['label.email1']}"  style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudEntranteMB.metInfUsuario.emailInstitucional}" 
                                     required="true" 
                                     style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:100%;" 
                                     validatorMessage="#{msg['label.msgValidacion1']} #{msg['label.email1']} #{msg['label.msgValidacion2']}" 
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.email1']} #{msg['label.msgRequerido2']}"
                                     >
                            <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                        </p:inputText>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.email2']}"  style="font-size: 17px;" />
                        <br/>
                        <p:inputText value="#{solicitudEntranteMB.metInfUsuario.emailAlternativo}" 
                                     style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:100%;" 
                                     validatorMessage="#{msg['label.msgValidacion1']} #{msg['label.email2']} #{msg['label.msgValidacion2']}" 
                                     >
                            <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                        </p:inputText>
                    </div>               
                </p:panel>
                <br/><br/><br/>
                <div>
                    <p:commandButton icon="fa fa-save" value="#{msg['label.guardar']}" action="#{solicitudEntranteMB.guardarDatosPersonales()}" 
                                     update="solicitudEntranteF" style="font-size: 16px;margin-left: 43%;"/>
                </div> 
                <br/><br/>
                <div>
                    <p:commandLink value="#{msg['label.siguiente']}" style="color: #007979;text-decoration: underline;margin-left: 90%;font-size: 16px;" 
                                   action="#{solicitudEntranteMB.btnSiguiente(1)}" update="solicitudEntranteF"/>
                </div>
                <br/>
            </p:panel>


            <!--INFORMACION INSTITUCIÓN DE ORIGEN-->
            <p:panel id="panelInfInstitucionOrigen" style="background: whitesmoke" rendered="#{solicitudEntranteMB.renderedInstOrigen}">
                <br/>
                <div>
                    <h:panelGrid columns="2" style="width: 100%;">
                        <p:commandLink value="#{msg['label.atras']}" style="color: #007979;text-decoration: underline;margin-left:5%"
                                       action="#{solicitudEntranteMB.btnAtras(2)}" update="solicitudEntranteF" immediate="true"/>

                        <p:commandLink value="#{msg['label.siguiente']}" style="color: #007979;text-decoration: underline;margin-left: 85%" 
                                       action="#{solicitudEntranteMB.btnSiguiente(2)}" update="solicitudEntranteF" />
                    </h:panelGrid>
                </div>
                <br/>
                <p:separator/>
                <br/> 

                <p:panel style="background: whitesmoke; margin-left: 10%;margin-right: 10%;width: 80%;border: none">
                    <div>
                        <br/>
                        <p:outputLabel value="#{msg['label.obligatorio']}" 
                                       style="color: #e44d26;font-size: 13px;font-weight: bold"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.institucionOrigen']} " style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <br/>
                        <h:panelGrid id="seInstitucionOrigen" style="width: 100%;">
                            <p:selectOneMenu id="listInstCovenio" value="#{solicitudEntranteMB.metSolicitud.metInstitucionConvenio.pk}" 
                                             disabled="#{solicitudEntranteMB.disableInstitucion}" style="width: 95%;" required="true" 
                                             requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.institucionOrigen']} #{msg['label.msgRequerido2']}">
                                <f:selectItem />
                                <f:selectItems value="#{solicitudEntranteMB.listaInstitucionesConvenio}" var="i" itemValue="#{i.pk}" itemLabel="#{i.nombre}" />                                        
                                <p:ajax  update="panelInfInstConvenio" listener="#{solicitudEntranteMB.mostrarInstConvenio}"/>
                            </p:selectOneMenu>
                        </h:panelGrid>

                        <h:panelGrid columns="2">
                            <p:outputLabel value="#{msg['label.selecOtrInst']} " style="font-size: 16px;"/>
                            <p:selectBooleanCheckbox id="checkOtraInstitucion" 
                                                     value="#{solicitudEntranteMB.selectOtraInstitucion}"
                                                     style="color:#5f666c;size: 16px; margin-top: 5%;">
                                <p:ajax update="panelInfInstConvenio,seInstitucionOrigen,pOtraInstitucionOri"
                                        listener="#{solicitudEntranteMB.procOtraInstitucion}" />
                            </p:selectBooleanCheckbox>
                        </h:panelGrid>
                        <br/><br/>

                        <p:panel id="panelInfInstConvenio" style="border: none;background: whitesmoke; width: 100%;">
                            <p:outputLabel value="#{msg['label.form.existeConvenio']} " style="font-size: 17px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                            <p:selectOneRadio id="selectConvenio" value="#{solicitudEntranteMB.metSolicitud.existeConvenio}" required="true" 
                                              requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.form.existeConvenio']} #{msg['label.msgRequerido2']}"> >
                                <f:selectItem itemLabel="#{msg['label.si']}" itemValue="#{msg['label.si']}" />
                                <f:selectItem itemLabel="No" itemValue="No" />
                            </p:selectOneRadio>
                            <br/><br/>

                            <p:panelGrid id="pInstitucionOri" rendered="#{solicitudEntranteMB.renderedInsitucionOrigen}"
                                         style="border: none;background: whitesmoke; width: 100%;">

                                <p:outputLabel value="#{msg['label.contactoInstitucion']} " style="font-size: 17px;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                <br/>
                                <p:inputText value="#{solicitudEntranteMB.metSolicitud.nombreContactoEntrante}"
                                             style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:100%" required="true" 
                                             validatorMessage="#{msg['label.msgValidacion1']} #{msg['label.contactoInstitucion']} #{msg['label.msgValidacion2']}" 
                                             requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.contactoInstitucion']} #{msg['label.msgRequerido2']}">
                                    <f:validateRegex pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" />  
                                </p:inputText>
                                <br/><br/><br/>

                                <p:outputLabel value="#{msg['label.telefono']} " style="font-size: 17px;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                <br/>
                                <p:inputText value="#{solicitudEntranteMB.metSolicitud.telContactoEntrante}"
                                             style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:100%" required="true"
                                             validatorMessage="#{msg['label.msgValidacion1']} #{msg['label.telefono']} #{msg['label.msgValidacion2']}" 
                                             requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.telefono']} #{msg['label.msgRequerido2']}">
                                    <f:validateRegex pattern="^[0-9- +]+$" /> 
                                </p:inputText> 
                                <br/><br/><br/>

                                <p:outputLabel value="#{msg['label.email']} " style="font-size: 17px;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                <br/>
                                <p:inputText value="#{solicitudEntranteMB.metSolicitud.emailContactoEntrante}" 
                                             required="true" 
                                             style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:100%" 
                                             validatorMessage="#{msg['label.msgValidacion1']} #{msg['label.email']} #{msg['label.msgValidacion2']}" 
                                             requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.email']} #{msg['label.msgRequerido2']}">
                                    <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                                </p:inputText>
                                <br/><br/><br/> 

                            </p:panelGrid>

                            <p:panelGrid id="pOtraInstitucionOri" rendered="#{solicitudEntranteMB.renderedPOtraInst}"
                                         style="border: none;background: whitesmoke; width:100%">   

                                <p:outputLabel value="#{msg['label.nombreInstitucion']} " style="font-size: 17px;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                <br/>
                                <p:inputText id="inptOtraCiudadInstitucion" 
                                             style="border-top: none; border-left: none; border-right: none;width: 100%;"
                                             disabled="#{solicitudEntranteMB.disableOtrInstitucion}"
                                             value="#{solicitudEntranteMB.metOtraInstitucion.nombreInstitucion}"
                                             required="true" 
                                             validatorMessage="#{msg['label.msgValidacion1']} #{msg['label.nombreInstitucion']} #{msg['label.msgValidacion2']}" 
                                             requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.nombreInstitucion']} #{msg['label.msgRequerido2']}">
                                    <f:validateRegex pattern="[0-9a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" />  
                                </p:inputText> 
                                <br/><br/><br/>

                                <p:outputLabel value="#{msg['label.pais']} " style="font-size: 17px;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                <br/>
                                <p:selectOneMenu  id="listPaisUniversidad" value="#{solicitudEntranteMB.metOtraInstitucion.metPais.pk}" style="width: 95%;" 
                                                  required="true"
                                                  requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.pais']} #{msg['label.msgRequerido2']}"> >
                                    <f:selectItem/>
                                    <f:selectItems value="#{solicitudEntranteMB.listaPais}" var="p" itemValue="#{p.pk}" itemLabel="#{p.nombre}"/>  
                                </p:selectOneMenu>
                                <br/><br/><br/>

                                <p:outputLabel value="#{msg['label.ciudad']} " style="font-size: 17px;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                <br/>
                                <p:inputText value="#{solicitudEntranteMB.metOtraInstitucion.ciudadInstitucion}"
                                             style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:100%" required="true" 
                                             validatorMessage="#{msg['label.msgValidacion1']} #{msg['label.ciudad']} #{msg['label.msgValidacion2']}" 
                                             requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.ciudad']} #{msg['label.msgRequerido2']}">
                                    <f:validateRegex pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" />  
                                </p:inputText> 
                                <br/><br/><br/>

                                <p:outputLabel value="#{msg['label.contactoInstitucion']} " style="font-size: 17px;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                <br/>
                                <p:inputText value="#{solicitudEntranteMB.metOtraInstitucion.nombreContacto}"
                                             style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:100%" required="true" 
                                             validatorMessage="#{msg['label.msgValidacion1']} #{msg['label.contactoInstitucion']} #{msg['label.msgValidacion2']}" 
                                             requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.contactoInstitucion']} #{msg['label.msgRequerido2']}">
                                    <f:validateRegex pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" />  
                                </p:inputText>
                                <br/><br/><br/>

                                <p:outputLabel value="#{msg['label.cargoContacto']} " style="font-size: 17px;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                <br/>
                                <p:inputText value="#{solicitudEntranteMB.metOtraInstitucion.cargoContacto}"
                                             style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:100%" required="true" 
                                             validatorMessage="#{msg['label.msgValidacion1']} #{msg['label.cargoContacto']} #{msg['label.msgValidacion2']}" 
                                             requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.cargoContacto']} #{msg['label.msgRequerido2']}">
                                    <f:validateRegex pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" />  
                                </p:inputText>
                                <br/><br/><br/>

                                <p:outputLabel value="#{msg['label.telefono']} " style="font-size: 17px;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                <br/>
                                <p:inputText value="#{solicitudEntranteMB.metOtraInstitucion.telContacto}"
                                             style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:100%" required="true" 
                                             validatorMessage="#{msg['label.msgValidacion1']} #{msg['label.telefono']} #{msg['label.msgValidacion2']}" 
                                             requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.telefono']} #{msg['label.msgRequerido2']}">
                                    <f:validateRegex pattern="^[0-9- +]+$" />  
                                </p:inputText> 
                                <br/><br/><br/>

                                <p:outputLabel value="#{msg['label.email']} " style="font-size: 17px;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                <br/>
                                <p:inputText value="#{solicitudEntranteMB.metOtraInstitucion.emailContacto}"
                                             style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:100%" required="true"
                                             validatorMessage="#{msg['label.msgValidacion1']} #{msg['label.email']} #{msg['label.msgValidacion2']}" 
                                             requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.email']} #{msg['label.msgRequerido2']}">
                                    <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />  
                                </p:inputText>
                            </p:panelGrid>
                        </p:panel>
                    </div>
                </p:panel>
                <br/><br/><br/>
                <div>
                    <p:commandButton icon="fa fa-save" value="#{msg['label.guardar']}" action="#{solicitudEntranteMB.guardarInstitucion()}" 
                                     update="solicitudEntranteF" style="font-size: 16px;margin-left: 43%;"/>
                </div>
                <br/><br/>
                <div>
                    <h:panelGrid columns="2" style="width: 100%;">
                        <p:commandLink value="#{msg['label.atras']}" style="color: #007979;text-decoration: underline;margin-left:5%"
                                       action="#{solicitudEntranteMB.btnAtras(2)}" update="solicitudEntranteF" immediate="true"/>

                        <p:commandLink value="#{msg['label.siguiente']}" style="color: #007979;text-decoration: underline;margin-left: 85%" 
                                       action="#{solicitudEntranteMB.btnSiguiente(2)}" update="solicitudEntranteF" />
                    </h:panelGrid>
                </div> 
                <br/>
            </p:panel>


            <!--INF PROGRAMA ACADÉMICO-->
            <p:panel id="panelProgramaAcademico" style="background: whitesmoke" rendered="#{solicitudEntranteMB.renderedAcademica}">
                <br/>
                <div>
                    <h:panelGrid columns="2" style="width: 100%;">
                        <p:commandLink value="#{msg['label.atras']}" style="color: #007979;text-decoration: underline;margin-left:5%"
                                       action="#{solicitudEntranteMB.btnAtras(3)}" update="solicitudEntranteF" immediate="true"/>

                        <p:commandLink value="#{msg['label.siguiente']}" style="color: #007979;text-decoration: underline;margin-left: 85%" 
                                       action="#{solicitudEntranteMB.btnSiguiente(3)}" update="solicitudEntranteF" />
                    </h:panelGrid>
                </div> 
                <br/>
                <p:separator/>
                <br/>   

                <p:panel style="background: whitesmoke; margin-left: 10%;margin-right: 10%;width: 80%;border: none">    
                    <div>
                        <br/>
                        <p:outputLabel value="#{msg['label.obligatorio']}" 
                                       style="color: #e44d26;font-size: 13px;font-weight: bold"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.nivelEducacion']} " style="font-size: 17px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <br/>
                        <p:selectOneRadio value="#{solicitudEntranteMB.metSolicitud.metNivelEstEntrante.pk}" 
                                          layout="responsive" columns="1" style="font-size: 15px;" required="true"
                                          requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.nivelEducacion']} #{msg['label.msgRequerido2']}">>
                            <f:selectItem itemLabel="#{msg['label.doctorado']}" itemValue="3"  />
                            <f:selectItem itemLabel="#{msg['label.especializacion']}" itemValue="5"  />
                            <f:selectItem itemLabel="#{msg['label.maestria']}" itemValue="2"  />
                            <f:selectItem itemLabel="#{msg['label.pregrado']}" itemValue="1"  />
                        </p:selectOneRadio>
                        <br/><br/><br/> 

                        <p:outputLabel value="#{msg['label.facultad']} " style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <br/>
                        <p:inputText value="#{solicitudEntranteMB.metSolicitud.otraFacultadEntrante}" 
                                     style="border-top: none; border-left: none; border-right: none; width: 100%;" required="true"
                                     validatorMessage="#{msg['label.msgValidacion1']} #{msg['label.facultad']} #{msg['label.msgValidacion2']}" 
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.facultad']} #{msg['label.msgRequerido2']}">
                            <f:validateRegex pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" />
                        </p:inputText>
                        <br/><br/><br/> 

                        <p:outputLabel value="#{msg['label.semestre']} " style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <br/>
                        <p:selectOneMenu id="idSemestres" value="#{solicitudEntranteMB.metSolicitud.semestreEntrante}" 
                                         style="margin-top:1%;width: 50%;" required="true"
                                         requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.semestre']} #{msg['label.msgRequerido2']}">
                            <f:selectItem/>
                            <f:selectItem itemLabel="#{msg['label.primero']}" itemValue="#{msg['label.primero']}"  /> 
                            <f:selectItem itemLabel="#{msg['label.segundo']}" itemValue="#{msg['label.segundo']}"  /> 
                            <f:selectItem itemLabel="#{msg['label.tercero']}" itemValue="#{msg['label.tercero']}"  /> 
                            <f:selectItem itemLabel="#{msg['label.cuarto']}" itemValue="#{msg['label.cuarto']}"  /> 
                            <f:selectItem itemLabel="#{msg['label.quinto']}" itemValue="#{msg['label.quinto']}"  /> 
                            <f:selectItem itemLabel="#{msg['label.sexto']}" itemValue="#{msg['label.sexto']}"  /> 
                            <f:selectItem itemLabel="#{msg['label.septimo']}" itemValue="#{msg['label.septimo']}"  /> 
                            <f:selectItem itemLabel="#{msg['label.octavo']}" itemValue="#{msg['label.octavo']}"  /> 
                            <f:selectItem itemLabel="#{msg['label.noveno']}" itemValue="#{msg['label.noveno']}"  /> 
                            <f:selectItem itemLabel="#{msg['label.decimo']}" itemValue="#{msg['label.decimo']}"  /> 
                        </p:selectOneMenu> 
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.programa']} " style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <br/>
                        <p:inputText value="#{solicitudEntranteMB.metSolicitud.otroProgramaInstConvenio}"
                                     style="border-top: none; border-left: none; border-right: none; width: 100%;" required="true"
                                     validatorMessage="#{msg['label.msgValidacion1']} #{msg['label.programa']} #{msg['label.msgValidacion2']}" 
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.programa']} #{msg['label.msgRequerido2']}">
                            <f:validateRegex pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" />
                        </p:inputText>        
                        <br/><br/><br/> 

                        <p:outputLabel value="#{msg['label.promedio']} " style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <br/>
                        <p:inputText value="#{solicitudEntranteMB.metSolicitud.promedioAcumulado}"
                                     style="border-top: none; border-left: none; border-right: none; width: 100%;" required="true"
                                     validatorMessage="#{msg['label.msgValidacion1']} #{msg['label.promedio']} #{msg['label.msgValidacion2']}" 
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.promedio']} #{msg['label.msgRequerido2']}">
                            <f:validateRegex pattern="^[0-9.]+$" />
                        </p:inputText>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.idiomas']} " style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <p:panelGrid id="pIdiomas" style="margin-top: 2%;margin-bottom:20px;width: 100%;">
                            <f:facet name="header">
                                <p:row>
                                    <p:column style="color: #444d56;background:#ccc;width: 30px;"></p:column>
                                    <p:column style="color: #444d56;background:#ccc;width: 30px;font-size: 16px;">#{msg['label.nativo']}</p:column>
                                    <p:column style="color: #444d56;background:#ccc;width: 30px;font-size: 16px;">#{msg['label.habla']}</p:column>
                                    <p:column style="color: #444d56;background:#ccc;width: 30px;font-size: 16px;">#{msg['label.escribe']}</p:column>
                                    <p:column style="color: #444d56;background:#ccc;width: 30px;font-size: 16px;">#{msg['label.lee']}</p:column>
                                </p:row>
                            </f:facet>
                            <p:row>
                                <p:column style="margin-top: 5px; width:50px;background:white;font-size:16px;">#{msg['label.espaniol']}</p:column>
                                <p:column>
                                    <p:selectBooleanCheckbox id="checkIdiomaNativo1" style="margin-left: 15px;" 
                                                             value="#{solicitudEntranteMB.idiomaEspanol.idiomaNativo}"
                                                             disabled="#{solicitudEntranteMB.idiomaNativoEsp}">
                                        <p:ajax listener="#{solicitudEntranteMB.deshabilitarIdiomaEsp()}" update="pIdiomas" />
                                    </p:selectBooleanCheckbox>

                                </p:column>
                                <p:column >
                                    <p:inputText style="margin-top:5px;color:#5f666c;width:80px;font-size: 15px;"  
                                                 placeholder="#{msg['placeholder.general.clicAqui']}" 
                                                 value="#{solicitudEntranteMB.idiomaEspanol.porcentajeHabla}" 
                                                 disabled="#{solicitudEntranteMB.disabledIdiomaEsp}"/>
                                </p:column>
                                <p:column >
                                    <p:inputText style="margin-top:5px;color:#5f666c;width:80px;font-size: 15px;" 
                                                 placeholder="#{msg['placeholder.general.clicAqui']}" 
                                                 value="#{solicitudEntranteMB.idiomaEspanol.porcentajeEscribe}"
                                                 disabled="#{solicitudEntranteMB.disabledIdiomaEsp}"/>
                                </p:column>
                                <p:column>
                                    <p:inputText style="margin-top:5px;color:#5f666c;width:80px;font-size: 15px;"  
                                                 placeholder="#{msg['placeholder.general.clicAqui']}" 
                                                 value="#{solicitudEntranteMB.idiomaEspanol.porcentajeLee}"
                                                 disabled="#{solicitudEntranteMB.disabledIdiomaEsp}"/>
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column style="font-size: 16px;">#{msg['label.ingles']}</p:column>
                                <p:column >
                                    <p:selectBooleanCheckbox id="checkIdiomaNativo2" style="margin-left: 15px;" 
                                                             value="#{solicitudEntranteMB.idiomaIngles.idiomaNativo}"
                                                             disabled="#{solicitudEntranteMB.idiomaNativoIng}">
                                        <p:ajax listener="#{solicitudEntranteMB.deshabilitarIdiomaIng()}" update="pIdiomas" />
                                    </p:selectBooleanCheckbox>
                                </p:column>
                                <p:column>
                                    <p:inputText style="margin-top:5px;width:80px;color:#5f666c;font-size: 15px;" 
                                                 placeholder="#{msg['placeholder.general.clicAqui']}"
                                                 value="#{solicitudEntranteMB.idiomaIngles.porcentajeHabla}" 
                                                 disabled="#{solicitudEntranteMB.disabledIdiomaIng}"/>
                                </p:column>
                                <p:column >
                                    <p:inputText style="margin-top:5px;width:80px;color:#5f666c;font-size: 15px;" 
                                                 placeholder="#{msg['placeholder.general.clicAqui']}"
                                                 value="#{solicitudEntranteMB.idiomaIngles.porcentajeEscribe}"
                                                 disabled="#{solicitudEntranteMB.disabledIdiomaIng}"/>
                                </p:column>
                                <p:column >
                                    <p:inputText style="margin-top:5px;width:80px;color:#5f666c;font-size: 15px;" 
                                                 placeholder="#{msg['placeholder.general.clicAqui']}"
                                                 value="#{solicitudEntranteMB.idiomaIngles.porcentajeLee}"
                                                 disabled="#{solicitudEntranteMB.disabledIdiomaIng}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column style="font-size: 16px;">#{msg['label.otroCual']}
                                    <p:inputText style="margin-top:5px;width:80px;color:#5f666c;font-size: 15px;" 
                                                 value="#{solicitudEntranteMB.idiomaOtro.namDescripcion}"/> 
                                </p:column>
                                <p:column>
                                    <p:selectBooleanCheckbox id="checkIdiomaNativo3" style="margin-left: 15px;" 
                                                             value="#{solicitudEntranteMB.idiomaOtro.idiomaNativo}"
                                                             disabled="#{solicitudEntranteMB.idiomaNativoOtr}">
                                        <p:ajax listener="#{solicitudEntranteMB.deshabilitarIdiomaOtro()}" update="pIdiomas" />
                                    </p:selectBooleanCheckbox>
                                </p:column>
                                <p:column>
                                    <p:inputText style="margin-top:5px;width:80px;color:#5f666c;font-size: 15px;"  
                                                 placeholder="#{msg['placeholder.general.clicAqui']}"
                                                 value="#{solicitudEntranteMB.idiomaOtro.porcentajeHabla}"
                                                 disabled="#{solicitudEntranteMB.disabledIdiomaOtr}"/>
                                </p:column>
                                <p:column>
                                    <p:inputText style="margin-top:5px;width:80px;color:#5f666c;font-size: 15px;"  
                                                 placeholder="#{msg['placeholder.general.clicAqui']}"
                                                 value="#{solicitudEntranteMB.idiomaOtro.porcentajeEscribe}"
                                                 disabled="#{solicitudEntranteMB.disabledIdiomaOtr}"/>
                                </p:column>
                                <p:column>
                                    <p:inputText style="margin-top:5px;width:80px;color:#5f666c;font-size: 15px;"  
                                                 placeholder="#{msg['placeholder.general.clicAqui']}"
                                                 value="#{solicitudEntranteMB.idiomaOtro.porcentajeLee}"
                                                 disabled="#{solicitudEntranteMB.disabledIdiomaOtr}"/>
                                </p:column>
                            </p:row> 
                        </p:panelGrid> 
                        <br/>
                        <br/>

                        <p:outputLabel value="#{msg['label.distinciones']} " style="font-size: 17px;"/>
                        <br/>
                        <p:outputLabel value="#{msg['label.notaDistinciones']} " style="font-size: 15px;"/>
                        <p:panel style="margin-top: 2%;width: 100%;">
                            <div class="ui-g">
                                <p:outputLabel value="#{msg['label.anio']}" style="font-size: 17px;"/>
                            </div>
                            <div class="ui-g">
                                <p:inputText value="#{solicitudEntranteMB.metDistinciones.anio}" style="border-top: none;border-left: none;border-right: none;"
                                             validatorMessage="#{msg['label.msgValidacion1']} #{msg['label.anio']} #{msg['label.msgValidacion2']}" >
                                    <f:validateRegex pattern="^[0-9]+$" />
                                </p:inputText>
                            </div>
                            <br/><br/>
                            <div class="ui-g">
                                <p:outputLabel value="#{msg['label.logro']}" style="font-size: 17px;"/>
                            </div>
                            <div class="ui-g">
                                <p:inputTextarea rows="6" cols="80" value="#{solicitudEntranteMB.metDistinciones.descripcion}"
                                                 placeholder="#{msg['label.desLogroDistinciones']}" />
                            </div>
                            <br/><br/>
                            <div class="ui-g">
                                <p:outputLabel value="- #{msg['label.msgSaveFile']}" style="color: #FF3333;font-size:17px;font-weight:bold;"/>     
                            </div>
                            <br/>
                            <div class="ui-g">
                                <h:form enctype="multipart/form-data">
                                    <p:growl id="messages" showDetail="true" />
                                    <p:fileUpload fileUploadListener="#{solicitudEntranteMB.cargarDistincion}" 
                                                  mode="advanced" 
                                                  dragDropSupport="false"
                                                  sizeLimit="10000000" 
                                                  fileLimit="1" 
                                                  allowTypes="/(\.|\/)(pdf)$/"
                                                  label="#{msg['label.seleccionarArchivo']}"
                                                  uploadLabel="#{msg['label.subirArchivo']}"
                                                  cancelLabel="#{msg['label.cancelar']}"
                                                  invalidFileMessage="Tipo de archivo no valido."
                                                  invalidSizeMessage="El tamaño del archivo es superior a lo permitido."
                                                  style="font-size:12px;"/>
                                </h:form>
                            </div>
                            <br/><br/>
                            <div class="ui-g">
                                <div class="ui-g-3"></div>
                                <div class="ui-g-6">
                                    <p:commandButton  value="#{msg['label.validar']}" style="margin-left: 20px" icon="fa fa-check-square-o" 
                                                      action="#{solicitudEntranteMB.guardarDistincion()}" 
                                                      update="solicitudEntranteF"/>
                                </div>
                                <div class="ui-g-3"></div>
                            </div> 
                        </p:panel>
                        <br/><br/> 
                        <h:panelGrid id="pDistinciones" rendered="#{solicitudEntranteMB.renderedDistinciones}" style="width: 85%;">
                            <p:dataTable id="tableDisticiones" var="disbasicDTtincion" 
                                         value="#{solicitudEntranteMB.listaDistinciones}" style="margin-top:2%;width:120%;">
                                <f:facet name="header" >
                                    <p:outputPanel style="height: 25px;" >
                                        <h:outputText value="#{msg['label.form.distinciones']}" style="font-size:20px; font-weight: bold"/>
                                    </p:outputPanel>
                                </f:facet>
                                <p:column  style="width:40px;text-align: center" headerText="#{msg['label.form.anio']}">
                                    <h:outputText value="#{disbasicDTtincion.anio}" style="border: none"/>
                                </p:column>

                                <p:column style="width:80px;text-align: center" headerText="#{msg['label.form.logro']}">
                                    <h:outputText   value="#{disbasicDTtincion.descripcion}"/>
                                </p:column>

                                <p:column style="width:80px;text-align: center" headerText="#{msg['label.form.soporte']}">
                                    <p:commandLink id="downloadDistincionlink" style="color: #007979;text-decoration: underline;" 
                                                   value="#{disbasicDTtincion.nombreArchivo}"  ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);">
                                        <f:setPropertyActionListener value="#{disbasicDTtincion}" target="#{solicitudEntranteMB.selectedDistincion}" />
                                        <p:fileDownload value="#{solicitudEntranteMB.archivoDistincion}" />
                                    </p:commandLink>
                                </p:column>

                                <p:column style="width:40px;text-align: center"  headerText="#{msg['label.form.eliminar']}">
                                    <p:commandButton icon="fa fa-fw fa-remove" action="#{solicitudEntranteMB.borrarDistincion()}" update="solicitudEntranteF">
                                        <f:setPropertyActionListener value="#{disbasicDTtincion}" target="#{solicitudEntranteMB.selectedDistincion}" />
                                    </p:commandButton>
                                </p:column>
                            </p:dataTable>
                        </h:panelGrid>

                        <script type="text/javascript">
                            function start() {
                                PF('statusDialog').show();
                            }
                            function stop() {
                                PF('statusDialog').hide();
                            }
                        </script> 
                    </div>
                </p:panel>
                <br/><br/><br/>

                <div>
                    <p:commandButton icon="fa fa-save" value="#{msg['label.guardar']}" action="#{solicitudEntranteMB.guadarProgramaAcademico()}" 
                                     update="solicitudEntranteF" style="font-size: 16px;margin-left: 43%;"/>
                </div>
                <br/><br/>
                <div>
                    <h:panelGrid columns="2" style="width: 100%;">
                        <p:commandLink value="#{msg['label.atras']}" style="color: #007979;text-decoration: underline;margin-left:5%"
                                       action="#{solicitudEntranteMB.btnAtras(3)}" update="solicitudEntranteF" immediate="true"/>

                        <p:commandLink value="#{msg['label.siguiente']}" style="color: #007979;text-decoration: underline;margin-left: 85%" 
                                       action="#{solicitudEntranteMB.btnSiguiente(3)}" update="solicitudEntranteF" />
                    </h:panelGrid>
                </div> 
                <br/>
            </p:panel>



            <!--ACUERDO DE APRENDIZAJE-->
            <p:panel id="panelInfMovilidad" style="background: whitesmoke" rendered="#{solicitudEntranteMB.renderedMovilidad}">
                <br/>
                <div>
                    <h:panelGrid columns="2" style="width: 100%;">
                        <p:commandLink value="#{msg['label.atras']}" style="color: #007979;text-decoration: underline;margin-left:5%"
                                       action="#{solicitudEntranteMB.btnAtras(4)}" update="solicitudEntranteF" immediate="true"/>

                        <p:commandLink value="#{msg['label.siguiente']}" style="color: #007979;text-decoration: underline;margin-left: 85%" 
                                       action="#{solicitudEntranteMB.btnSiguiente(4)}" update="solicitudEntranteF" />
                    </h:panelGrid>
                </div>
                <br/>
                <p:separator/>
                <br/> 

                <p:panel style="background: whitesmoke; margin-left: 10%;margin-right: 10%;width: 80%;border: none">
                    <div>
                        <br/>
                        <p:outputLabel value="#{msg['label.obligatorio']}" 
                                       style="color: #e44d26;font-size: 14px;font-weight: bold"/>
                        <br/>
                        <br/>
                        <br/>

                        <p:outputLabel value="#{msg['label.form.progInteres']} " style="font-size: 17px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:selectOneMenu value="#{solicitudEntranteMB.metSolicitud.metProgramaKl.pk}" style="width: 95%; font-size: 16px;" required="true" 
                                         requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.form.progInteres']} #{msg['label.msgRequerido2']}">
                            <f:selectItem />
                            <f:selectItems value="#{solicitudEntranteMB.listaProgramasKL}" var="p" 
                                           itemValue="#{p.pk}" itemLabel="#{p.nombre}" />                        
                        </p:selectOneMenu>
                        <br/>
                        <br/>
                        <br/>

                        <p:outputLabel value="#{msg['label.formEntrante.tipoMovilidad']} " style="font-size: 17px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:selectOneRadio value="#{solicitudEntranteMB.metSolicitud.metTipoMovilidad.pk}"
                                          layout="responsive" columns="1" style="font-size: 16px;" required="true" 
                                          requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.formEntrante.tipoMovilidad']} #{msg['label.msgRequerido2']}">
                            <f:selectItem itemLabel="#{msg['label.intercambioAcademico']}" itemValue="1" />
                            <f:selectItem itemLabel="#{msg['label.intercambioAsignaturas']}" itemValue="5" />
                            <f:selectItem itemLabel="#{msg['label.dobleTitulacion']}" itemValue="6" />
                            <f:selectItem itemLabel="#{msg['labe.practicaInternacional']}" itemValue="3" />
                            <f:selectItem itemLabel="#{msg['label.estanciaInvestigacion']}" itemValue="2" />
                            <f:selectItem itemLabel="#{msg['label.cursoCorto']}" itemValue="4" />
                        </p:selectOneRadio>
                        <br/><br/><br/>

                        <h:outputLabel  value="#{msg['label.formEntrante.fecInicio']}" style="font-size: 17px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:calendar value="#{solicitudEntranteMB.metSolicitud.fechaInicioMovilidad}" pattern="dd-MM-yyyy" mask="true" style="font-size: 16px;"
                                    locale="es" yearRange="c-60:c+10" navigator="true" required="true" showOn="button" 
                                    requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.formEntrante.fecInicio']} #{msg['label.msgRequerido2']}"/>
                        <br/><br/><br/>

                        <h:outputLabel value="#{msg['label.formEntrante.fecFinalizacion']}" style="font-size: 17px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:calendar value="#{solicitudEntranteMB.metSolicitud.fechaFinMovilidad}" pattern="dd-MM-yyyy" mask="true" 
                                    locale="es" yearRange="c-60:c+10" navigator="true" required="true" showOn="button" style="font-size: 16px;"
                                    requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.formEntrante.fecFinalizacion']} #{msg['label.msgRequerido2']}"/>
                        <br/><br/><br/> <br/>

                        <p:outputLabel value="#{msg['label.notaCursos']}"  style="font-size: 17px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:panelGrid id="pgCursosKL" style="margin-top: 2%;">
                            <f:facet name="header">
                                <p:row>
                                    <p:column style="color: #444d56;background:#ccc;width:25px;">#{msg['label.formEntrante.codigoCurso']}</p:column>
                                    <p:column style="color: #444d56;background:#ccc;width:36px;">#{msg['label.formEntrante.nomCurso']}</p:column>
                                    <p:column style="color: #444d56;background:#ccc;width:36px;">#{msg['label.formEntrante.creditos']}</p:column>
                                    <p:column style="color: #444d56;background:#ccc;width:36px;">#{msg['label.general.guardar']}</p:column>
                                </p:row>
                            </f:facet>
                            <p:row>
                                <p:column >
                                    <p:selectOneMenu style="margin-top:1px;width:100px;margin-bottom:20px;color:#5f666c;font-size: 16px;" 
                                                     value="#{solicitudEntranteMB.metInfoCursoKL.metCursoKL.pk}">
                                        <f:selectItem />
                                        <f:selectItems value="#{solicitudEntranteMB.listaCursosKL}" var="c1" itemValue="#{c1.pk}" itemLabel="#{c1.codigo}"/> 
                                        <p:ajax update="pgCursosKL" immediate="true"/>
                                    </p:selectOneMenu>
                                </p:column>
                                <p:column >
                                    <p:selectOneMenu style="margin-top:1px;width:100px;margin-bottom:20px;color:#5f666c;font-size: 16px;" 
                                                     value="#{solicitudEntranteMB.metInfoCursoKL.metCursoKL.pk}">
                                        <f:selectItem />
                                        <f:selectItems value="#{solicitudEntranteMB.listaCursosKL}" var="c1" itemValue="#{c1.pk}" itemLabel="#{c1.nombre}" /> 
                                        <p:ajax update="pgCursosKL" immediate="true"/>
                                    </p:selectOneMenu>
                                </p:column>
                                <p:column >
                                    <p:selectOneMenu style="margin-top:1px;width:100px;margin-bottom:20px;color:#5f666c;font-size: 16px;" 
                                                     value="#{solicitudEntranteMB.metInfoCursoKL.metCursoKL.pk}">
                                        <f:selectItem />
                                        <f:selectItems value="#{solicitudEntranteMB.listaCursosKL}" var="c1" itemValue="#{c1.pk}" itemLabel="#{c1.creditos}" /> 
                                        <p:ajax update="pgCursosKL" immediate="true"/>
                                    </p:selectOneMenu>
                                </p:column>
                                <p:column>
                                    <p:commandButton style="margin-left: 20px" icon="fa fa-save" action="#{solicitudEntranteMB.guardarInfCursoKL()}" 
                                                     update="solicitudEntranteF" immediate="true"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        <br/>
                        <h:panelGrid id="pCursos" rendered="#{solicitudEntranteMB.renderedCursosKL}">
                            <p:dataTable id="CursosDT" var="cursos" value="#{solicitudEntranteMB.listaInfoCursoKL}" style="width: 100%;">
                                <f:facet name="header">
                                    <p:outputPanel style="height: 25px;" >
                                        <h:outputText value="#{msg['label.curso']}" style="font-size:16px; font-weight: bold"/>
                                    </p:outputPanel>
                                </f:facet>
                                <p:column  style="width:12%;text-align: center;font-size: 16px;" headerText="#{msg['label.codigoCurso']}">
                                    <h:outputText value="#{cursos.codigo}" style="border: none;font-size: 15px;"/>
                                </p:column>
                                <p:column style="width:42%;text-align: center;font-size: 16px;" headerText="#{msg['label.nombreCurso']}">
                                    <h:outputText   value="#{cursos.nombre}" style="font-size: 15px;"/>
                                </p:column>
                                <p:column style="width:14%;text-align: center;font-size: 16px;" headerText="#{msg['label.creditosCurso']}">
                                    <h:outputText  value="#{cursos.creditos}" style="font-size: 15px;"/>
                                </p:column>
                                <p:column style="width:14%;;text-align: center;font-size: 16px;"  headerText="#{msg['label.form.eliminar']}">
                                    <p:commandButton icon="fa fa-fw fa-remove" action="#{solicitudEntranteMB.borrarInfCursoKL()}" update="solicitudEntranteF">
                                        <f:setPropertyActionListener value="#{cursos}" target="#{solicitudEntranteMB.selectedInfoCursoKL}" />
                                    </p:commandButton>
                                </p:column>
                            </p:dataTable>
                        </h:panelGrid>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <p:outputLabel value="#{msg['label.notaCAlternativos']}" style="font-size: 17px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>

                        <!--DESDE ACA-->

                        <p:panelGrid id="pgCursosKLAlt" style="margin-top: 2%;">
                            <f:facet name="header">
                                <p:row>
                                    <p:column style="color: #444d56;background:#ccc;width:25px;">#{msg['label.formEntrante.codigoCurso']}</p:column>
                                    <p:column style="color: #444d56;background:#ccc;width:36px;">#{msg['label.formEntrante.nomCurso']}</p:column>
                                    <p:column style="color: #444d56;background:#ccc;width:36px;">#{msg['label.formEntrante.creditos']}</p:column>
                                    <p:column style="color: #444d56;background:#ccc;width:36px;">#{msg['label.general.guardar']}</p:column>
                                </p:row>
                            </f:facet>
                            <p:row>
                                <p:column >
                                    <p:selectOneMenu style="margin-top:1px;width:100px;margin-bottom:20px;color:#5f666c;" 
                                                     value="#{solicitudEntranteMB.metInfoCursoKLAlt.metCursoKL.pk}">
                                        <f:selectItem />
                                        <f:selectItems value="#{solicitudEntranteMB.listaCursosKL}" var="c" itemValue="#{c.pk}" itemLabel="#{c.codigo}" /> 
                                        <p:ajax update="pgCursosKLAlt" immediate="true"/>
                                    </p:selectOneMenu>
                                </p:column>
                                <p:column >
                                    <p:selectOneMenu style="margin-top:1px;width:100px;margin-bottom:20px;color:#5f666c;" 
                                                     value="#{solicitudEntranteMB.metInfoCursoKLAlt.metCursoKL.pk}">
                                        <f:selectItem />
                                        <f:selectItems value="#{solicitudEntranteMB.listaCursosKL}" var="c" itemValue="#{c.pk}" itemLabel="#{c.nombre}" /> 
                                        <p:ajax update="pgCursosKLAlt" immediate="true"/>
                                    </p:selectOneMenu>
                                </p:column>
                                <p:column >
                                    <p:selectOneMenu style="margin-top:1px;width:100px;margin-bottom:20px;color:#5f666c;" 
                                                     value="#{solicitudEntranteMB.metInfoCursoKLAlt.metCursoKL.pk}">
                                        <f:selectItem />
                                        <f:selectItems value="#{solicitudEntranteMB.listaCursosKL}" var="c" itemValue="#{c.pk}" itemLabel="#{c.creditos}" /> 
                                        <p:ajax update="pgCursosKLAlt" immediate="true"/>
                                    </p:selectOneMenu>
                                </p:column>
                                <p:column>
                                    <p:commandButton style="margin-left: 20px" icon="fa fa-save" action="#{solicitudEntranteMB.guardarInfCursoKLAlt()}" 
                                                     update="solicitudEntranteF" immediate="true"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        <br/>
                        <h:panelGrid id="tablaCursoAlternos" rendered="#{solicitudEntranteMB.renderedCursosKLAlt}">
                            <p:dataTable id="CursosDTAlt" var="cursosAlt" value="#{solicitudEntranteMB.listaInfoCursoKLAlt}" style="width: 100%">
                                <f:facet name="header">
                                    <p:outputPanel style="height: 25px;" >
                                        <h:outputText value="#{msg['label.cursoAlternativo']}" style="font-size:17px; font-weight: bold"/>
                                    </p:outputPanel>
                                </f:facet>
                                <p:column  style="width:12%;text-align: center" headerText="#{msg['label.codigoCurso']}">
                                    <h:outputText value="#{cursosAlt.codigo}" style="border: none;font-size:16px"/>
                                </p:column>
                                <p:column style="width:42%;text-align: center" headerText="#{msg['label.nombreCurso']}">
                                    <h:outputText   value="#{cursosAlt.nombre}" style="font-size:16px"/>
                                </p:column>
                                <p:column style="width:14%;text-align: center" headerText="#{msg['label.creditosCurso']}">
                                    <h:outputText  value="#{cursosAlt.creditos}" style="font-size:16px"/>
                                </p:column>
                                <p:column style="width:14%;text-align: center"  headerText="#{msg['label.form.eliminar']}">
                                    <p:commandButton icon="fa fa-fw fa-remove" action="#{solicitudEntranteMB.borrarInfCursoAltKL()}" 
                                                     update="solicitudEntranteF" immediate="true">
                                        <f:setPropertyActionListener value="#{cursosAlt}" target="#{solicitudEntranteMB.selectedInfoCursoKLAlt}"  />
                                    </p:commandButton>
                                </p:column>
                            </p:dataTable>
                        </h:panelGrid>
                        <br/>
                        <br/>
                        <br/>
                        <br/>

                        <p:outputLabel value="#{msg['placeholder.formEntrante.motDescripcion']}" style="font-size: 17px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>       
                        <br/>
                        <p:inputTextarea rows="10" cols="90"  queryDelay="600" minQueryLength="4"
                                         value="#{solicitudEntranteMB.metSolicitud.motivacionEstudiante}" 
                                         style="margin-top: 10px;" required="true" 
                                         requiredMessage="#{msg['label.msgRequerido1']} #{msg['placeholder.formEntrante.motDescripcion']} #{msg['label.msgRequerido2']}"/>                                                       
                    </div>
                </p:panel>
                <br/><br/><br/>
                <div>
                    <p:commandButton icon="fa fa-save" value="#{msg['label.guardar']}" action="#{solicitudEntranteMB.guardarAcuerdoAprendizaje()}" 
                                     update="solicitudEntranteF" style="font-size: 16px;margin-left: 43%;"/>
                </div>
                <br/><br/>
                <div>
                    <h:panelGrid columns="2" style="width: 100%;">
                        <p:commandLink value="#{msg['label.atras']}" style="color: #007979;text-decoration: underline;margin-left:5%"
                                       action="#{solicitudEntranteMB.btnAtras(4)}" update="solicitudEntranteF" immediate="true"/>

                        <p:commandLink value="#{msg['label.siguiente']}" style="color: #007979;text-decoration: underline;margin-left: 85%" 
                                       action="#{solicitudEntranteMB.btnSiguiente(4)}" update="solicitudEntranteF" />
                    </h:panelGrid>
                </div> 
                <br/>
            </p:panel>


            <!--INFORMACION MEDICA Y DE CONTACTO DEL ESTUDIANTE -->
            <p:panel id="panelInfMedicaContacto" style="background: whitesmoke" rendered="#{solicitudEntranteMB.renderedPrfilMedico}">
                <br/>
                <div>
                    <h:panelGrid columns="2" style="width: 100%;">
                        <p:commandLink value="#{msg['label.atras']}" style="color: #007979;text-decoration: underline;margin-left:5%"
                                       action="#{solicitudEntranteMB.btnAtras(5)}" update="solicitudEntranteF" immediate="true"/>

                        <p:commandLink value="#{msg['label.siguiente']}" style="color: #007979;text-decoration: underline;margin-left: 85%" 
                                       action="#{solicitudEntranteMB.btnSiguiente(5)}" update="solicitudEntranteF" />
                    </h:panelGrid>
                </div>
                <br/>
                <p:separator/>
                <br/> 

                <p:panel style="background: whitesmoke; margin-left: 10%;margin-right: 10%;width: 80%;border: none">
                    <div>
                        <br/>
                        <p:outputLabel value="#{msg['label.obligatorio']}" 
                                       style="color: #e44d26;font-size: 13px;font-weight: bold"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.tipoSangre']} " style="font-size: 17px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:selectOneMenu value="#{solicitudEntranteMB.metInfUsuario.tipoSangre}" style="margin-top: 2%;width: 50%;" required="true"
                                         requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.tipoSangre']} #{msg['label.msgRequerido2']}">
                            <f:selectItem/>
                            <f:selectItems value="#{solicitudEntranteMB.itemsTipoSangre}" />                    
                        </p:selectOneMenu> 
                        <br/><br/><br/>


                        <p:outputLabel value="#{msg['label.alergias']} " style="font-size: 17px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>                                          
                        <div class="ui-g">
                            <div class="ui-g-4">
                                <p:selectOneRadio value="#{solicitudEntranteMB.metSolicitud.tieneAlergia}" style="margin-top: 2%;" required="true"
                                                  requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.alergias']} #{msg['label.msgRequerido2']}">
                                    <f:selectItem itemLabel="#{msg['label.si']}" itemValue="#{msg['label.si']}" />
                                    <f:selectItem itemLabel="No" itemValue="No" />
                                </p:selectOneRadio> 
                            </div>
                            <div class="ui-g-8">
                                <p:inputTextarea rows="1"  cols="20" style="width:100%;" placeholder="#{msg['label.cuales']}"
                                                 value="#{solicitudEntranteMB.metSolicitud.alergias}"/>
                            </div>
                        </div>
                        <br/><br/>

                        <p:outputLabel value="#{msg['label.enfCronicas']} "  style="font-size: 17px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <div class="ui-g">
                            <div class="ui-g-4">
                                <p:selectOneRadio value="#{solicitudEntranteMB.metSolicitud.tieneEnfermedades}" style="margin-top: 2%;" required="true"
                                                  requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.enfCronicas']} #{msg['label.msgRequerido2']}">
                                    <f:selectItem itemLabel="#{msg['label.si']}" itemValue="#{msg['label.si']}" />
                                    <f:selectItem itemLabel="No" itemValue="No" />
                                </p:selectOneRadio> 
                            </div>
                            <div class="ui-g-8">
                                <p:inputTextarea rows="1"  cols="20" style="width:100%;" placeholder="#{msg['label.cuales']}"
                                                 value="#{solicitudEntranteMB.metSolicitud.enfermedades}"/>
                            </div>
                        </div>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.medicamento']} " style="font-size: 17px;"  />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>        
                        <div class="ui-g">
                            <div class="ui-g-4">
                                <p:selectOneRadio value="#{solicitudEntranteMB.metSolicitud.tieneMedicamento}" style="margin-top: 2%;" required="true"
                                                  requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.medicamento']} #{msg['label.msgRequerido2']}">
                                    <f:selectItem itemLabel="#{msg['label.si']}" itemValue="#{msg['label.si']}" />
                                    <f:selectItem itemLabel="No" itemValue="No" />
                                </p:selectOneRadio> 
                            </div>
                            <div class="ui-g-8">
                                <p:inputTextarea rows="1"  cols="20" style="width:100%;" placeholder="#{msg['label.cuales']}"
                                                 value="#{solicitudEntranteMB.metSolicitud.medicamentos}"/>
                            </div>
                        </div>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.restriccion']} "  style="font-size: 17px;"  />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>     
                        <div class="ui-g">
                            <div class="ui-g-4">
                                <p:selectOneRadio value="#{solicitudEntranteMB.metSolicitud.tieneRestriccionAlm}" style="margin-top: 2%;" required="true"
                                                  requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.restriccion']} #{msg['label.msgRequerido2']}">
                                    <f:selectItem itemLabel="#{msg['label.si']}" itemValue="#{msg['label.si']}" />
                                    <f:selectItem itemLabel="No" itemValue="No" />
                                </p:selectOneRadio> 
                            </div>
                            <div class="ui-g-8">
                                <p:inputTextarea rows="1" cols="20" style="width:100%;" placeholder="#{msg['label.cuales']}"
                                                 value="#{solicitudEntranteMB.metSolicitud.restriccionAlimentaria}"/>
                            </div>
                        </div>
                        <br/><br/><br/>
                        <p:outputLabel value="#{msg['label.nameAcudiente']} "  style="font-size: 17px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudEntranteMB.metContactoEmergencia.nombres}" 
                                     style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:100%"  required="true"
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.nameAcudiente']} #{msg['label.msgRequerido2']}"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.parentesco']} "  style="font-size: 17px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <h:panelGrid id="panelParentesco" columns="2" style="width: 100%;">
                            <p:column>
                                <p:selectOneMenu  value="#{solicitudEntranteMB.metContactoEmergencia.metParentesco.pk}" style="width:50%" required="true"
                                                  requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.parentesco']} #{msg['label.msgRequerido2']}">  
                                    <f:selectItem/>
                                    <f:selectItem itemLabel="#{msg['label.abuelo']}" itemValue="1"/> 
                                    <f:selectItem itemLabel="#{msg['label.hermano']}" itemValue="2"/> 
                                    <f:selectItem itemLabel="#{msg['label.hijo']}" itemValue="3"/> 
                                    <f:selectItem itemLabel="#{msg['label.madre']}" itemValue="4"/> 
                                    <f:selectItem itemLabel="#{msg['label.padre']}" itemValue="7"/> 
                                    <f:selectItem itemLabel="#{msg['label.otroParentesco']}" itemValue="11"/> 
                                    <p:ajax update="panelParentesco" listener="#{solicitudEntranteMB.otroParentesco()}"/>
                                </p:selectOneMenu>
                            </p:column>
                            <p:column>
                                <p:inputText rendered="#{solicitudEntranteMB.renderedOtroParentesco}"
                                             value="#{solicitudEntranteMB.metContactoEmergencia.otroParentesco}"
                                             style="margin-left: 2%; margin-top: 1%;border-top:none;border-left:none;border-right: none;width:50%" required="true"
                                             requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.email1']} #{msg['label.msgRequerido2']}"/>
                            </p:column>
                        </h:panelGrid>
                        <br/><br/>

                        <p:outputLabel value="#{msg['label.direccion']} "  style="font-size: 17px;"  />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudEntranteMB.metContactoEmergencia.direccion}"
                                     style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:100%" required="true"
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.direccion']} #{msg['label.msgRequerido2']}"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.telCasa']} "  style="font-size: 17px;"  />
                        <br/>
                        <p:inputText value="#{solicitudEntranteMB.metContactoEmergencia.telefono}"
                                     style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:100%"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.celular']} "  style="font-size: 17px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudEntranteMB.metContactoEmergencia.celular}"
                                     style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:100%" required="true"
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.celular']} #{msg['label.msgRequerido2']}"/>
                        <br/><br/><br/>
                        <p:outputLabel value="#{msg['label.email']} " style="font-size: 17px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"
                                       />
                        <br/>
                        <p:inputText value="#{solicitudEntranteMB.metContactoEmergencia.email}"
                                     style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:100%" required="true"
                                     validatorMessage="#{msg['label.msgValidacion1']} #{msg['label.email']} #{msg['label.msgValidacion2']}" 
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.email']} #{msg['label.msgRequerido2']}"
                                     >                      
                            <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                        </p:inputText>
                    </div>
                </p:panel>
                <br/><br/><br/> 
                <div>
                    <p:commandButton icon="fa fa-save" value="#{msg['label.guardar']}" action="#{solicitudEntranteMB.guardarContactoEmergencia()}" 
                                     update="solicitudEntranteF" style="font-size: 16px;margin-left: 43%;"/>
                </div>
                <br/><br/>
                <div>
                    <h:panelGrid columns="2" style="width: 100%;">
                        <p:commandLink value="#{msg['label.atras']}" style="color: #007979;text-decoration: underline;margin-left:5%"
                                       action="#{solicitudEntranteMB.btnAtras(5)}" update="solicitudEntranteF" immediate="true"/>
                        <p:commandLink value="#{msg['label.siguiente']}" style="color: #007979;text-decoration: underline;margin-left: 85%" 
                                       action="#{solicitudEntranteMB.btnSiguiente(5)}" update="solicitudEntranteF" />
                    </h:panelGrid>
                </div> 
                <br/>
            </p:panel>

            <!--ADJUNTAR ARCHIVOS-->
            <p:panel id="panelDocumentos" style="background: whitesmoke" rendered="#{solicitudEntranteMB.renderedDocAdjuntos}">
                <br/>
                <div>
                    <h:panelGrid columns="2" style="width: 100%;">
                        <p:commandLink value="#{msg['label.atras']}" style="color: #007979;text-decoration: underline;margin-left:5%"
                                       action="#{solicitudEntranteMB.btnAtras(6)}" update="solicitudEntranteF" immediate="true"/>
                    </h:panelGrid>
                </div>
                <br/>
                <p:separator/>
                <br/> 
                <p:panel style="background: whitesmoke; margin-left: 10%;margin-right: 10%;width: 80%;border: none">
                    <div>
                        <br/>
                        <h:form enctype="multipart/form-data">
                            <p:outputLabel value="#{msg['label.seleccionTipoArchivo']}" style="font-weight: bold" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <p:selectOneRadio id="adjuntar" value="#{solicitudEntranteMB.codigoArc}" layout="responsive" 
                                              columns="1" style="font-size: 15px;margin-top: 2%;"> 
                                <f:selectItem itemLabel="#{msg['label.certificadoNotas']}" itemValue="CN" />
                                <f:selectItem itemLabel="#{msg['label.fotocopiaPasaporte']}" itemValue="FP" />
                                <p:ajax listener="#{solicitudEntranteMB.definirCodigoArchivo}"/>
                            </p:selectOneRadio>
                            <br/>
                            <div class="ui-g">
                                <p:outputLabel value="- #{msg['label.msgSaveFile']}" style="color: #FF3333;font-size:17px;font-weight:bold;"/>     
                            </div>
                            <br/>
                            <!--  <p:growl id="messages" showDetail="true" />-->
                            <p:fileUpload fileUploadListener="#{solicitudEntranteMB.cargarDocumento}" 
                                          mode="advanced" 
                                          dragDropSupport="false"
                                          update="solicitudEntranteF"
                                          sizeLimit="10000000" 
                                          allowTypes="/(\.|\/)(pdf)$/"
                                          label="#{msg['label.seleccionarArchivo']}"
                                          uploadLabel="#{msg['label.subirArchivo']}"
                                          cancelLabel="#{msg['label.cancelar']}"
                                          invalidFileMessage="Tipo de archivo no valido."
                                          invalidSizeMessage="El tamaño del archivo es superior a lo permitido."
                                          style="font-size:12px"/>
                        </h:form>      
                        <script type="text/javascript">
                            function start() {
                                PF('statusDialog').show();
                            }
                            function stop() {
                                PF('statusDialog').hide();
                            }
                        </script>
                        <br/>
                        <br/> 
                        <h:panelGrid id="pSoporteAdjunto">
                            <p:dataTable id="tableArchivos" var="listaArchivo" 
                                         value="#{solicitudEntranteMB.listSoporteAdjunto}" style="margin-top:2%;width:100%;">
                                <f:facet name="header" >
                                    <p:outputPanel style="height: 25px;" >
                                        <h:outputText value="Archivos guardados" style="font-size:20px; font-weight: bold"/>
                                    </p:outputPanel>
                                </f:facet>
                                <p:column style="width:80px;text-align: center" headerText="Descripción">
                                    <h:outputText   value="#{listaArchivo.descripcion}"/>
                                </p:column>
                                <p:column style="width:80px;text-align: center" headerText="Archivo">                              
                                    <p:commandLink id="downloadFileLink" style="color: #007979;text-decoration: underline;" 
                                                   value="#{listaArchivo.nombre}"  ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);">
                                        <f:setPropertyActionListener value="#{listaArchivo}" target="#{solicitudEntranteMB.selectArchivo}" />
                                        <p:fileDownload value="#{solicitudEntranteMB.archivo}" />
                                    </p:commandLink>
                                </p:column>
                                <p:column style="width:40px;text-align: center"  headerText="#{msg['label.form.eliminar']}">
                                    <p:commandButton icon="fa fa-fw fa-remove" action="#{solicitudEntranteMB.eliminarSoporteAdj()}" update="solicitudEntranteF" immediate="true">
                                        <f:setPropertyActionListener value="#{listaArchivo}" target="#{solicitudEntranteMB.selectArchivo}" />
                                    </p:commandButton>
                                </p:column>
                            </p:dataTable>
                        </h:panelGrid>
                        <br/><br/>
                    </div>
                </p:panel>
                <br/><br/><br/>
                <div>
                    <p:commandButton icon="fa fa-send"  value="#{msg['label.enviar']}" 
                                     action="#{solicitudEntranteMB.enviarSolicitud()}" style="font-size: 16px;margin-left: 43%;"  update="pdReporteEntrante"/>   
                </div>
                <br/><br/>
                <div>
                    <h:panelGrid columns="2" style="width: 100%;">
                        <p:commandLink value="#{msg['label.atras']}" style="color: #007979;text-decoration: underline;margin-left:5%"
                                       action="#{solicitudEntranteMB.btnAtras(6)}" update="solicitudEntranteF" immediate="true"/>
                    </h:panelGrid>
                </div> 
                <br/>
            </p:panel>

        </div>
        <div class="ui-g-1"></div>
    </div>
    <p:separator style="background: #00acac;height:5px;margin-top:50px;margin-bottom:60px;margin-left:20px; margin-right:20px" />

    <p:dialog id="pdReporteEntrante" header="Reporte" widgetVar="pdReporteEntrante" modal="false" width="800" height="500" resizable="false">  
        <br/>
        <div class="ui-g">
            <div class="ui-g-6">
            </div>
            <div class="ui-g-4">
                <h:outputText value="Solicitud enviada con éxito " style="font-size: 17px; font-weight: bold" />
            </div>
            <div class="ui-g-2">
                <p:commandButton value="Cerrar" action="#{solicitudEntranteMB.onIngresar()}" style="font-weight: bold; font-size: 17px;"/>
            </div>
        </div>
        <br/>
        <br/><br/>
        <p:panelGrid id="panelGridReporteEnt" columns="1">
            <p:media value="/Reporte"  player="pdf" width="750" height="480"/>
        </p:panelGrid>
    </p:dialog>

    <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />

    <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
        <p:graphicImage name="/images/ajaxloadingbar.gif" />
    </p:dialog>


</ui:composition>