<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <div class="ui-g">
        <div class="ui-g-11"></div>
        <div class="ui-g-12">
            <p:commandButton value="#{msg['label.salir']}" action="#{solicitudSalienteMB.logout()}"   icon="fa fa-sign-out"  immediate="true" style="margin-left: 85%;"/>
        </div>
    </div>

    <br/>
    <br/>  
    <br/>  
    <div class="ui-g">
        <div class="ui-g-12">
            <p:panel style="border: none;">
                <p:outputLabel style="font-size: 32px;"  
                               value="#{msg['label.bienvenido']} #{solicitudSalienteMB.metInfUsuarioEscolaris.nombres} #{solicitudSalienteMB.metInfUsuarioEscolaris.apellidos}" />
            </p:panel>
            <br/>  
            <p:separator style="background: #a8acb1;height:5px;margin-top:30px;margin-bottom:60px;margin-left:20px; margin-right:20px" />   
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-3">
            <p:panel style="background: #00acac">
                <p:outputLabel style="color: white;font-size: 20px;"  value="#{msg['label.infPersonal']}" rendered="#{solicitudSalienteMB.renderedPersonal}"/>
                <p:outputLabel style="color: white;font-size: 20px;"  value="#{msg['label.infInstitucionOrigen']}" rendered="#{solicitudSalienteMB.renderedInstOrigen}"/>              
                <p:outputLabel style="color: white;font-size: 20px;"  value="#{msg['label.infAcademico']}" rendered="#{solicitudSalienteMB.renderedAcademica}"/>         
                <p:outputLabel style="color: white;font-size: 20px;"  value="#{msg['label.infAcuerdoApren']}" rendered="#{solicitudSalienteMB.renderedMovilidad}"/>
                <p:outputLabel style="color: white;font-size: 20px;"  value="#{msg['label.infMedicaContacto']}" rendered="#{solicitudSalienteMB.renderedPrfilMedico}"/>
                <p:outputLabel style="color: white;font-size: 20px;"  value="#{msg['label.archivosAdjuntos']}" rendered="#{solicitudSalienteMB.renderedDocAdjuntos}"/>
            </p:panel>
        </div>
        <div class="ui-g-8">

            <!--INFORMACION PERSONAL DEL ESTUDIANTE -->
            <p:panel id="panelInfPersonal" style="background: whitesmoke" rendered="#{solicitudSalienteMB.renderedPersonal}">
                <br/>
                <div>
                    <p:commandLink value="#{msg['label.siguiente']}" style="color: #007979;text-decoration: underline;margin-left: 90%;font-size: 16px;" 
                                   action="#{solicitudSalienteMB.btnSiguiente(1)}" update="solicitudSalienteF"/>
                </div>
                <br/>
                <p:separator/>
                <br/> 
                <p:panel style="background: whitesmoke; margin-left: 10%;margin-right: 10%;width: 80%;border: none">
                    <div>
                        <br/>
                        <p:outputLabel value="#{msg['label.obligatorio']}" 
                                       style="color: #e44d26;font-size: 14px;font-weight: bold"/>
                        <br/>
                        <br/>
                        <br/>
                        <p:outputLabel value="#{msg['label.apellido']} " style="font-size: 17px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:100%"
                                     value="#{solicitudSalienteMB.metInfUsuarioEscolaris.apellidos}" readonly="true"  
                                     required="true" 
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.apellido']} #{msg['label.msgRequerido2']}"/>
                        <br/>
                        <br/>
                        <br/>

                        <p:outputLabel value="#{msg['label.nombre']}" style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:100%"
                                     value="#{solicitudSalienteMB.metInfUsuarioEscolaris.nombres}" readonly="true"
                                     required="true" 
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.nombre']} #{msg['label.msgRequerido2']}"/>
                        <br/>
                        <br/>
                        <br/>

                        <p:outputLabel value="#{msg['label.genero']} "  style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:100%"
                                     value="#{solicitudSalienteMB.metInfUsuarioEscolaris.metGenero.nombreEspaniol}" readonly="true"
                                     required="true" 
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.genero']} #{msg['label.msgRequerido2']}"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.tipoDocumento']} "  style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:100%"
                                     value="#{solicitudSalienteMB.metInfUsuarioEscolaris.metTipoIdentificacion.nombre}" readonly="true"
                                     required="true" 
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.tipoDocumento']} #{msg['label.msgRequerido2']}"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.numDocumento']} "  style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:100%"
                                      value="#{solicitudSalienteMB.metInfUsuarioEscolaris.numeroIdentificacion}" readonly="true"
                                      required="true" 
                                      requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.numDocumento']} #{msg['label.msgRequerido2']}"/> 
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.lugarExpedicion']} "  style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:100%"
                                      value="#{solicitudSalienteMB.metInfUsuarioEscolaris.lugarExpedicion}" readonly="true"
                                      required="true" 
                                      requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.lugarExpedicion']} #{msg['label.msgRequerido2']}"/>                      
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.fechaNacimiento']} "  style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:100%"
                                      value="#{solicitudSalienteMB.fechaNacimientoEstudiante}" readonly="true"
                                      required="true" 
                                      requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.fechaNacimiento']} #{msg['label.msgRequerido2']}"/>   
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.lugarNacimiento']} " style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB.metInfUsuarioEscolaris.lugarNacimiento}"
                                     style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:100%;" readonly="true"
                                     required="true" 
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.lugarNacimiento']} #{msg['label.msgRequerido2']}"/>
                        <br/><br/><br/>

                        <p:outputLabel  value="#{msg['label.nacionalidad']} "  style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <p:inputText value="#{solicitudSalienteMB.metInfUsuario.nacionalidad}" 
                                     style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:100%;"
                                     required="true" 
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.nacionalidad']} #{msg['label.msgRequerido2']}"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.codigoEstudiantil']} "  style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText  style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:100%"
                                      value="#{solicitudSalienteMB.metInfUsuarioEscolaris.codigoEstudiantil}" readonly="true"
                                      required="true" 
                                      requiredMessage="#{msg['label.msgRequerido1']} #{msg['codigoEstudiantil']} #{msg['label.msgRequerido2']}"/>                      
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.direccion']} "  style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB.metInfUsuarioEscolaris.direccionResidencia}"  
                                     style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:100%;" readonly="true"
                                     required="true" 
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.direccion']} #{msg['label.msgRequerido2']}"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.telCasa']}"  style="font-size: 17px;"/>
                        <br/>
                        <p:inputText  value="#{solicitudSalienteMB.metInfUsuarioEscolaris.telCasa}"
                                      style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:100%;" readonly="true"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.celular']}"  style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB.metInfUsuarioEscolaris.celular}"
                                     style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:100%;" readonly="true"
                                     required="true" 
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.celular']} #{msg['label.msgRequerido2']}"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.emailInstitucional']}"  style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB.metInfUsuarioEscolaris.emailInstitucional}"
                                     style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:100%;" readonly="true"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.emailAlternativo']}"  style="font-size: 17px;" />
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB.metInfUsuarioEscolaris.emailAlternativo}"
                                     style="margin-top:1%;border-top:none;border-left:none;border-right:none;width:100%;"
                                     validatorMessage="#{msg['label.msgValidacion1']} #{msg['label.emailAlternativo']} #{msg['label.msgValidacion2']}" 
                                     >                      
                            <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                        </p:inputText>
                    </div>
                </p:panel>

                <br/><br/><br/>
                <div>
                    <p:commandButton icon="fa fa-save" value="#{msg['label.guardar']}" action="#{solicitudSalienteMB.guardarDatosPersonales()}" 
                                     update="solicitudSalienteF" style="font-size: 16px;margin-left: 43%;"/>
                </div> 
                <br/><br/>
                <div>
                    <p:commandLink value="#{msg['label.siguiente']}" style="color: #007979;text-decoration: underline;margin-left: 90%;font-size: 16px;" 
                                   action="#{solicitudSalienteMB.btnSiguiente(1)}" update="solicitudSalienteF"/>
                </div>
                <br/>
            </p:panel>

            <!--INF PROGRAMA ACADÉMICO-->
            <p:panel id="panelProgramaAcademico" style="background: whitesmoke" rendered="#{solicitudSalienteMB.renderedAcademica}">
                <br/>
                <div>
                    <h:panelGrid columns="2" style="width: 100%;">
                        <p:commandLink value="#{msg['label.atras']}" style="color: #007979;text-decoration: underline;margin-left:5%"
                                       action="#{solicitudSalienteMB.btnAtras(2)}" update="solicitudSalienteF" immediate="true"/>

                        <p:commandLink value="#{msg['label.siguiente']}" style="color: #007979;text-decoration: underline;margin-left: 85%" 
                                       action="#{solicitudSalienteMB.btnSiguiente(2)}" update="solicitudSalienteF" />
                    </h:panelGrid>
                </div>
                <br/>
                <p:separator/>
                <br/> 
                <p:panel style="background: whitesmoke; margin-left: 10%;margin-right: 10%;width: 80%;border: none">
                    <div>
                        <br/>
                        <p:outputLabel value="#{msg['label.obligatorio']}" 
                                       style="color: #e44d26;font-size: 14px;font-weight: bold"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.nivelEducacion']} " style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB.nivelEducacion}"
                                     style="border-top: none; border-left: none; border-right: none; width: 100%;" readonly="true" required="true"
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.nivelEducacion']} #{msg['label.msgRequerido2']}"/> 
                        <br/><br/><br/> 

                        <p:outputLabel value="#{msg['label.facultad']} " style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;" />
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB.metInfUsuarioEscolaris.facultadEstSaliente}" 
                                     style="border-top: none; border-left: none; border-right: none; width: 100%;" readonly="true" required="true"
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.facultad']} #{msg['label.msgRequerido2']}"/> 
                        <br/><br/><br/> 

                        <p:outputLabel value="#{msg['label.semestre']} " style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB.metInfUsuarioEscolaris.semestreEstSaliente}" 
                                     style="border-top: none; border-left: none; border-right: none; width: 100%;" readonly="true" required="true"
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.semestre']} #{msg['label.msgRequerido2']}"/> 
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.programa']} " style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB.metInfUsuarioEscolaris.programaEstSaliente}"
                                     style="border-top: none; border-left: none; border-right: none; width: 100%;" readonly="true" required="true"
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.programa']} #{msg['label.msgRequerido2']}"/>     
                        <br/><br/><br/> 

                        <p:outputLabel value="#{msg['label.promedio']} " style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB.metSolicitud.promedioAcumulado}"
                                     style="border-top: none; border-left: none; border-right: none; width: 100%;" readonly="true" required="true"
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.promedio']} #{msg['label.msgRequerido2']}"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.promedioUltSemestre']} " style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB.metSolicitud.promedioUltSemestre}"
                                     style="border-top: none; border-left: none; border-right: none; width: 100%;" readonly="true" required="true"
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.promedioUltSemestre']} #{msg['label.msgRequerido2']}"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.idiomas']} " style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <p:panelGrid id="pIdiomas" style="margin-top: 2%;margin-bottom:20px;width: 100%;">
                            <f:facet name="header">
                                <p:row>
                                    <p:column style="color: #444d56;background:#ccc;width: 30px;"></p:column>
                                    <p:column style="color: #444d56;background:#ccc;width: 30px;font-size: 16px;">#{msg['label.nativo']}</p:column>
                                    <p:column style="color: #444d56;background:#ccc;width: 30px;font-size: 16px;">#{msg['label.habla']}</p:column>
                                    <p:column style="color: #444d56;background:#ccc;width: 30px;font-size: 16px;">#{msg['label.escribe']}</p:column>
                                    <p:column style="color: #444d56;background:#ccc;width: 30px;font-size: 16px;">#{msg['label.lee']}</p:column>
                                </p:row>
                            </f:facet>
                            <p:row>
                                <p:column style="margin-top: 5px; width:50px;background:white;font-size: 16px;">#{msg['label.espaniol']}</p:column>
                                <p:column>
                                    <p:selectBooleanCheckbox id="checkIdiomaNativo1" style="margin-left: 15px;" 
                                                             value="#{solicitudSalienteMB.idiomaEspanol.idiomaNativo}"
                                                             disabled="#{solicitudSalienteMB.idiomaNativoEsp}">
                                        <p:ajax listener="#{solicitudSalienteMB.deshabilitarIdiomaEsp()}" update="pIdiomas" />
                                    </p:selectBooleanCheckbox>

                                </p:column>
                                <p:column >
                                    <p:inputText style="margin-top:5px;color:#5f666c;width:80px;font-size: 15px;"
                                                 placeholder="#{msg['placeholder.general.clicAqui']}" 
                                                 value="#{solicitudSalienteMB.idiomaEspanol.porcentajeHabla}" 
                                                 disabled="#{solicitudSalienteMB.disabledIdiomaEsp}">
                                    </p:inputText>
                                </p:column>
                                <p:column >
                                    <p:inputText style="margin-top:5px;color:#5f666c;width:80px;font-size: 15px;"
                                                 placeholder="#{msg['placeholder.general.clicAqui']}" 
                                                 value="#{solicitudSalienteMB.idiomaEspanol.porcentajeEscribe}"
                                                 disabled="#{solicitudSalienteMB.disabledIdiomaEsp}"/>
                                </p:column>
                                <p:column>
                                    <p:inputText style="margin-top:5px;color:#5f666c;width:80px;font-size: 15px;" 
                                                 placeholder="#{msg['placeholder.general.clicAqui']}" 
                                                 value="#{solicitudSalienteMB.idiomaEspanol.porcentajeLee}"
                                                 disabled="#{solicitudSalienteMB.disabledIdiomaEsp}"/>
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column style="font-size: 16px;">#{msg['label.ingles']}</p:column>
                                <p:column >
                                    <p:selectBooleanCheckbox id="checkIdiomaNativo2" style="margin-left: 16px;" 
                                                             value="#{solicitudSalienteMB.idiomaIngles.idiomaNativo}"
                                                             disabled="#{solicitudSalienteMB.idiomaNativoIng}">
                                        <p:ajax listener="#{solicitudSalienteMB.deshabilitarIdiomaIng()}" update="pIdiomas" />
                                    </p:selectBooleanCheckbox>
                                </p:column>
                                <p:column>
                                    <p:inputText style="margin-top:5px;color:#5f666c;width:80px;font-size: 15px;"
                                                 placeholder="#{msg['placeholder.general.clicAqui']}"
                                                 value="#{solicitudSalienteMB.idiomaIngles.porcentajeHabla}" 
                                                 disabled="#{solicitudSalienteMB.disabledIdiomaIng}"/>
                                </p:column>
                                <p:column >
                                    <p:inputText style="margin-top:5px;color:#5f666c;width:80px;font-size: 15px;" 
                                                 placeholder="#{msg['placeholder.general.clicAqui']}"
                                                 value="#{solicitudSalienteMB.idiomaIngles.porcentajeEscribe}"
                                                 disabled="#{solicitudSalienteMB.disabledIdiomaIng}"/>
                                </p:column>
                                <p:column >
                                    <p:inputText style="margin-top:5px;color:#5f666c;width:80px;font-size: 15px;"
                                                 placeholder="#{msg['placeholder.general.clicAqui']}"
                                                 value="#{solicitudSalienteMB.idiomaIngles.porcentajeLee}"
                                                 disabled="#{solicitudSalienteMB.disabledIdiomaIng}"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column style="font-size: 16px;">#{msg['label.otroCual']}
                                    <p:inputText style="margin-top:5px;width:80px;color:#5f666c;" 
                                                 value="#{solicitudSalienteMB.idiomaOtro.namDescripcion}"/> 
                                </p:column>
                                <p:column>
                                    <p:selectBooleanCheckbox id="checkIdiomaNativo3" style="margin-left: 16px;" 
                                                             value="#{solicitudSalienteMB.idiomaOtro.idiomaNativo}"
                                                             disabled="#{solicitudSalienteMB.idiomaNativoOtr}">
                                        <p:ajax listener="#{solicitudSalienteMB.deshabilitarIdiomaOtro()}" update="pIdiomas" />
                                    </p:selectBooleanCheckbox>
                                </p:column>
                                <p:column>
                                    <p:inputText style="margin-top:5px;color:#5f666c;width:80px;font-size: 15px;"
                                                 placeholder="#{msg['placeholder.general.clicAqui']}"
                                                 value="#{solicitudSalienteMB.idiomaOtro.porcentajeHabla}"
                                                 disabled="#{solicitudSalienteMB.disabledIdiomaOtr}"/>
                                </p:column>
                                <p:column>
                                    <p:inputText style="margin-top:5px;color:#5f666c;width:80px;font-size: 15px;" 
                                                 placeholder="#{msg['placeholder.general.clicAqui']}"
                                                 value="#{solicitudSalienteMB.idiomaOtro.porcentajeEscribe}"
                                                 disabled="#{solicitudSalienteMB.disabledIdiomaOtr}"/>
                                </p:column>
                                <p:column>
                                    <p:inputText style="margin-top:5px;color:#5f666c;width:80px;font-size: 15px;"  
                                                 placeholder="#{msg['placeholder.general.clicAqui']}"
                                                 value="#{solicitudSalienteMB.idiomaOtro.porcentajeLee}"
                                                 disabled="#{solicitudSalienteMB.disabledIdiomaOtr}"/>
                                </p:column>
                            </p:row> 
                        </p:panelGrid> 
                        <br/>
                        <br/>

                        <p:outputLabel value="#{msg['label.distinciones']} " style="font-size: 17px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <br/>
                        <p:outputLabel value="#{msg['label.notaDistinciones']} " style="font-size: 15px;"/>
                        <p:panel style="width: 100%;margin-top: 2%;">
                            <br/><br/>
                            <div class="ui-g">
                                <p:outputLabel value="#{msg['label.anio']}" style="font-size: 17px;"/>
                            </div>
                            <div class="ui-g">
                                <p:inputText value="#{solicitudSalienteMB.metDistinciones.anio}" style="border-top: none;border-left: none;border-right: none;"/>
                            </div>
                            <br/><br/>
                            <div class="ui-g">
                                <p:outputLabel value="#{msg['label.logro']}" style="font-size: 17px;"/>
                            </div>
                            <div class="ui-g">
                                <p:inputTextarea rows="6" cols="80" value="#{solicitudSalienteMB.metDistinciones.descripcion}"
                                                 placeholder="#{msg['label.desLogroDistinciones']}" />
                            </div>

                            <br/><br/>
                            <div class="ui-g">
                                <p:outputLabel value="- #{msg['label.msgSaveFile']}" style="color: #FF3333;font-size:17px;font-weight:bold;"/>     
                            </div>
                            <br/>
                            <div class="ui-g">
                                <h:form enctype="multipart/form-data">
                                    <p:growl id="messages" showDetail="true" />
                                    <p:fileUpload fileUploadListener="#{solicitudSalienteMB.cargarDocumemto}" 
                                                  mode="advanced" 
                                                  dragDropSupport="false"
                                                  update="messages" 
                                                  sizeLimit="10000000" 
                                                  fileLimit="1" 
                                                  allowTypes="/(\.|\/)(pdf)$/"
                                                  label="#{msg['label.seleccionarArchivo']}"
                                                  uploadLabel="#{msg['label.subirArchivo']}"
                                                  cancelLabel="#{msg['label.cancelar']}"
                                                  invalidFileMessage="Tipo de archivo no valido."
                                                  invalidSizeMessage="El tamaño del archivo es superior a lo permitido."
                                                  style="font-size:10px;"/>
                                </h:form>                               
                                <br/>
                            </div>


                            <br/><br/>                          
                            <div class="ui-g">
                                <div class="ui-g-3"></div>
                                <div class="ui-g-6">
                                    <p:commandButton  value="#{msg['label.validar']}" style="margin-left: 20px" icon="fa fa-check-square-o" 
                                                      action="#{solicitudSalienteMB.guardarDistincion()}" 
                                                      update="solicitudSalienteF" />
                                </div>
                                <div class="ui-g-3"></div>
                            </div>


                        </p:panel>

                        <br/><br/> 
                        <h:panelGrid id="pDistinciones" rendered="#{solicitudSalienteMB.renderedDistinciones}" style="width: 85%;">
                            <p:dataTable id="tableDisticiones" var="disbasicDTtincion" 
                                         value="#{solicitudSalienteMB.listaDistinciones}" style="margin-top:2%;width:120%;">
                                <f:facet name="header" >
                                    <p:outputPanel style="height: 25px;" >
                                        <h:outputText value="#{msg['label.form.distinciones']}" style="font-size:20px; font-weight: bold"/>
                                    </p:outputPanel>
                                </f:facet>
                                <p:column  style="width:40px;text-align: center" headerText="#{msg['label.form.anio']}">
                                    <h:outputText value="#{disbasicDTtincion.anio}" style="border: none"/>
                                </p:column>

                                <p:column style="width:80px;text-align: center" headerText="#{msg['label.form.logro']}">
                                    <h:outputText   value="#{disbasicDTtincion.descripcion}"/>
                                </p:column>

                                <p:column style="width:80px;text-align: center" headerText="#{msg['label.form.soporte']}">
                                    <p:commandLink id="downloadDistincionlink" style="color: #007979;text-decoration: underline;" 
                                                   value="#{disbasicDTtincion.nombreArchivo}"  ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);">
                                        <f:setPropertyActionListener value="#{disbasicDTtincion}" target="#{solicitudSalienteMB.selectedDistincion}" />
                                        <p:fileDownload value="#{solicitudSalienteMB.archivoDistincion}" />
                                    </p:commandLink>
                                </p:column>

                                <p:column style="width:40px;text-align: center"  headerText="#{msg['label.form.eliminar']}">
                                    <p:commandButton icon="fa fa-fw fa-remove" action="#{solicitudSalienteMB.borrarDistincion()}" update="solicitudSalienteF" immediate="true">
                                        <f:setPropertyActionListener value="#{disbasicDTtincion}" target="#{solicitudSalienteMB.selectedDistincion}" />
                                    </p:commandButton>
                                </p:column>
                            </p:dataTable>
                        </h:panelGrid>

                        <script type="text/javascript">
                            function start() {
                                PF('statusDialog').show();
                            }
                            function stop() {
                                PF('statusDialog').hide();
                            }
                        </script>
                        <br/><br/><br/> 
                    </div>
                </p:panel>
                <br/><br/><br/>

                <div>
                    <p:commandButton icon="fa fa-save" value="#{msg['label.guardar']}" action="#{solicitudSalienteMB.guardarProgramaAcademico()}" 
                                     update="solicitudSalienteF" style="font-size: 16px;margin-left: 43%;"/>
                </div>
                <br/><br/>
                <div>
                    <h:panelGrid columns="2" style="width: 100%;">
                        <p:commandLink value="#{msg['label.atras']}" style="color: #007979;text-decoration: underline;margin-left:5%"
                                       action="#{solicitudSalienteMB.btnAtras(2)}" update="solicitudSalienteF" immediate="true"/>

                        <p:commandLink value="#{msg['label.siguiente']}" style="color: #007979;text-decoration: underline;margin-left: 85%" 
                                       action="#{solicitudSalienteMB.btnSiguiente(2)}" update="solicitudSalienteF" />
                    </h:panelGrid>
                </div>                 
            </p:panel>

            <!--ACUERDO DE APRENDIZAJE-->
            <p:panel id="panelInfMovilidad" style="background: whitesmoke" rendered="#{solicitudSalienteMB.renderedMovilidad}">
                <br/>
                <div>
                    <h:panelGrid columns="2" style="width: 100%;">
                        <p:commandLink value="#{msg['label.atras']}" style="color: #007979;text-decoration: underline;margin-left:5%"
                                       action="#{solicitudSalienteMB.btnAtras(3)}" update="solicitudSalienteF" immediate="true"/>

                        <p:commandLink value="#{msg['label.siguiente']}" style="color: #007979;text-decoration: underline;margin-left: 85%" 
                                       action="#{solicitudSalienteMB.btnSiguiente(3)}" update="solicitudSalienteF" />
                    </h:panelGrid>
                </div>
                <br/>
                <p:separator/>
                <br/> 
                <p:panel style="background: whitesmoke; margin-left: 10%;margin-right: 10%;width: 80%;border: none">
                    <div>
                        <p:outputLabel value="#{msg['label.obligatorio']}" 
                                       style="color: #e44d26;font-size: 13px;font-weight: bold"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.institucionDestino']} " style="font-size: 18px;"/>
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                        <br/>
                        <h:panelGrid id="seInstitucionOrigen" columns="1" style="width: 100%;">
                            <p:selectOneMenu id="listInstCovenio" style="width: 95%;" value="#{solicitudSalienteMB.metSolicitud.metInstitucionConvenio.pk}" 
                                             disabled="#{solicitudSalienteMB.disableInstitucion}" required="true" 
                                             requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.institucionDestino']} #{msg['label.msgRequerido2']}">
                                <f:selectItem />
                                <f:selectItems value="#{solicitudSalienteMB.listaInstitucionesConvenio}" var="i" itemValue="#{i.pk}" itemLabel="#{i.nombre}"/> 
                                <p:ajax  update="panelInfInstConvenio" listener="#{solicitudSalienteMB.mostrarInstConvenio}"/>
                            </p:selectOneMenu>
                        </h:panelGrid>

                        <h:panelGrid columns="2" style="margin-top:1%;" rendered="true">
                            <p:selectBooleanCheckbox id="checkOtraInstitucion" 
                                                     value="#{solicitudSalienteMB.selectOtraInstitucion}"
                                                     style="color:#5f666c;size: 16px; margin-top: 5%;">
                                <p:ajax update="panelInfInstConvenio,seInstitucionOrigen,pOtraInstitucionOri"
                                        listener="#{solicitudSalienteMB.procOtraInstitucion}" />
                            </p:selectBooleanCheckbox>
                            <p:outputLabel value="#{msg['label.selecOtrInst']}" style="font-size: 16px;"/>
                        </h:panelGrid>


                        <br/><br/>

                        <p:panel id="panelInfInstConvenio" style="border: none;background: whitesmoke">
                            <p:outputLabel value="#{msg['label.form.existeConvenio']} " style="font-size: 18px;"/>
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                            <p:selectOneRadio id="selectConvenio" value="#{solicitudSalienteMB.metSolicitud.existeConvenio}" required="true" 
                                              requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.form.existeConvenio']} #{msg['label.msgRequerido2']}">
                                <f:selectItem itemLabel="#{msg['label.si']}" itemValue="#{msg['label.si']}" />
                                <f:selectItem itemLabel="No" itemValue="No" />
                            </p:selectOneRadio>
                            <br/><br/><br/>

                            <p:panelGrid id="pOtraInstitucionOri" rendered="#{solicitudSalienteMB.renderedPOtraInst}"
                                         style="border: none;background: whitesmoke">   

                                <p:outputLabel value="#{msg['label.nombreInstitucion']} " style="font-size: 18px;"/>
                                <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-weight: bold;font-size: 20px;"/>
                                <br/>
                                <p:inputText id="inptOtraCiudadInstitucion" 
                                             style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:100%" required="true"
                                             requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.nombreInstitucion']} #{msg['label.msgRequerido2']}"
                                             disabled="#{solicitudSalienteMB.disableOtrInstitucion}"
                                             value="#{solicitudSalienteMB.metOtraInstitucion.nombreInstitucion}"/> 
                                <br/><br/><br/>       
                            </p:panelGrid>
                        </p:panel>
                    </div>
                    <div>
                        <p:outputLabel value="#{msg['label.formEntrante.tipoMovilidad']} " style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:selectOneRadio value="#{solicitudSalienteMB.metSolicitud.metTipoMovilidad.pk}"
                                          layout="responsive" columns="1" style="font-size: 16px;" required="true"
                                          requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.formEntrante.tipoMovilidad']} #{msg['label.msgRequerido2']}">
                            <f:selectItems value="#{solicitudSalienteMB.tiposMovilidad}" var="t" itemValue="#{t.pk}" itemLabel="#{t.nombreEspaniol} " />
                        </p:selectOneRadio>
                        <br/>
                        <br/>
                        <br/>

                        <h:outputLabel  value="#{msg['label.formEntrante.fecInicio']}" style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:calendar value="#{solicitudSalienteMB.metSolicitud.fechaInicioMovilidad}" pattern="dd-MM-yyyy" mask="true" 
                                    locale="es" yearRange="c-60:c+5" navigator="true" required="true" showOn="button" 
                                    requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.formEntrante.fecInicio']} #{msg['label.msgRequerido2']}"/>                       
                        <br/>
                        <br/>
                        <br/>

                        <h:outputLabel value="#{msg['label.formEntrante.fecFinalizacion']}" style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:calendar value="#{solicitudSalienteMB.metSolicitud.fechaFinMovilidad}" pattern="dd-MM-yyyy" mask="true" 
                                    locale="es" yearRange="c-60:c+5" navigator="true" required="true" showOn="button" 
                                    requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.formEntrante.fecFinalizacion']} #{msg['label.msgRequerido2']}"/> 
                    </div>
                </p:panel> 
                <br/><br/><br/><br/>
                <div>
                    <p:commandButton icon="fa fa-save" value="#{msg['label.guardar']}" action="#{solicitudSalienteMB.guardarAcuerdoAprendizaje()}" 
                                     update="solicitudSalienteF" style="font-size: 16px;margin-left: 43%;"/>
                </div>
                <br/><br/>
                <div>
                    <h:panelGrid columns="2" style="width: 100%;">
                        <p:commandLink value="#{msg['label.atras']}" style="color: #007979;text-decoration: underline;margin-left:5%"
                                       action="#{solicitudSalienteMB.btnAtras(3)}" update="solicitudSalienteF" immediate="true"/>

                        <p:commandLink value="#{msg['label.siguiente']}" style="color: #007979;text-decoration: underline;margin-left: 85%" 
                                       action="#{solicitudSalienteMB.btnSiguiente(3)}" update="solicitudSalienteF" />
                    </h:panelGrid>
                </div> 
            </p:panel>

            <!--INFORMACION MEDICA Y DE CONTACTO DEL ESTUDIANTE -->
            <p:panel id="panelInfMedicaContacto" style="background: whitesmoke" rendered="#{solicitudSalienteMB.renderedPrfilMedico}">
                <br/>
                <div class="ui-g">
                    <div class="ui-g-1"></div>
                    <div class="ui-g-1">
                        <p:commandLink value="#{msg['label.atras']}" style="color: #007979;text-decoration: underline"
                                       action="#{solicitudSalienteMB.btnAtras(4) }" update="solicitudSalienteF" immediate="true" />
                    </div>
                    <div class="ui-g-8"></div>              
                    <div class="ui-g-2">
                        <p:commandLink value="#{msg['label.siguiente']}" style="color: #007979;text-decoration: underline" 
                                       action="#{solicitudSalienteMB.btnSiguiente(4)}" update="solicitudSalienteF" />
                    </div>
                </div>
                <p:separator/>
                <br/>   
                <div class="ui-g">

                    <div class="ui-g-1"></div>

                    <div class="ui-g-8">
                        <br/>
                        <p:outputLabel value="#{msg['label.obligatorio']}" 
                                       style="color: #e44d26;font-size: 13px;font-weight: bold"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.tipoSangre']} " style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:selectOneMenu value="#{solicitudSalienteMB.metInfUsuario.tipoSangre}" style="margin-top: 2%;width: 30%;" required="true" 
                                         requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.tipoSangre']} #{msg['label.msgRequerido2']}">
                            <f:selectItem/>
                            <f:selectItems value="#{solicitudSalienteMB.itemsTipoSangre}" />                    
                        </p:selectOneMenu> 
                        <p:outputLabel value="#{solicitudSalienteMB.metInfUsuarioEscolaris.tipoSangre}" style="font-size: 18px;" />
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.alergias']} " style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <div class="ui-g">
                            <div class="ui-g-4">
                                <p:selectOneRadio value="#{solicitudSalienteMB.metSolicitud.tieneAlergia}" style="margin-top: 2%;" required="true" 
                                                  requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.alergias']} #{msg['label.msgRequerido2']}">
                                    <f:selectItem itemLabel="Si" itemValue="Si" />
                                    <f:selectItem itemLabel="No" itemValue="No" />
                                </p:selectOneRadio>  
                            </div>
                            <div class="ui-g-8">
                                <p:inputTextarea rows="1"  cols="20" style="width:100%;" placeholder="#{msg['label.cuales']}"
                                                 value="#{solicitudSalienteMB.metSolicitud.alergias}"/>
                            </div>
                        </div>
                        <br/><br/>

                        <p:outputLabel value="#{msg['label.enfCronicas']} "  style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <div class="ui-g">
                            <div class="ui-g-4">
                                <p:selectOneRadio value="#{solicitudSalienteMB.metSolicitud.tieneEnfermedades}" style="margin-top: 2%;" required="true" 
                                                  requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.enfCronicas']} #{msg['label.msgRequerido2']}">
                                    <f:selectItem itemLabel="Si" itemValue="Si" />
                                    <f:selectItem itemLabel="No" itemValue="No" />
                                </p:selectOneRadio> 
                            </div>
                            <div class="ui-g-8">
                                <p:inputTextarea rows="1"  cols="20" style="width:100%;" placeholder="#{msg['label.cuales']}"
                                                 value="#{solicitudSalienteMB.metSolicitud.enfermedades}"/>
                            </div>
                        </div>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.medicamento']} " style="font-size: 18px;"  />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>        
                        <div class="ui-g">
                            <div class="ui-g-4">
                                <p:selectOneRadio value="#{solicitudSalienteMB.metSolicitud.tieneMedicamento}" style="margin-top: 2%;" required="true" 
                                                  requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.medicamento']} #{msg['label.msgRequerido2']}">
                                    <f:selectItem itemLabel="Si" itemValue="Si" />
                                    <f:selectItem itemLabel="No" itemValue="No" />
                                </p:selectOneRadio> 
                            </div>
                            <div class="ui-g-8">
                                <p:inputTextarea rows="1"  cols="20" style="width:100%;" placeholder="#{msg['label.cuales']}"
                                                 value="#{solicitudSalienteMB.metSolicitud.medicamentos}"/>
                            </div>
                        </div>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.restriccion']} "  style="font-size: 18px;"  />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>     
                        <div class="ui-g">
                            <div class="ui-g-4">
                                <p:selectOneRadio value="#{solicitudSalienteMB.metSolicitud.tieneRestriccionAlm}" style="margin-top: 2%;" required="true" 
                                                  requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.restriccion']} #{msg['label.msgRequerido2']}">
                                    <f:selectItem itemLabel="Si" itemValue="Si" />
                                    <f:selectItem itemLabel="No" itemValue="No" />
                                </p:selectOneRadio> 
                            </div>
                            <div class="ui-g-8">
                                <p:inputTextarea rows="1" cols="20" style="width:100%;" placeholder="#{msg['label.cuales']}"
                                                 value="#{solicitudSalienteMB.metSolicitud.restriccionAlimentaria}"/>
                            </div>
                        </div>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.nameAcudiente']} "  style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB.metContactoEmergencia.nombres}" 
                                     style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:100%" 
                                     required="true" 
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.nameAcudiente']} #{msg['label.msgRequerido2']}"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.parentesco']} "  style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <h:panelGrid id="panelParentesco" columns="2" width="100%;">
                            <p:column>
                                <p:selectOneMenu  value="#{solicitudSalienteMB.metContactoEmergencia.metParentesco.pk}" required="true" style="width: 30%;"
                                                  requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.parentesco']} #{msg['label.msgRequerido2']}">
                                    <f:selectItem />
                                    <f:selectItems value="#{solicitudSalienteMB.tiposParentesco}" var="t" itemValue="#{t.pk}" itemLabel="#{t.nombreEspaniol}"/>    
                                    <p:ajax update="panelParentesco" listener="#{solicitudSalienteMB.otroParentesco()}"/>
                                </p:selectOneMenu>
                            </p:column>
                            <p:column>
                                <p:inputText rendered="#{solicitudSalienteMB.renderedOtroParentesco}"
                                             value="#{solicitudSalienteMB.metContactoEmergencia.otroParentesco}"
                                             style="margin-left: 2%; margin-top: 1%;border-top:none;border-left:none;border-right: none;width:68%"
                                             required="true" 
                                             requiredMessage="#{msg['label.msgRequerido1']} otro parentesco #{msg['label.msgRequerido2']}"/>
                            </p:column>
                        </h:panelGrid>
                        <br/><br/>

                        <p:outputLabel value="#{msg['label.direccion']} "  style="font-size: 18px;"  />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB.metContactoEmergencia.direccion}"
                                     style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:100%" 
                                     required="true" 
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.direccion']} #{msg['label.msgRequerido2']}"/>
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.telCasa']} "  style="font-size: 18px;"  />
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB.metContactoEmergencia.telefono}"
                                     style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:100%" />
                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.celular']} "  style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB.metContactoEmergencia.celular}"
                                     style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:100%" 
                                     required="true" 
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.celular']} #{msg['label.msgRequerido2']}"/>

                        <br/><br/><br/>

                        <p:outputLabel value="#{msg['label.email']} " style="font-size: 18px;" />
                        <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                        <br/>
                        <p:inputText value="#{solicitudSalienteMB.metContactoEmergencia.email}"
                                     style="margin-top: 1%;border-top:none;border-left:none;border-right: none;width:100%" 
                                     required="true" 
                                     requiredMessage="#{msg['label.msgRequerido1']} #{msg['label.email']} #{msg['label.msgRequerido2']}"
                                     validatorMessage="#{msg['label.msgValidacion1']} #{msg['label.email']} #{msg['label.msgValidacion2']}" 
                                     >                      
                            <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                        </p:inputText>
                        <br/><br/><br/>   
                    </div>
                </div>
                <br/><br/><br/><br/>
                <div>
                    <p:commandButton icon="fa fa-save" value="#{msg['label.guardar']}" action="#{solicitudSalienteMB.guardarContactoEmergencia()}" 
                                     update="solicitudSalienteF" style="font-size: 16px;margin-left: 43%;"/>
                </div>
                <br/><br/>
                <div>
                    <h:panelGrid columns="2" style="width: 100%;">
                        <p:commandLink value="#{msg['label.atras']}" style="color: #007979;text-decoration: underline;margin-left:5%"
                                       action="#{solicitudSalienteMB.btnAtras(4)}" update="solicitudSalienteF" immediate="true"/>

                        <p:commandLink value="#{msg['label.siguiente']}" style="color: #007979;text-decoration: underline;margin-left: 85%" 
                                       action="#{solicitudSalienteMB.btnSiguiente(4)}" update="solicitudSalienteF" />
                    </h:panelGrid>
                </div> 
            </p:panel>

            <!--ADJUNTAR ARCHIVOS-->
            <p:panel id="panelDocumentos" style="background: whitesmoke" rendered="#{solicitudSalienteMB.renderedDocAdjuntos}">
                <br/>
                <div class="ui-g">
                    <div class="ui-g-1"></div>
                    <div class="ui-g-1">
                        <p:commandLink value="#{msg['label.atras']}" style="color: #007979;text-decoration: underline"
                                       action="#{solicitudSalienteMB.btnAtras(5)}" update="solicitudSalienteF" immediate="true"/>
                    </div>
                    <div class="ui-g-8"></div>              
                    <div class="ui-g-2"></div>
                </div>
                <p:separator/>
                <br/>   
                <div class="ui-g">

                    <div class="ui-g-1"></div>

                    <div class="ui-g-8">
                        <p:outputLabel value="Seleccione archivo para decargar: " style="font-weight: bold" />
                        <p:selectOneRadio id="descarga" value="#{solicitudSalienteMB.descarga}" layout="responsive" columns="1" style="font-size: 15px;margin-top: 2%;"> 
                            <f:selectItem itemLabel="Carta de Compromiso" itemValue="Carta de compromiso.docx" />
                            <f:selectItem itemLabel="Carta de solvencia económica" itemValue="Carta de solvencia economica.docx" />
                            <f:selectItem itemLabel="Plan de Homologacion" itemValue="Plan de Homologacion.docx" />
                        </p:selectOneRadio>
                        <br/>
                        <p:commandButton id="dlDescarga" value="Descargar" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);" 
                                         actionListener="#{solicitudSalienteMB.selectArchivoDownload}" icon="fa fa-download ">
                            <p:fileDownload value="#{solicitudSalienteMB.descargarArchivo}"  />
                        </p:commandButton>
                        <br/>
                        <br/>
                        <p:separator/>
                        <br/><br/>
                        <h:form enctype="multipart/form-data">
                            <p:outputLabel value="Seleccione el tipo de archivo para adjuntar " style="font-weight: bold" />
                            <p:outputLabel value="#{msg['label.asterisco']}" style="color: #e44d26;font-size:20px;font-weight:bold;"/>
                            <p:selectOneRadio id="documentosIntercambio" value="#{solicitudSalienteMB.codigoArc}" layout="responsive" 
                                              columns="1" style="font-size: 15px;margin-top: 2%;" rendered="true"> 
                                <f:selectItem itemLabel="Carta de solicitud de incentivo a la internacionalización (opcional)" itemValue="CI" />
                                <f:selectItem itemLabel="Carta de motivación" itemValue="CM" />
                                <f:selectItem itemLabel="Carta de compromiso" itemValue="CMP" />
                                <f:selectItem itemLabel="Carta de solvencia económica" itemValue="CSE" />
                                <f:selectItem itemLabel="Certificado de notas original" itemValue="CN" />
                                <f:selectItem itemLabel="Pasaporte" itemValue="FP" />
                                <f:selectItem itemLabel="Plan de homologación" itemValue="PH" />
                                <p:ajax listener="#{solicitudSalienteMB.definirCodigoArchivo}"/>
                            </p:selectOneRadio>

                            <p:selectOneRadio id="documentosPractica" value="#{solicitudSalienteMB.codigoArc}" layout="responsive" 
                                              columns="1" style="font-size: 15px;margin-top: 2%;" rendered="false">
                                <f:selectItem itemLabel="Carta de solicitud de incentivo a la internacionalización (opcional)" itemValue="CI" />
                                <f:selectItem itemLabel="Carta de motivación" itemValue="CM" />
                                <f:selectItem itemLabel="Carta de compromiso" itemValue="CMP" />
                                <f:selectItem itemLabel="Carta de solvencia económica" itemValue="CSE" />
                                <f:selectItem itemLabel="Certificado de notas original" itemValue="CN" />
                                <f:selectItem itemLabel="Pasaporte" itemValue="FP" />

                                <p:ajax listener="#{solicitudSalienteMB.definirCodigoArchivo}"/>
                            </p:selectOneRadio>

                            <p:selectOneRadio id="documentosCurso" value="#{solicitudSalienteMB.codigoArc}" layout="responsive" 
                                              columns="1" style="font-size: 15px;margin-top: 2%;" rendered="false"> 
                                <f:selectItem itemLabel="Carta de compromiso" itemValue="CMP" />
                                <f:selectItem itemLabel="Certificado de notas original" itemValue="CN" />
                                <f:selectItem itemLabel="Fotocopia de cédula de ciudadanía" itemValue="FC" />
                                <f:selectItem itemLabel="Pasaporte" itemValue="FP" />
                                <p:ajax listener="#{solicitudSalienteMB.definirCodigoArchivo}"/>
                            </p:selectOneRadio>
                            <br/>
                            <div class="ui-g">
                                <p:outputLabel value="- #{msg['label.msgSaveFile']}" style="color: #FF3333;font-size:18px;font-weight:bold;"/>     
                            </div>
                            <br/>
                            <p:growl id="messages" showDetail="true" />
                            <p:fileUpload fileUploadListener="#{solicitudSalienteMB.cargarDocumento}" 
                                          mode="advanced" 
                                          dragDropSupport="false"
                                          update="messages,solicitudSalienteF" 
                                          sizeLimit="10000000" 
                                          allowTypes="/(\.|\/)(pdf)$/"
                                          label="Seleccionar Archivo"
                                          uploadLabel="Cargar archivo"
                                          cancelLabel="Cancelar"
                                          invalidFileMessage="Tipo de archivo no valido."
                                          invalidSizeMessage="El tamaño del archivo es superior a lo permitido."
                                          style="font-size:12px"/>
                        </h:form>
                        <script type="text/javascript">
                            function start() {
                                PF('statusDialog').show();
                            }
                            function stop() {
                                PF('statusDialog').hide();
                            }
                        </script>
                        <br/>
                        <br/>
                        <h:panelGrid id="pSoporteAdjunto">
                            <p:dataTable id="tableArchivos" var="listaArchivo" 
                                         value="#{solicitudSalienteMB.listSoporteAdjunto}" style="margin-top:2%;width:120%;">
                                <f:facet name="header" >
                                    <p:outputPanel style="height: 25px;" >
                                        <h:outputText value="Archivos guardados" style="font-size:20px; font-weight: bold"/>
                                    </p:outputPanel>
                                </f:facet>
                                <p:column style="width:80px;text-align: center" headerText="Descripción">
                                    <h:outputText   value="#{listaArchivo.descripcion}"/>
                                </p:column>
                                <p:column style="width:80px;text-align: center" headerText="Archivo">                              
                                    <p:commandLink id="downloadFileLink" style="color: #007979;text-decoration: underline;" 
                                                   value="#{listaArchivo.nombre}"  ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);">
                                        <f:setPropertyActionListener value="#{listaArchivo}" target="#{solicitudSalienteMB.selectArchivo}" />
                                        <p:fileDownload value="#{solicitudSalienteMB.archivo}" />
                                    </p:commandLink>
                                </p:column>
                                <p:column style="width:40px;text-align: center"  headerText="#{msg['label.form.eliminar']}">
                                    <p:commandButton icon="fa fa-fw fa-remove" action="#{solicitudSalienteMB.eliminarSoporteAdj()}" update="solicitudSalienteF" immediate="true">
                                        <f:setPropertyActionListener value="#{listaArchivo}" target="#{solicitudSalienteMB.selectArchivo}" />
                                    </p:commandButton>
                                </p:column>
                            </p:dataTable>
                        </h:panelGrid>
                        <br/><br/>
                    </div>
                    <div class="ui-g-1"></div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-5"></div>
                    <div class="ui-g-2">
                        <p:commandButton icon="fa fa-send"  value="#{msg['label.enviar']}" 
                                         action="#{solicitudSalienteMB.enviarSolicitud}" style="font-size: 16px;"  update="pdReporte" />
                    </div>
                    <div class="ui-g-5"></div>
                </div>
                <br/><br/>
                <div>
                    <h:panelGrid columns="2" style="width: 100%;">
                        <p:commandLink value="#{msg['label.atras']}" style="color: #007979;text-decoration: underline;margin-left:5%"
                                       action="#{solicitudSalienteMB.btnAtras(5)}" update="solicitudSalienteF" />                      
                    </h:panelGrid>
                </div> 
            </p:panel>
        </div>
        <div class="ui-g-1"></div>
    </div>

    <p:dialog id="pdReporte" header="REPORTE" widgetVar="pdReporte" modal="false" width="800" height="700" resizable="false">  
        <br/>
        <div class="ui-g">
            <div class="ui-g-6">
            </div>
            <div class="ui-g-4">
                <h:outputText value="Solicitud enviada con éxito " style="font-size: 18px; font-weight: bold" />
            </div>
            <div class="ui-g-2">
                <p:commandButton value="Cerrar" action="#{solicitudSalienteMB.onIngresar()}" style="font-weight: bold; font-size: 18px;"/>
            </div>
        </div>
        <br/>
        <br/><br/>
        <p:panelGrid id="panelGridReporteEntr1" columns="1">
            <p:media value="/Reporte"  player="pdf" width="750" height="500"/>
        </p:panelGrid>
    </p:dialog>

    <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />

    <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
        <p:graphicImage name="/images/ajaxloadingbar.gif" />
    </p:dialog>
    <br/>
</ui:composition>
