<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/template.xhtml">
    
    <ui:define name="title">#{msg['label.titulo']}</ui:define>
    <ui:define name="viewname">#{msg['label.vista.formulario']}</ui:define>
    <ui:define name="content">     
            <p:growl id="growl" showDetail="true" sticky="true" showSummary="false" autoUpdate="true"/> 
            <div>
                <ui:include src="/secciones/inicio.xhtml" />        
            </div>
            <div>
                <ui:include src="/secciones/registro.xhtml" />
            </div>   
           <!-- <div>
                <ui:include src="/secciones/restablecerContrasenia.xhtml" />
            </div>  -->
    </ui:define>
</ui:composition>